@model modelo.Models.Local.ContratoActivo
@{
    ViewBag.Title = "Registrar Contrato Leasing";
    Layout = "~/Views/Shared/_Popup.cshtml";
}

<div class="card-body">
    <div class="row">
        <div class="col-md-12">
            <div class="card">

                <!-- /.card-header -->
                <div class="card-body table-responsive">
                    <table class="table table-bordered table-hover dataTable dtr-inline table-sm" width="100%" id="grillaParcela" data-order='[[ 1, "asc" ]]'>
                        <thead class="thead-light">

                            <tr>
                                <th>Mes</th>
                                <th>CortoPlazo</th>
                                <th>LargoPlazo</th>
                                <th>FechaPago</th>
                                <th>Periodo</th>
                                <th>Cuota</th>
                                <th>IvaDiferido</th>
                                <th>Intereses</th>
                                <th>Amortizacion</th>
                                <th>Saldo_Insoluto</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>

        </div>

    </div>

</div>
<!-- Modal Detalle-->
<div class="modal fade" id="ModalParcela" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div id="datosParcela"></div>

        </div>
    </div>
</div>
<div class="modal fade" id="ModalArchivo" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div id="datosArchivo"></div>

        </div>
    </div>
</div>
<script>

    $(document).ready(function () {
        AbrirMenu("Proyectos");
        initTable();

    });
    function ImportParcelas() {
        $("#datosArchivo").empty();
        $('#ModalArchivo').modal('show');
        $.ajax({
            url: "/Contrato/ImportAmortizacion",
            type: "Post",
            data: {
                IdContrato : '@Model.IdContrato'
            },
            beforeSend: function () {
                $("#datosArchivo").html('<i class="fa fa-circle-o-notch fa-spin"></i> Cargando...');
            },
            success: function (data) {
                $("#datosArchivo").empty();
                $("#datosArchivo").html(data);
            }
        });
    }
    function RefreshLista() {
        var table = initTable();
        table.ajax.reload(function (json) { });
    }
    function initTable() {
        var buttonCommon = {
            text: 'Exportar a Excel',
            extend: 'excelHtml5',
            title: '',
            exportOptions: {
                columns: "thead th:not(.noExport)",
                format: {
                    body: function (data, row, column, node) {
                        var texto = node.innerText;
                        return (column >=1) ?
                            texto.replace(/[$,]/g, '').replace(/[$.]/g, '').replace(/[UF.]/g, '') :
                            texto;
                    }
                }
            }
        };
        var table = $('#grillaParcela').DataTable({
            buttons: [
                {
                    text: 'Importar Amortización <i class="fa fa-file-import"></i>',
                    action: function (e, dt, node, config) {
                        ImportParcelas();
                    }
                },
                $.extend(true, {}, buttonCommon, {
                    filename: "AmortizacionContrato_@Model.IdContrato"
                })
            ],
            "retrieve": true,
            'ajax': {
                "type": "POST",
                "url": '/Contrato/DetAmortizacion_Read/',
                "data": function (d) {
                    d.IdContrato = @Model.IdContrato;
                },
                "dataSrc": ""
            },
            columnDefs: [
                { targets: '_all', className: 'align-middle' },
                {
                    targets: [6,7,8,9],
                    render: function (data) {
                        var numFormt = "";
                        if (data != null) {
                            var num = data.toString();
                            numFormt = "$" + SeparadorMiles(num);
                        }
                        return numFormt;
                    }
                },
                {
                    targets: [3],
                    render: function (data) {
                        var fecha = DateDatatable(data);
                        return fecha;
                    }
                }
            ],
            columns: [
                { "data": "Mes" },
                { "data": "CortoPlazo" },
                { "data": "LargoPlazo" },
                { "data": "FechaPago" },
                { "data": "Periodo" },
                { "data": "Cuota" },
                { "data": "IvaDiferido" },
                { "data": "Intereses" },
                { "data": "Amortizacion" },
                { "data": "Saldo_Insoluto" }
            ]
        });

        return table;
    }
</script>