@{
    ViewBag.Title = "Registrar Contrato Leasing";
    Layout = "~/Views/Shared/_Popup.cshtml";
}

<div class="card-body">

    <div class="card">
        <div class="card-header" style="background-color:white">
            <h3 class="card-title">Archivos del proyecto: Se registraron dos (02) activos.</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" style="background-color:lightblue">
                        <h3 class="card-title">Archivos del Activo 1</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3">
                                <select name="empresa" class="form-control">
                                    <option value="0">---Seleccione Documento---</option>
                                    <option value="1">Orden de Compra (Banco)</option>
                                    <option value="2">Orden de Compra</option>
                                    <option value="3">Contrato</option>
                                    <option value="4">Factura Proveedor</option>
                                    <option value="5">Orden de Compra</option>
                                    <option value="6">Factura</option>
                                    <option value="7">Acta de Entrega</option>
                                    <option value="8">Otros</option>
                                </select>
                            </div>
                            <div class="col-3">
                                <div class="col-sm-auto col-form-label">
                                    <button class="btn btn-primary btn-sm fileinput-button" id="btn_1"><i class="fa fa-upload"></i> Cargar Archivo</button>
                                </div>
                            </div>
                            <div class="col-3">
                                <select name="empresa" class="form-control">
                                    <option value="0">---Seleccione Documento---</option>
                                    <option value="1">Orden de Compra (Banco)</option>
                                    <option value="2">Orden de Compra</option>
                                    <option value="3">Contrato</option>
                                    <option value="4">Factura Proveedor</option>
                                    <option value="5">Orden de Compra</option>
                                    <option value="6">Factura</option>
                                    <option value="7">Acta de Entrega</option>
                                    <option value="8">Otros</option>
                                </select>
                            </div>
                            <div class="col-3">
                                <div class="col-sm-auto col-form-label">
                                    <button class="btn btn-primary btn-sm fileinput-button" id="btn_1"><i class="fa fa-upload"></i> Cargar Archivo</button>
                                </div>
                            </div>
                            <div class="col-3">
                                <select name="empresa" class="form-control">
                                    <option value="0">---Seleccione Documento---</option>
                                    <option value="1">Orden de Compra (Banco)</option>
                                    <option value="2">Orden de Compra</option>
                                    <option value="3">Contrato</option>
                                    <option value="4">Factura Proveedor</option>
                                    <option value="5">Orden de Compra</option>
                                    <option value="6">Factura</option>
                                    <option value="7">Acta de Entrega</option>
                                    <option value="8">Otros</option>
                                </select>
                            </div>
                            <div class="col-3">
                                <div class="col-sm-auto col-form-label">
                                    <button class="btn btn-primary btn-sm fileinput-button" id="btn_1"><i class="fa fa-upload"></i> Cargar Archivo</button>
                                </div>
                            </div>
                            <div class="col-3">
                                <select name="empresa" class="form-control">
                                    <option value="0">---Seleccione Documento---</option>
                                    <option value="1">Orden de Compra (Banco)</option>
                                    <option value="2">Orden de Compra</option>
                                    <option value="3">Contrato</option>
                                    <option value="4">Factura Proveedor</option>
                                    <option value="5">Orden de Compra</option>
                                    <option value="6">Factura</option>
                                    <option value="7">Acta de Entrega</option>
                                    <option value="8">Otros</option>
                                </select>
                            </div>
                            <div class="col-3">
                                <div class="col-sm-auto col-form-label">
                                    <button class="btn btn-primary btn-sm fileinput-button" id="btn_1"><i class="fa fa-upload"></i> Cargar Archivo</button>
                                </div>
                            </div>
                            <div class="col-3">
                                <select name="empresa" class="form-control">
                                    <option value="0">---Seleccione Documento---</option>
                                    <option value="1">Orden de Compra (Banco)</option>
                                    <option value="2">Orden de Compra</option>
                                    <option value="3">Contrato</option>
                                    <option value="4">Factura Proveedor</option>
                                    <option value="5">Orden de Compra</option>
                                    <option value="6">Factura</option>
                                    <option value="7">Acta de Entrega</option>
                                    <option value="8">Otros</option>
                                </select>
                            </div>
                            <div class="col-3">
                                <div class="col-sm-auto col-form-label">
                                    <button class="btn btn-primary btn-sm fileinput-button" id="btn_1"><i class="fa fa-upload"></i> Cargar Archivo</button>
                                </div>
                            </div>
                            <div class="col-3">
                                <select name="empresa" class="form-control">
                                    <option value="0">---Seleccione Documento---</option>
                                    <option value="1">Orden de Compra (Banco)</option>
                                    <option value="2">Orden de Compra</option>
                                    <option value="3">Contrato</option>
                                    <option value="4">Factura Proveedor</option>
                                    <option value="5">Orden de Compra</option>
                                    <option value="6">Factura</option>
                                    <option value="7">Acta de Entrega</option>
                                    <option value="8">Otros</option>
                                </select>
                            </div>
                            <div class="col-3">
                                <div class="col-sm-auto col-form-label">
                                    <button class="btn btn-primary btn-sm fileinput-button" id="btn_1"><i class="fa fa-upload"></i> Cargar Archivo</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" style="background-color:lightblue">
                        <h3 class="card-title">Archivos del Activo 2</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3">
                                <select name="empresa" class="form-control">
                                    <option value="0">---Seleccione Documento---</option>
                                    <option value="1">Orden de Compra (Banco)</option>
                                    <option value="2">Orden de Compra</option>
                                    <option value="3">Contrato</option>
                                    <option value="4">Factura Proveedor</option>
                                    <option value="5">Orden de Compra</option>
                                    <option value="6">Factura</option>
                                    <option value="7">Acta de Entrega</option>
                                    <option value="8">Otros</option>
                                </select>
                            </div>
                            <div class="col-3">
                                <div class="col-sm-auto col-form-label">
                                    <button class="btn btn-primary btn-sm fileinput-button" id="btn_1"><i class="fa fa-upload"></i> Cargar Archivo</button>
                                </div>
                            </div>
                            <div class="col-3">
                                <select name="empresa" class="form-control">
                                    <option value="0">---Seleccione Documento---</option>
                                    <option value="1">Orden de Compra (Banco)</option>
                                    <option value="2">Orden de Compra</option>
                                    <option value="3">Contrato</option>
                                    <option value="4">Factura Proveedor</option>
                                    <option value="5">Orden de Compra</option>
                                    <option value="6">Factura</option>
                                    <option value="7">Acta de Entrega</option>
                                    <option value="8">Otros</option>
                                </select>
                            </div>
                            <div class="col-3">
                                <div class="col-sm-auto col-form-label">
                                    <button class="btn btn-primary btn-sm fileinput-button" id="btn_1"><i class="fa fa-upload"></i> Cargar Archivo</button>
                                </div>
                            </div>
                            <div class="col-3">
                                <select name="empresa" class="form-control">
                                    <option value="0">---Seleccione Documento---</option>
                                    <option value="1">Orden de Compra (Banco)</option>
                                    <option value="2">Orden de Compra</option>
                                    <option value="3">Contrato</option>
                                    <option value="4">Factura Proveedor</option>
                                    <option value="5">Orden de Compra</option>
                                    <option value="6">Factura</option>
                                    <option value="7">Acta de Entrega</option>
                                    <option value="8">Otros</option>
                                </select>
                            </div>
                            <div class="col-3">
                                <div class="col-sm-auto col-form-label">
                                    <button class="btn btn-primary btn-sm fileinput-button" id="btn_1"><i class="fa fa-upload"></i> Cargar Archivo</button>
                                </div>
                            </div>
                            <div class="col-3">
                                <select name="empresa" class="form-control">
                                    <option value="0">---Seleccione Documento---</option>
                                    <option value="1">Orden de Compra (Banco)</option>
                                    <option value="2">Orden de Compra</option>
                                    <option value="3">Contrato</option>
                                    <option value="4">Factura Proveedor</option>
                                    <option value="5">Orden de Compra</option>
                                    <option value="6">Factura</option>
                                    <option value="7">Acta de Entrega</option>
                                    <option value="8">Otros</option>
                                </select>
                            </div>
                            <div class="col-3">
                                <div class="col-sm-auto col-form-label">
                                    <button class="btn btn-primary btn-sm fileinput-button" id="btn_1"><i class="fa fa-upload"></i> Cargar Archivo</button>
                                </div>
                            </div>
                            <div class="col-3">
                                <select name="empresa" class="form-control">
                                    <option value="0">---Seleccione Documento---</option>
                                    <option value="1">Orden de Compra (Banco)</option>
                                    <option value="2">Orden de Compra</option>
                                    <option value="3">Contrato</option>
                                    <option value="4">Factura Proveedor</option>
                                    <option value="5">Orden de Compra</option>
                                    <option value="6">Factura</option>
                                    <option value="7">Acta de Entrega</option>
                                    <option value="8">Otros</option>
                                </select>
                            </div>
                            <div class="col-3">
                                <div class="col-sm-auto col-form-label">
                                    <button class="btn btn-primary btn-sm fileinput-button" id="btn_1"><i class="fa fa-upload"></i> Cargar Archivo</button>
                                </div>
                            </div>
                            <div class="col-3">
                                <select name="empresa" class="form-control">
                                    <option value="0">---Seleccione Documento---</option>
                                    <option value="1">Orden de Compra (Banco)</option>
                                    <option value="2">Orden de Compra</option>
                                    <option value="3">Contrato</option>
                                    <option value="4">Factura Proveedor</option>
                                    <option value="5">Orden de Compra</option>
                                    <option value="6">Factura</option>
                                    <option value="7">Acta de Entrega</option>
                                    <option value="8">Otros</option>
                                </select>
                            </div>
                            <div class="col-3">
                                <div class="col-sm-auto col-form-label">
                                    <button class="btn btn-primary btn-sm fileinput-button" id="btn_1"><i class="fa fa-upload"></i> Cargar Archivo</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-info btn-sm" onclick="stepper1.previous()">Anterior</button>
            <button type="button" onclick="solicitudVerifica()" name="btnCrear" id="btnCrear" class="btn btn-primary btn-sm float-right">Guardar Contrato</button>
        </div>
    </div>

</div>
