
@{
    ViewBag.Title = "ModalEditarContratoLeasing";
}
@{
    Layout = "~/Views/Shared/_Popup.cshtml";
}
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Contrato Leasing</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="card-body">
                <div class="bs-stepper" id="stepper1">
                    <div class="bs-stepper-header" role="tablist">
                        <!-- your steps here -->
                        <div class="step" data-target="#logins-part">
                            <button type="button" class="step-trigger" role="tab" aria-controls="logins-part" id="logins-part-trigger">
                                <span class="bs-stepper-circle">1</span>
                                <span class="bs-stepper-label">Datos</span>
                            </button>
                        </div>
                        <div class="line"></div>
                        <div class="step" data-target="#amortizacion-part">
                            <button type="button" class="step-trigger" role="tab" aria-controls="amortizacion-part" id="amortizacion-part-trigger">
                                <span class="bs-stepper-circle">2</span>
                                <span class="bs-stepper-label">Amortización</span>
                            </button>
                        </div>
                        <div class="line"></div>
                        <div class="step" data-target="#documentos-part">
                            <button type="button" class="step-trigger" role="tab" aria-controls="documentos-part" id="documentos-part-trigger">
                                <span class="bs-stepper-circle">3</span>
                                <span class="bs-stepper-label">Documentos</span>
                            </button>
                        </div>
                    </div>
                    <div class="bs-stepper-content">
                        <!-- your steps content here -->
                        <div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">

                            @using (Ajax.BeginForm("AgregaSol", "Home", new AjaxOptions
                            {
                                InsertionMode = InsertionMode.Replace,
                                HttpMethod = "post",
                                OnSuccess = "Success_dl",
                                OnFailure = "Failure_dl"

                            }, new { id = "frmEdit", @class = "form-horizontal" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="ml-2">

                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-3 col-form-label">Empresa</label>
                                        <label for="inputEmail3" class="col-sm-3 col-form-label">MAQSUR S.A.</label>
                                        <label for="inputEmail3" class="col-sm-3 col-form-label">Nro. Contrato</label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control form-control-sm" name="NroContrato" id="NroContrato" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-2 col-form-label">Banco</label>
                                        <div class="col-sm-2">
                                            <select class="form-control form-control-sm">
                                                <option value="">--Seleccione Banco--</option>
                                                <option>BCI</option>
                                                <option>SANTANDER</option>
                                                <option>SCOTIABANK</option>
                                            </select>
                                        </div>
                                        <label for="inputEmail3" class="col-sm-2 col-form-label">Tasa Mensual</label>
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control form-control-sm" name="NroContrato" id="NroContrato" />
                                        </div>
                                        <label for="inputEmail3" class="col-sm-2 col-form-label">Tasa Anual</label>
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control form-control-sm" name="NroContrato" id="NroContrato" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-2 col-form-label">Plazo meses</label>
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control form-control-sm" name="NroContrato" id="NroContrato" />
                                        </div>
                                        <label for="inputEmail3" class="col-sm-2 col-form-label">Inicio</label>
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control form-control-sm" name="NroContrato" id="NroContrato" />
                                        </div>
                                        <label for="inputEmail3" class="col-sm-2 col-form-label">Término</label>
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control form-control-sm" name="NroContrato" id="NroContrato" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-6 col-form-label">A continuación registre el detalle del financiamiento:</label>

                                    </div>
                                    <div class="form-group row">

                                    </div>
                                    <div class="form-group row">
                                        <div class="align-content-lg-start">
                                            <div class="form-inline my-2 my-lg-0">
                                                <button class="btn btn-primary btn-sm justify-content-end" type="button" data-toggle="modal" data-target="#crear"><i class="fa fa-plus"></i> Nuevo Activo</button>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-hover dataTable dtr-inline" width="100%" id="grillaEmpresa" data-order='[[ 0, "asc" ]]'>
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th class="no-sort" width="3%">&nbsp;</th>
                                                        <th>Nro Activo</th>
                                                        <th>Familia</th>
                                                        <th>Descripcion</th>
                                                        <th>Clasif. Cuenta</th>
                                                        <th>Monto</th>
                                                        <th>Modelo</th>
                                                        <th>Año</th>
                                                        <th>Marca</th>
                                                        <th>Proveedor</th>
                                                        <th>Factura</th>
                                                        <th>Motor y Chasis</th>
                                                        <th>Patente</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#crear"><i class="far fa-eye"></i></button></td>
                                                        <td>0253</td>
                                                        <td>Maquinaria</td>
                                                        <td>Volquete Volvo</td>
                                                        <td>01-582-256-52</td>
                                                        <td>100,000.00</td>
                                                        <td>V34</td>
                                                        <td>2019</td>
                                                        <td>Volvo</td>
                                                        <td>Inversiones SAC</td>
                                                        <td>2569887</td>
                                                        <td>Volvo V34 Diesel</td>
                                                        <td>1247NH</td>
                                                        <td><button class="btn btn-primary btn-sm justify-content-end" type="button" data-toggle="modal" data-target="#crear"><i class="far fa-trash-alt"></i></button></td>
                                                    </tr>
                                                    <tr>
                                                        <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#crear"><i class="far fa-eye"></i></button></td>
                                                        <td>0653</td>
                                                        <td>Maquinaria</td>
                                                        <td>Volquete Volvo</td>
                                                        <td>01-582-256-52</td>
                                                        <td>180,000.00</td>
                                                        <td>H34</td>
                                                        <td>2018</td>
                                                        <td>Volvo</td>
                                                        <td>Inversiones SAC</td>
                                                        <td>6769832</td>
                                                        <td>Volvo h34 Diesel</td>
                                                        <td>1337NH</td>
                                                        <td><button class="btn btn-primary btn-sm justify-content-end" type="button" data-toggle="modal" data-target="#crear"><i class="far fa-trash-alt"></i></button></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td> </td>
                                                        <th>Total</th>
                                                        <td>280,000.00</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>

                                                </tbody>
                                            </table>




                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button type="button" onclick="location.href='/Home/Inicio'" class="btn btn-secondary btn-sm" data-dismiss="modal">Volver</button>
                                    <button type="submit" name="btnCrear" id="btnCrear" class="btn btn-primary btn-sm float-right">Siguiente</button>
                                </div>
                            }
                        </div>
                        <div id="amortizacion-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header" style="background-color:lightgrey">
                                        <h3 class="card-title">Cargar archivo</h3>
                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <label for="IdTributario" class="col-sm-6 col-form-label col-form-label-sm">Después de descargar la plantilla desde este <a href="C:\Users\Usuario\DocumentsPlantilla_Endeudamiento.xlsx">enlace</a> proceda a cargarla para procesarla.</label>
                                            <div class="col-6">
                                                <div class="col-sm-auto col-form-label">
                                                    <button class="btn btn-primary btn-sm fileinput-button" id="btn_1"><i class="fa fa-upload"></i> Cargar Archivo</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header" style="background-color:lightgrey">
                                        <h3 class="card-title">Resultado de la validación</h3>
                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-6">
                                                <label for="inputEmail3" class="col-sm-4 col-form-label">Archivo</label>
                                                <label for="inputEmail3" class="col-sm-4 col-form-label">Cronograma.xlsx</label>
                                                <label for="inputEmail3" class="col-sm-4 col-form-label">Filas procesadas</label>
                                                <label for="inputEmail3" class="col-sm-4 col-form-label">42</label>
                                                <label for="inputEmail3" class="col-sm-4 col-form-label">Monto total</label>
                                                <label for="inputEmail3" class="col-sm-4 col-form-label">15986263</label>
                                                <label for="inputEmail3" class="col-sm-4 col-form-label">Tasa mensual</label>
                                                <label for="inputEmail3" class="col-sm-4 col-form-label">0.025</label>
                                                <label for="inputEmail3" class="col-sm-4 col-form-label">Tasa anual</label>
                                                <label for="inputEmail3" class="col-sm-4 col-form-label">0.35</label>
                                                <label for="inputEmail3" class="col-sm-12 col-form-label">Los montos registrados inicialmente son consistentes con la data procesada en el archivo.</label>
                                            </div>
                                            <div class="col-6">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Fila</th>
                                                            <th>Resultado</th>
                                                            <th>Observaciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>Correcto</td>
                                                            <td>Columnas comprobadas.</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2</td>
                                                            <td>Correcto</td>
                                                            <td>Columnas comprobadas.</td>
                                                        </tr>
                                                        <tr>
                                                            <td>3</td>
                                                            <td>Error</td>
                                                            <td>Revisar columna 4, Revisar columna 5</td>
                                                        </tr>
                                                        <tr>
                                                            <td>4</td>
                                                            <td>Correcto</td>
                                                            <td>Columnas comprobadas.</td>
                                                        </tr>
                                                        <tr>
                                                            <td>5</td>
                                                            <td>Error</td>
                                                            <td>Número de columnas no coincide.</td>
                                                        </tr>
                                                        <tr>
                                                            <td>6</td>
                                                            <td>Correcto</td>
                                                            <td>Columnas comprobadas.</td>
                                                        </tr>
                                                        <tr>
                                                            <td>7</td>
                                                            <td>Correcto</td>
                                                            <td>Columnas comprobadas.</td>
                                                        </tr>
                                                        <tr>
                                                            <td>8</td>
                                                            <td>Correcto</td>
                                                            <td>Columnas comprobadas.</td>
                                                        </tr>
                                                    </tbody>
                                                </table>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="button" onclick="location.href='/Home/Inicio'" class="btn btn-secondary btn-sm" data-dismiss="modal">Volver</button>
                                <button type="submit" name="btnCrear" id="btnCrear" class="btn btn-primary btn-sm float-right">Siguiente</button>
                            </div>
                        </div>
                        <div id="documentos-part" class="content" role="tabpanel" aria-labelledby="documentos-part-trigger">

                            <div class="card">
                                <div class="card-header" style="background-color:lightgrey">
                                    <h3 class="card-title">Archivos del proyecto: Se registraron dos (02) activos.</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="col-md-12">
                                        <div class="card">
                                            <div class="card-header" style="background-color:lightblue">
                                                <h3 class="card-title">Archivos del Activo 1</h3>
                                                <div class="card-tools">
                                                    <button type="button" class="btn btn-tool">
                                                        <i class="fas fa-minus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <label for="IdTributario" class="col-sm-3 col-form-label col-form-label-sm">Orden de Compra (Banco)</label>
                                                    <div class="col-3">
                                                        <div class="col-sm-auto col-form-label">
                                                            <button class="btn btn-primary btn-sm fileinput-button" id="btn_1"><i class="fa fa-upload"></i> Cargar Archivo</button>
                                                        </div>
                                                    </div>
                                                    <label for="IdTributario" class="col-sm-3 col-form-label col-form-label-sm">Orden de Compra</label>
                                                    <div class="col-3">
                                                        <div class="col-sm-auto col-form-label">
                                                            <button class="btn btn-primary btn-sm fileinput-button" id="btn_1"><i class="fa fa-upload"></i> Cargar Archivo</button>
                                                        </div>
                                                    </div>
                                                    <label for="IdTributario" class="col-sm-3 col-form-label col-form-label-sm">Factura del Proveedor</label>
                                                    <div class="col-3">
                                                        <div class="col-sm-auto col-form-label">
                                                            <button class="btn btn-primary btn-sm fileinput-button" id="btn_1"><i class="fa fa-upload"></i> Cargar Archivo</button>
                                                        </div>
                                                    </div>
                                                    <label for="IdTributario" class="col-sm-3 col-form-label col-form-label-sm">Acta de Entrega</label>
                                                    <div class="col-3">
                                                        <div class="col-sm-auto col-form-label">
                                                            <button class="btn btn-primary btn-sm fileinput-button" id="btn_1"><i class="fa fa-upload"></i> Cargar Archivo</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="card">
                                            <div class="card-header" style="background-color:lightblue">
                                                <h3 class="card-title">Archivos del Activo 2</h3>
                                                <div class="card-tools">
                                                    <button type="button" class="btn btn-tool">
                                                        <i class="fas fa-minus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <label for="IdTributario" class="col-sm-3 col-form-label col-form-label-sm">Orden de Compra (Banco)</label>
                                                    <div class="col-3">
                                                        <div class="col-sm-auto col-form-label">
                                                            <button class="btn btn-primary btn-sm fileinput-button" id="btn_1"><i class="fa fa-upload"></i> Cargar Archivo</button>
                                                        </div>
                                                    </div>
                                                    <label for="IdTributario" class="col-sm-3 col-form-label col-form-label-sm">Orden de Compra</label>
                                                    <div class="col-3">
                                                        <div class="col-sm-auto col-form-label">
                                                            <button class="btn btn-primary btn-sm fileinput-button" id="btn_1"><i class="fa fa-upload"></i> Cargar Archivo</button>
                                                        </div>
                                                    </div>
                                                    <label for="IdTributario" class="col-sm-3 col-form-label col-form-label-sm">Factura del Proveedor</label>
                                                    <div class="col-3">
                                                        <div class="col-sm-auto col-form-label">
                                                            <button class="btn btn-primary btn-sm fileinput-button" id="btn_1"><i class="fa fa-upload"></i> Cargar Archivo</button>
                                                        </div>
                                                    </div>
                                                    <label for="IdTributario" class="col-sm-3 col-form-label col-form-label-sm">Acta de Entrega</label>
                                                    <div class="col-3">
                                                        <div class="col-sm-auto col-form-label">
                                                            <button class="btn btn-primary btn-sm fileinput-button" id="btn_1"><i class="fa fa-upload"></i> Cargar Archivo</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button type="button" class="btn btn-info btn-sm" onclick="stepper1.previous()">Anterior</button>
                                    <button type="button" onclick="solicitudVerifica()" name="btnCrear" id="btnCrear" class="btn btn-primary btn-sm float-right">Enviar Solicitud</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal fade" id="crear" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="modal-crearLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                @Html.Partial("ModalRegistrarActivo", null)
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Registro de Cambios</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover dataTable dtr-inline" width="100%" id="grillaLog" data-order='[[ 0, "asc" ]]'>
                        <thead class="thead-light">
                            <tr>
                                <th class="no-sort" width="3%">Item</th>
                                <th><p font-size:8px;">Fecha de Edición</p></th>
                                <th><p font-size:8px;">Usuario</p></th>
                                <th><p font-size:8px;">Descripción</p></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>11/11/2021 15:23:00</td>
                                <td>>mliman</td>
                                <td>Cambios realizados en: Contrato</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>14/11/2021 09:25:00</td>
                                <td>cortega</td>
                                <td>Cambios realizados en: Amortizaciones</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary btn-sm">Guardar</button>
    </div>

</div>
<script>
    $(document).ready(function () {

        $('#frmEdit').validate({
            debug: false,
            errorElement: "em",
            errorContainer: $("#warning")
        });
        $('#perfiles').select2({
            theme: 'bootstrap4'
        })
        window.top.esconderCargando();
    });

    function Success_dl(data) {
        esconderCargando();
        if (data.Estado == "0") {
            toastr.success(data.Mensaje);
            $('#modal-registro').modal('hide');
            RefreshLista();
        }
        else {
            toastr.error(data.Mensaje);
        }
    }
    function Failure_dl(data) {
        esconderCargando();
        toastr.error(data.Mensaje);
        $('#modal-registro').modal('hide');
    }

</script>
