@{
    ViewBag.Title = "Registrar Contrato Crédito";
}
<!-- BS Stepper -->
<link rel="stylesheet" href="~/Plantilla/AdminLTE/plugins/bs-stepper/css/bs-stepper.min.css">
<!-- BS-Stepper -->
<script src="~/Plantilla/AdminLTE/plugins/bs-stepper/js/bs-stepper.min.js"></script>
<div class="modal fade" id="modal-buscar" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id="datosBuscar">

            </div>
        </div>
    </div>
</div>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h5 class="h5 mb-0 text-gray-800">Nuevo Contrato Crédito</h5>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home/Inicio">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Inicio</li>
    </ol>
</div>
<div class="card">
    <div class="card-body">
        <div class="bs-stepper" id="stepper1">
            <div class="bs-stepper-header" role="tablist">
                <!-- your steps here -->
                <div class="step" data-target="#logins-part">
                    <button type="button" class="step-trigger" role="tab" aria-controls="logins-part" id="logins-part-trigger">
                        <span class="bs-stepper-circle">1</span>
                        <span class="bs-stepper-label">Datos</span>
                    </button>
                </div>
                <div class="line"></div>
                <div class="step" data-target="#documentos-part">
                    <button type="button" class="step-trigger" role="tab" aria-controls="documentos-part" id="documentos-part-trigger">
                        <span class="bs-stepper-circle">2</span>
                        <span class="bs-stepper-label">Documentos</span>
                    </button>
                </div>
            </div>
            <div class="bs-stepper-content">
                <!-- your steps content here -->
                <div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">

                    @using (Ajax.BeginForm("AgregaSol", "Home", new AjaxOptions
                    {
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "post",
                        OnSuccess = "Success_dl",
                        OnFailure = "Failure_dl"

                    }, new { id = "frmEdit", @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                    <div class="card">
                        <div class="card-header" style="background-color:white">
                            <h3 class="card-title">Datos Generales</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Licitación</label>
                                <div class="col-sm-2">
                                    <select class="form-control form-control-sm">
                                        <option value="0">---Seleccione Licitación---</option>
                                        <option value="1">CREDITO0001</option>
                                        <option value="2">CREDITO0002</option>
                                        <option value="3">CREDITO0003</option>
                                        <option value="3">CREDITO0004</option>
                                        <option value="3">CREDITO0005</option>
                                    </select>
                                </div>
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Sustento</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-sm" name="Sustento" id="Sustento" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-3 col-form-label">Empresa</label>
                                <div class="col-sm-3">
                                    <select class="form-control form-control-sm">
                                        <option value="0">---Seleccione Empresa---</option>
                                        <option value="1">MAQSUR S.A.</option>
                                        <option value="2">BIOMASA</option>
                                        <option value="3">TECSUR</option>
                                        <option value="3">MQS</option>
                                        <option value="3">NOK</option>
                                    </select>
                                </div>
                                <label for="inputEmail3" class="col-sm-3 col-form-label">Nro. Contrato</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control form-control-sm" name="NroContrato" id="NroContrato" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-3 col-form-label">Banco</label>
                                <div class="col-sm-3">
                                    <select class="form-control form-control-sm">
                                        <option value="">--Seleccione Banco--</option>
                                        <option>BCI</option>
                                        <option>SANTANDER</option>
                                        <option>SCOTIABANK</option>
                                    </select>
                                </div>
                                <label for="inputEmail3" class="col-sm-3 col-form-label">Monto</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control form-control-sm" name="Monto" id="Monto" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-3 col-form-label">Tipo Crédito</label>
                                <div class="col-sm-3">
                                    <select class="form-control form-control-sm">
                                        <option value="">--Seleccione Tipo Crédito--</option>
                                        <option>Estructurado sin Garantía</option>
                                        <option>Estructurado con Garantía</option>
                                        <option>Capital de Trabajo - Bullet</option>
                                    </select>
                                </div>
                                <label for="inputEmail3" class="col-sm-3 col-form-label">Tipo de Garantía</label>
                                <div class="col-sm-3">
                                    <textarea class="form-control" name="textarea" rows="1">Registrar el tipo de garantía</textarea>
                                </div>
                            </div>
                            <div class="form-group row">

                                <label for="inputEmail3" class="col-sm-3 col-form-label">Tasa Mensual</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control form-control-sm" name="NroContrato" id="NroContrato" />
                                </div>
                                <label for="inputEmail3" class="col-sm-3 col-form-label">Tasa Anual</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control form-control-sm" name="NroContrato" id="NroContrato" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Plazo meses</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control form-control-sm" name="NroContrato" id="NroContrato" />
                                </div>
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Inicio</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control form-control-sm" name="NroContrato" id="NroContrato" />
                                </div>
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Término</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control form-control-sm" name="NroContrato" id="NroContrato" />
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="button" onclick="location.href='/Home/Inicio'" class="btn btn-secondary btn-sm" data-dismiss="modal">Volver</button>
                            <button type="submit" name="btnCrear" id="btnCrear" class="btn btn-primary btn-sm float-right">Siguiente</button>
                        </div>
                    
                    </div>
                    }
                </div>
                <div id="documentos-part" class="content" role="tabpanel" aria-labelledby="documentos-part-trigger">
                        <div class="card">
                            <div class="card-header" style="background-color:white">
                                <h3 class="card-title">Archivos del proyecto</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header" style="background-color:lightblue">
                                            <h3 class="card-title">Archivos del Activo 1</h3>
                                            <div class="card-tools">
                                                <button type="button" class="btn btn-tool">
                                                    <i class="fas fa-minus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-3">
                                                    <select name="empresa" class="form-control">
                                                        <option value="0">---Seleccione Documento---</option>
                                                        <option value="1">Orden de Compra (Banco)</option>
                                                        <option value="2">Orden de Compra</option>
                                                        <option value="3">Contrato</option>
                                                        <option value="4">Factura Proveedor</option>
                                                        <option value="5">Orden de Compra</option>
                                                        <option value="6">Factura</option>
                                                        <option value="7">Acta de Entrega</option>
                                                        <option value="8">Otros</option>
                                                    </select>
                                                </div>
                                                <div class="col-3">
                                                    <div class="col-sm-auto col-form-label">
                                                        <button class="btn btn-primary btn-sm fileinput-button" id="btn_1"><i class="fa fa-upload"></i> Cargar Archivo</button>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <select name="empresa" class="form-control">
                                                        <option value="0">---Seleccione Documento---</option>
                                                        <option value="1">Orden de Compra (Banco)</option>
                                                        <option value="2">Orden de Compra</option>
                                                        <option value="3">Contrato</option>
                                                        <option value="4">Factura Proveedor</option>
                                                        <option value="5">Orden de Compra</option>
                                                        <option value="6">Factura</option>
                                                        <option value="7">Acta de Entrega</option>
                                                        <option value="8">Otros</option>
                                                    </select>
                                                </div>
                                                <div class="col-3">
                                                    <div class="col-sm-auto col-form-label">
                                                        <button class="btn btn-primary btn-sm fileinput-button" id="btn_1"><i class="fa fa-upload"></i> Cargar Archivo</button>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <select name="empresa" class="form-control">
                                                        <option value="0">---Seleccione Documento---</option>
                                                        <option value="1">Orden de Compra (Banco)</option>
                                                        <option value="2">Orden de Compra</option>
                                                        <option value="3">Contrato</option>
                                                        <option value="4">Factura Proveedor</option>
                                                        <option value="5">Orden de Compra</option>
                                                        <option value="6">Factura</option>
                                                        <option value="7">Acta de Entrega</option>
                                                        <option value="8">Otros</option>
                                                    </select>
                                                </div>
                                                <div class="col-3">
                                                    <div class="col-sm-auto col-form-label">
                                                        <button class="btn btn-primary btn-sm fileinput-button" id="btn_1"><i class="fa fa-upload"></i> Cargar Archivo</button>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <select name="empresa" class="form-control">
                                                        <option value="0">---Seleccione Documento---</option>
                                                        <option value="1">Orden de Compra (Banco)</option>
                                                        <option value="2">Orden de Compra</option>
                                                        <option value="3">Contrato</option>
                                                        <option value="4">Factura Proveedor</option>
                                                        <option value="5">Orden de Compra</option>
                                                        <option value="6">Factura</option>
                                                        <option value="7">Acta de Entrega</option>
                                                        <option value="8">Otros</option>
                                                    </select>
                                                </div>
                                                <div class="col-3">
                                                    <div class="col-sm-auto col-form-label">
                                                        <button class="btn btn-primary btn-sm fileinput-button" id="btn_1"><i class="fa fa-upload"></i> Cargar Archivo</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="button" class="btn btn-info btn-sm" onclick="stepper1.previous()">Anterior</button>
                                <button type="button" onclick="solicitudVerifica()" name="btnCrear" id="btnCrear" class="btn btn-primary btn-sm float-right">Guardar Contrato</button>
                            </div>
                        </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detalle Material</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalStock" tabindex="-1" role="dialog" aria-labelledby="modalStock" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detalle Stock</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="crear" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="modal-crearLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        @Html.Partial("ModalRegistrarActivo", null)
    </div>
</div>

<script>
    $(document).ready(function () {

    });
    function RefreshLista() {
        var table = initTable();
        table.ajax.reload(function (json) { });
    }
    function initTable() {
        var URL = "/Solicitud/solicitudPedidos_pedidos_Read/" + $("#p2_idSolicitud").val();
        //var buttonCommon = ExcelCommon();
        var table = $('#grillaProductos').DataTable({
            "paging": false,
            "searching": false,
            buttons: [],
            "retrieve": true,
            'ajax': {
                "type": "POST",
                "url": URL,
                "data": function (d) {
                },
                "dataSrc": ""
            },
            columns: [

                { "data": "CodProd" },
                { "data": "DesProd" },
                { "data": "CantidadRequerida" },
                { "data": "CantidadRetiro" },
                { "data": "UMedida" },
                { "data": "CostoUn" },
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function (o, type, row) {
                        var estado = o.CantidadRequerida * o.CostoUn;

                        return estado;
                    }
                },
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function (o, type, row) {
                        var boton = '';
                        boton = '<button class="btn btn-danger btn-sm" onclick="DeleteRegistro(' + o.IdSolicitudProducto_Producto + ')"><i class="fa fa-trash"></i></button> ';
                        return boton;
                    }
                }
            ]
        });

        return table;
    }

    function Success_dl(data) {
        esconderCargando();
        if (data.Estado == "0") {
            //toastr.success(data.Mensaje);
            $("#p2_empresa").html(data.NomEmpresa);
            $("#p2_CC").html(data.codCC);
            $("#p2_bode").html(data.CodBode);
            $("#p2_idSolicitud").val(data.idSoli)

            //datos proeyctos
            $("#nCliente").html($("#selectCliente option:selected").text());
            $("#nProyecto").html($("#selectProyecto option:selected").text());
            $("#nOt").html($("#NumeroOT").val());

            stepper1.next();

        }
        else {
            toastr.error(data.Mensaje);
        }
    }
    function Failure_dl(data) {
        esconderCargando();
        toastr.error(data.Mensaje);
    }

    $(document).ready(function () {
        //Validar formulario
        $('#frmEdit').validate({
            debug: false,
            errorElement: "em",
            errorContainer: $("#warning")
        });
        $("#addMaterial").hide();
        //$("#divSeleccionados").hide();
        $('#CodiCC').select2({
            theme: 'bootstrap4',
            placeholder: '--Seleccione Centro de Costo--'
        });
        $('#selectCliente').select2({
            placeholder: 'Busque Cliente',
            language: "es",
            minimumInputLength: 3,
            //data: dataCliente
            ajax: {
                url: '/Beneficiario/Clientes_Read',
                delay: 250,
                dataType: 'json',
                processResults: function (data) {
                    return {
                        results: data
                    };
                }
            }

        });
        $('#selectProyecto').select2({
            placeholder: 'Busque Proyecto',
            language: "es",
            //minimumInputLength: 3,
            //data: dataProyecto
            ajax: {
                url: '/Beneficiario/Proyectos_Read',
                delay: 250,
                dataType: 'json',
                processResults: function (data) {
                    return {
                        results: data
                    };
                }
            }

        });

        AbrirMenu('RegistrarContratoCredito');
        window.stepper1 = new Stepper(document.querySelector('#stepper1'), { linear: false });
    })

    function AgregarMaterial(codProduct) {
        var precioProd = $("#row_" + codProduct).find('.precio-producto').text();
        var cantidad = $("#cant_" + codProduct).val()
        var cantidadr = $("#cantr_" + codProduct).val()
        var producto = {
            IdSolicitudProducto: $("#p2_idSolicitud").val(),
            CodProd: codProduct,
            CostoUn: precioProd.replace("$", "").replace(".", ""),
            DesProd: $("#row_" + codProduct).find('.des-producto').text(),
            CantidadRequerida: cantidad,
            CantidadRetiro: cantidadr,
            UMedida: "UND"

        };

        $.ajax({
            url: "/Solicitud/Create/",
            type: "Post",
            data: producto,

            success: function (data) {
                if (data.Estado == 0) {
                    $("#textMaterial").val("")
                    $("#txtCantidad").val("")
                    $("#addMaterial").hide();
                    $("#divSeleccionados").show();
                    //$("#bodySeleccion").append(registro);
                    $("#tdMaterial").empty();
                    $("#row_" + codProduct).hide();
                    RefreshLista();
                }
                else {
                    $.notify(data.Mensaje, "error");
                }
            }
        });
    }
    function DeleteRegistro(idp) {
        $.ajax({
            url: "/Solicitud/Delete/",
            type: "Post",
            data: { id: idp },
            success: function (data) {
                toastr.success(data.Mensaje)
                RefreshLista();
            }
        });
    }
    function CancelMaterial() {
        $("#textMaterial").val("")
        $("#txtCantidad").val("")
        $("#addMaterial").hide();
        $("#tdMaterial").empty();
    }
    function BuscarProducto() {
        $("#datosBuscar").empty();
        $('#modal-buscar').modal('show');
        $.ajax({
            url: "/Solicitud/BuscarProducto",
            type: "Get",
            data: { IdEmpresa: $("#IdEmpresa").val(), nomProducto: $("#nomProductoBus").val(), codProducto: $("#codProductoBus").val() },
            beforeSend: function () {
                $("#datosBuscar").html('<i class="fa fa-circle-o-notch fa-spin"></i> Cargando...');
                mostrarCargando();
            },
            success: function (data) {
                $("#datosBuscar").empty();
                $("#datosBuscar").html(data);
                esconderCargando();
            }
        });
    }
    function solicitudVerifica() {
        var Id = $("#p2_idSolicitud").val()
        $("#alertaStock").hide()
        $.ajax({
            url: "/Solicitud/Verifica",
            type: "Get",
            data: { idSolicitud: Id },
            beforeSend: function () {
                $("#datosBuscar").html('<i class="fa fa-circle-o-notch fa-spin"></i> Cargando...');
                mostrarCargando();
            },
            success: function (data) {
                if (data.Estado == 1) { $("#alertaStock").show() }
                var tr = ""; var tgrl = 0;
                $.each(data.Listado, function (a, b) {
                    console.log(b)
                    tr += "<tr>";
                    tr += "  <td>" + b.CodProd + "</td>";
                    tr += "  <td>" + b.DesProd + "</td>";
                    tr += "  <td>$ " + b.CostoUn + "</td>";
                    tr += "  <td>" + b.CantidadRequerida + "</td>";
                    tr += "  <td>" + b.Stock + "</td>";
                    if (b.Status == "Nok") {

                        tr += "  <td><input type='text' name='cantidad' id='cant_" + b.CodProd + "' value='" + b.Stock + "' class='form-control form-control-sm' /></td>";

                    } else {
                        tr += "<td><button class='btn btn-xs btn-success'><i class='fa fa-check-circle'></i></button></td>";
                    }
                    tr += "  <td>$ " + b.total + "</td>";
                    tr += "</tr>";

                    tgrl += parseFloat(b.total)
                });

                tf = "<tr><th colspan='5'></th><th>Total</th><th class='text-right'>$ " + tgrl + "</th></tr>";


                $("#tbody").html(tr);
                esconderCargando();
                $('#modal-difStock').modal('show')
            }
        });
    }

    function envioSolicitud() {
        $("#idS").val($("#p2_idSolicitud").val());
        $("#form_envio").submit()
    }

    //nuevo proyecto
    function nuevoProyecto() {
        $("#modal-buscar .modal-content").empty();
        $('#modal-buscar').modal('show');
        tmpUrl = "/Home/creaProyecto";
        $.ajax({
            url: tmpUrl,
            type: "Get",
            data: {},
            success: function (data) {
                $("#modal-buscar .modal-content").empty();
                $("#modal-buscar .modal-content").html(data);
                esconderCargando();
            }
        });
    }

</script>