@{
    ViewBag.Title = "Registrar Contrato Leasing";
}
<!-- BS Stepper -->
<link rel="stylesheet" href="~/Plantilla/AdminLTE/plugins/bs-stepper/css/bs-stepper.min.css">
<!-- BS-Stepper -->
<script src="~/Plantilla/AdminLTE/plugins/bs-stepper/js/bs-stepper.min.js"></script>
<div class="modal fade" id="modal-buscar" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id="datosBuscar">

            </div>
        </div>
    </div>
</div>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h5 class="h5 mb-0 text-gray-800">Nuevo Contrato Leasing</h5>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home/Inicio">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Inicio</li>
    </ol>
</div>
<div class="card">
    <div class="card-body">
        <div class="bs-stepper" id="stepper1">
            <div class="bs-stepper-header" role="tablist">
                <!-- your steps here -->
                <div class="step" data-target="#logins-part">
                    <button type="button" class="step-trigger" role="tab" aria-controls="logins-part" id="logins-part-trigger">
                        <span class="bs-stepper-circle">1</span>
                        <span class="bs-stepper-label">Datos</span>
                    </button>
                </div>
                <div class="line"></div>
                <div class="step" data-target="#amortizacion-part">
                    <button type="button" class="step-trigger" role="tab" aria-controls="amortizacion-part" id="amortizacion-part-trigger">
                        <span class="bs-stepper-circle">2</span>
                        <span class="bs-stepper-label">Amortización</span>
                    </button>
                </div>
                <div class="line"></div>
                <div class="step" data-target="#documentos-part">
                    <button type="button" class="step-trigger" role="tab" aria-controls="documentos-part" id="documentos-part-trigger">
                        <span class="bs-stepper-circle">3</span>
                        <span class="bs-stepper-label">Documentos</span>
                    </button>
                </div>
            </div>
            <div class="bs-stepper-content">
                <!-- your steps content here -->
                <div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">

                    @using (Ajax.BeginForm("AgregaSol", "Home", new AjaxOptions
                    {
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "post",
                        OnSuccess = "Success_dl",
                        OnFailure = "Failure_dl"

                    }, new { id = "frmEdit", @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                    <div class="ml-2">

                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-3 col-form-label">Empresa</label>
                            <label for="inputEmail3" class="col-sm-3 col-form-label">MAQSUR S.A.</label>
                            <label for="inputEmail3" class="col-sm-3 col-form-label">Nro. Contrato</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control form-control-sm" name="NroContrato" id="NroContrato" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Banco</label>
                            <div class="col-sm-2">
                                <select class="form-control form-control-sm">
                                    <option value="">--Seleccione Banco--</option>
                                    <option>BCI</option>
                                    <option>SANTANDER</option>
                                    <option>SCOTIABANK</option>
                                </select>
                            </div>
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Tasa Mensual</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control form-control-sm" name="NroContrato" id="NroContrato" />
                            </div>
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Tasa Anual</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control form-control-sm" name="NroContrato" id="NroContrato" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Plazo meses</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control form-control-sm" name="NroContrato" id="NroContrato" />
                            </div>
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Inicio</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control form-control-sm" name="NroContrato" id="NroContrato" />
                            </div>
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Término</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control form-control-sm" name="NroContrato" id="NroContrato" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-6 col-form-label">A continuación registre el detalle del financiamiento:</label>

                        </div>
                        <div class="form-group row">
                            <nav class="navbar navbar-light mb-1" style="background-color: #e3f2fd;">
                                <div class="form-inline my-2 my-lg-0">
                                    <button class="btn btn-primary btn-sm justify-content-end" type="button" data-toggle="modal" data-target="#crear"><i class="fa fa-plus"></i>Nuevo Cliente</button>
                                </div>
                            </nav>
                            <div class="align-content-lg-start">
                                <div class="form-inline my-2 my-lg-0">
                                    <button class="btn btn-primary btn-sm justify-content-end" type="button" data-toggle="modal" data-target="#crear"><i class="fa fa-plus"></i> Nuevo Activo</button>
                                </div>
                            </div>
                            <div class="table-responsive mt-1">
                                <table class="table table-bordered table-hover dataTable dtr-inline" width="100%" id="grillaEmpresa" data-order='[[ 0, "asc" ]]'>
                                    <thead class="thead-light">
                                        <tr>
                                            <th class="no-sort" width="3%">&nbsp;</th>
                                            <th>Nro Activo</th>
                                            <th>Familia</th>
                                            <th>Descripcion</th>
                                            <th>Clasif. Cuenta</th>
                                            <th>Monto</th>
                                            <th>Modelo</th>
                                            <th>Año</th>
                                            <th>Marca</th>
                                            <th>Proveedor</th>
                                            <th>Factura</th>
                                            <th>Motor y Chasis</th>
                                            <th>Patente</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#crear"><i class="far fa-eye"></i></button></td>
                                            <td>0253</td>
                                            <td>Maquinaria</td>
                                            <td>Volquete Volvo</td>
                                            <td>01-582-256-52</td>
                                            <td>100,000.00</td>
                                            <td>V34</td>
                                            <td>2019</td>
                                            <td>Volvo</td>
                                            <td>Inversiones SAC</td>
                                            <td>2569887</td>
                                            <td>Volvo V34 Diesel</td>
                                            <td>1247NH</td>
                                            <td><button class="btn btn-primary btn-sm justify-content-end" type="button" data-toggle="modal" data-target="#crear"><i class="far fa-trash-alt"></i></button></td>
                                        </tr>
                                        <tr>
                                            <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#crear"><i class="far fa-eye"></i></button></td>
                                            <td>0653</td>
                                            <td>Maquinaria</td>
                                            <td>Volquete Volvo</td>
                                            <td>01-582-256-52</td>
                                            <td>180,000.00</td>
                                            <td>H34</td>
                                            <td>2018</td>
                                            <td>Volvo</td>
                                            <td>Inversiones SAC</td>
                                            <td>6769832</td>
                                            <td>Volvo h34 Diesel</td>
                                            <td>1337NH</td>
                                            <td><button class="btn btn-primary btn-sm justify-content-end" type="button" data-toggle="modal" data-target="#crear"><i class="far fa-trash-alt"></i></button></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td> </td>
                                            <th>Total</th>
                                            <td>280,000.00</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>

                                    </tbody>
                                </table>




                            </div>
                        </div>
                    </div>
                        <div class="card-footer">
                            <button type="button" onclick="location.href='/Home/Inicio'" class="btn btn-secondary btn-sm" data-dismiss="modal">Volver</button>
                            <button type="submit" name="btnCrear" id="btnCrear" class="btn btn-primary btn-sm float-right">Siguiente</button>
                        </div>
                    }
                </div>
                <div id="amortizacion-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" style="background-color:lightgrey">
                                <h3 class="card-title">Cargar archivo</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <label for="IdTributario" class="col-sm-6 col-form-label col-form-label-sm">Después de descargar la plantilla desde este <a href="C:\Users\Usuario\DocumentsPlantilla_Endeudamiento.xlsx">enlace</a> proceda a cargarla para procesarla.</label>
                                    <div class="col-6">
                                        <div class="col-sm-auto col-form-label">
                                            <button class="btn btn-primary btn-sm fileinput-button" id="btn_1"><i class="fa fa-upload"></i> Cargar Archivo</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" style="background-color:lightgrey">
                                <h3 class="card-title">Resultado de la validación</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6">
                                        <label for="inputEmail3" class="col-sm-4 col-form-label">Archivo</label>
                                        <label for="inputEmail3" class="col-sm-4 col-form-label">Cronograma.xlsx</label>
                                        <label for="inputEmail3" class="col-sm-4 col-form-label">Filas procesadas</label>
                                        <label for="inputEmail3" class="col-sm-4 col-form-label">42</label>
                                        <label for="inputEmail3" class="col-sm-4 col-form-label">Monto total</label>
                                        <label for="inputEmail3" class="col-sm-4 col-form-label">15986263</label>
                                        <label for="inputEmail3" class="col-sm-4 col-form-label">Tasa mensual</label>
                                        <label for="inputEmail3" class="col-sm-4 col-form-label">0.025</label>
                                        <label for="inputEmail3" class="col-sm-4 col-form-label">Tasa anual</label>
                                        <label for="inputEmail3" class="col-sm-4 col-form-label">0.35</label>
                                        <label for="inputEmail3" class="col-sm-12 col-form-label">Los montos registrados inicialmente son consistentes con la data procesada en el archivo.</label>
                                    </div>
                                    <div class="col-6">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Fila</th>
                                                    <th>Resultado</th>
                                                    <th>Observaciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Correcto</td>
                                                    <td>Columnas comprobadas.</td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>Correcto</td>
                                                    <td>Columnas comprobadas.</td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Error</td>
                                                    <td>Revisar columna 4, Revisar columna 5</td>
                                                </tr>
                                                <tr>
                                                    <td>4</td>
                                                    <td>Correcto</td>
                                                    <td>Columnas comprobadas.</td>
                                                </tr>
                                                <tr>
                                                    <td>5</td>
                                                    <td>Error</td>
                                                    <td>Número de columnas no coincide.</td>
                                                </tr>
                                                <tr>
                                                    <td>6</td>
                                                    <td>Correcto</td>
                                                    <td>Columnas comprobadas.</td>
                                                </tr>
                                                <tr>
                                                    <td>7</td>
                                                    <td>Correcto</td>
                                                    <td>Columnas comprobadas.</td>
                                                </tr>
                                                <tr>
                                                    <td>8</td>
                                                    <td>Correcto</td>
                                                    <td>Columnas comprobadas.</td>
                                                </tr>
                                            </tbody>
                                        </table>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" onclick="location.href='/Home/Inicio'" class="btn btn-secondary btn-sm" data-dismiss="modal">Volver</button>
                        <button type="submit" name="btnCrear" id="btnCrear" class="btn btn-primary btn-sm float-right">Siguiente</button>
                    </div>
                </div>
                <div id="documentos-part" class="content" role="tabpanel" aria-labelledby="documentos-part-trigger">

                        <div class="card">
                            <div class="card-header" style="background-color:lightgrey">
                                <h3 class="card-title">Archivos del proyecto: Se registraron dos (02) activos.</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header" style="background-color:lightblue">
                                            <h3 class="card-title">Archivos del Activo 1</h3>
                                            <div class="card-tools">
                                                <button type="button" class="btn btn-tool">
                                                    <i class="fas fa-minus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <label for="IdTributario" class="col-sm-3 col-form-label col-form-label-sm">Orden de Compra (Banco)</label>
                                                <div class="col-3">
                                                    <div class="col-sm-auto col-form-label">
                                                        <button class="btn btn-primary btn-sm fileinput-button" id="btn_1"><i class="fa fa-upload"></i> Cargar Archivo</button>
                                                    </div>
                                                </div>
                                                <label for="IdTributario" class="col-sm-3 col-form-label col-form-label-sm">Orden de Compra</label>
                                                <div class="col-3">
                                                    <div class="col-sm-auto col-form-label">
                                                        <button class="btn btn-primary btn-sm fileinput-button" id="btn_1"><i class="fa fa-upload"></i> Cargar Archivo</button>
                                                    </div>
                                                </div>
                                                <label for="IdTributario" class="col-sm-3 col-form-label col-form-label-sm">Factura del Proveedor</label>
                                                <div class="col-3">
                                                    <div class="col-sm-auto col-form-label">
                                                        <button class="btn btn-primary btn-sm fileinput-button" id="btn_1"><i class="fa fa-upload"></i> Cargar Archivo</button>
                                                    </div>
                                                </div>
                                                <label for="IdTributario" class="col-sm-3 col-form-label col-form-label-sm">Acta de Entrega</label>
                                                <div class="col-3">
                                                    <div class="col-sm-auto col-form-label">
                                                        <button class="btn btn-primary btn-sm fileinput-button" id="btn_1"><i class="fa fa-upload"></i> Cargar Archivo</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header" style="background-color:lightblue">
                                            <h3 class="card-title">Archivos del Activo 2</h3>
                                            <div class="card-tools">
                                                <button type="button" class="btn btn-tool">
                                                    <i class="fas fa-minus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <label for="IdTributario" class="col-sm-3 col-form-label col-form-label-sm">Orden de Compra (Banco)</label>
                                                <div class="col-3">
                                                    <div class="col-sm-auto col-form-label">
                                                        <button class="btn btn-primary btn-sm fileinput-button" id="btn_1"><i class="fa fa-upload"></i> Cargar Archivo</button>
                                                    </div>
                                                </div>
                                                <label for="IdTributario" class="col-sm-3 col-form-label col-form-label-sm">Orden de Compra</label>
                                                <div class="col-3">
                                                    <div class="col-sm-auto col-form-label">
                                                        <button class="btn btn-primary btn-sm fileinput-button" id="btn_1"><i class="fa fa-upload"></i> Cargar Archivo</button>
                                                    </div>
                                                </div>
                                                <label for="IdTributario" class="col-sm-3 col-form-label col-form-label-sm">Factura del Proveedor</label>
                                                <div class="col-3">
                                                    <div class="col-sm-auto col-form-label">
                                                        <button class="btn btn-primary btn-sm fileinput-button" id="btn_1"><i class="fa fa-upload"></i> Cargar Archivo</button>
                                                    </div>
                                                </div>
                                                <label for="IdTributario" class="col-sm-3 col-form-label col-form-label-sm">Acta de Entrega</label>
                                                <div class="col-3">
                                                    <div class="col-sm-auto col-form-label">
                                                        <button class="btn btn-primary btn-sm fileinput-button" id="btn_1"><i class="fa fa-upload"></i> Cargar Archivo</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="button" class="btn btn-info btn-sm" onclick="stepper1.previous()">Anterior</button>
                                    <button type="button" onclick="solicitudVerifica()" name="btnCrear" id="btnCrear" class="btn btn-primary btn-sm float-right">Enviar Solicitud</button>
                            </div>
                        </div>

                </div>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="crear" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="modal-crearLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        @Html.Partial("ModalRegistrarActivo", null)
    </div>
</div>
<script>
    $(document).ready(function () {

    });
    function RefreshLista() {
        var table = initTable();
        table.ajax.reload(function (json) { });
    }
    function initTable() {
        var URL = "/Solicitud/solicitudPedidos_pedidos_Read/" + $("#p2_idSolicitud").val();
        //var buttonCommon = ExcelCommon();
        var table = $('#grillaProductos').DataTable({
            "paging": false,
            "searching": false,
            buttons: [],
            "retrieve": true,
            'ajax': {
                "type": "POST",
                "url": URL,
                "data": function (d) {
                },
                "dataSrc": ""
            },
            columns: [

                { "data": "CodProd" },
                { "data": "DesProd" },
                { "data": "CantidadRequerida" },
                { "data": "CantidadRetiro" },
                { "data": "UMedida" },
                { "data": "CostoUn" },
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function (o, type, row) {
                        var estado = o.CantidadRequerida * o.CostoUn;

                        return estado;
                    }
                },
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function (o, type, row) {
                        var boton = '';
                        boton = '<button class="btn btn-danger btn-sm" onclick="DeleteRegistro(' + o.IdSolicitudProducto_Producto + ')"><i class="fa fa-trash"></i></button> ';
                        return boton;
                    }
                }
            ]
        });

        return table;
    }

    function Success_dl(data) {
        esconderCargando();
        if (data.Estado == "0") {
            //toastr.success(data.Mensaje);
            $("#p2_empresa").html(data.NomEmpresa);
            $("#p2_CC").html(data.codCC);
            $("#p2_bode").html(data.CodBode);
            $("#p2_idSolicitud").val(data.idSoli)

            //datos proeyctos
            $("#nCliente").html($("#selectCliente option:selected").text());
            $("#nProyecto").html($("#selectProyecto option:selected").text());
            $("#nOt").html($("#NumeroOT").val());

            stepper1.next();

        }
        else {
            toastr.error(data.Mensaje);
        }
    }
    function Failure_dl(data) {
        esconderCargando();
        toastr.error(data.Mensaje);
    }

    $(document).ready(function () {
        //Validar formulario
        $('#frmEdit').validate({
            debug: false,
            errorElement: "em",
            errorContainer: $("#warning")
        });
        $("#addMaterial").hide();
        //$("#divSeleccionados").hide();
        $('#CodiCC').select2({
            theme: 'bootstrap4',
            placeholder: '--Seleccione Centro de Costo--'
        });
        $('#selectCliente').select2({
            placeholder: 'Busque Cliente',
            language: "es",
            minimumInputLength: 3,
            //data: dataCliente
            ajax: {
                url: '/Beneficiario/Clientes_Read',
                delay: 250,
                dataType: 'json',
                processResults: function (data) {
                    return {
                        results: data
                    };
                }
            }

        });
        $('#selectProyecto').select2({
            placeholder: 'Busque Proyecto',
            language: "es",
            //minimumInputLength: 3,
            //data: dataProyecto
            ajax: {
                url: '/Beneficiario/Proyectos_Read',
                delay: 250,
                dataType: 'json',
                processResults: function (data) {
                    return {
                        results: data
                    };
                }
            }

        });

        AbrirMenu('RegistrarContratoLeasing');
        window.stepper1 = new Stepper(document.querySelector('#stepper1'), { linear: false });
    })

    function AgregarMaterial(codProduct) {
        var precioProd = $("#row_" + codProduct).find('.precio-producto').text();
        var cantidad = $("#cant_" + codProduct).val()
        var cantidadr = $("#cantr_" + codProduct).val()
        var producto = {
            IdSolicitudProducto: $("#p2_idSolicitud").val(),
            CodProd: codProduct,
            CostoUn: precioProd.replace("$", "").replace(".", ""),
            DesProd: $("#row_" + codProduct).find('.des-producto').text(),
            CantidadRequerida: cantidad,
            CantidadRetiro: cantidadr,
            UMedida: "UND"

        };

        $.ajax({
            url: "/Solicitud/Create/",
            type: "Post",
            data: producto,

            success: function (data) {
                if (data.Estado == 0) {
                    $("#textMaterial").val("")
                    $("#txtCantidad").val("")
                    $("#addMaterial").hide();
                    $("#divSeleccionados").show();
                    //$("#bodySeleccion").append(registro);
                    $("#tdMaterial").empty();
                    $("#row_" + codProduct).hide();
                    RefreshLista();
                }
                else {
                    $.notify(data.Mensaje, "error");
                }
            }
        });
    }
    function DeleteRegistro(idp) {
        $.ajax({
            url: "/Solicitud/Delete/",
            type: "Post",
            data: { id: idp },
            success: function (data) {
                toastr.success(data.Mensaje)
                RefreshLista();
            }
        });
    }
    function CancelMaterial() {
        $("#textMaterial").val("")
        $("#txtCantidad").val("")
        $("#addMaterial").hide();
        $("#tdMaterial").empty();
    }
    function BuscarProducto() {
        $("#datosBuscar").empty();
        $('#modal-buscar').modal('show');
        $.ajax({
            url: "/Solicitud/BuscarProducto",
            type: "Get",
            data: { IdEmpresa: $("#IdEmpresa").val(), nomProducto: $("#nomProductoBus").val(), codProducto: $("#codProductoBus").val() },
            beforeSend: function () {
                $("#datosBuscar").html('<i class="fa fa-circle-o-notch fa-spin"></i> Cargando...');
                mostrarCargando();
            },
            success: function (data) {
                $("#datosBuscar").empty();
                $("#datosBuscar").html(data);
                esconderCargando();
            }
        });
    }
    function solicitudVerifica() {
        var Id = $("#p2_idSolicitud").val()
        $("#alertaStock").hide()
        $.ajax({
            url: "/Solicitud/Verifica",
            type: "Get",
            data: { idSolicitud: Id },
            beforeSend: function () {
                $("#datosBuscar").html('<i class="fa fa-circle-o-notch fa-spin"></i> Cargando...');
                mostrarCargando();
            },
            success: function (data) {
                if (data.Estado == 1) { $("#alertaStock").show() }
                var tr = ""; var tgrl = 0;
                $.each(data.Listado, function (a, b) {
                    console.log(b)
                    tr += "<tr>";
                    tr += "  <td>" + b.CodProd + "</td>";
                    tr += "  <td>" + b.DesProd + "</td>";
                    tr += "  <td>$ " + b.CostoUn + "</td>";
                    tr += "  <td>" + b.CantidadRequerida + "</td>";
                    tr += "  <td>" + b.Stock + "</td>";
                    if (b.Status == "Nok") {

                        tr += "  <td><input type='text' name='cantidad' id='cant_" + b.CodProd + "' value='" + b.Stock + "' class='form-control form-control-sm' /></td>";

                    } else {
                        tr += "<td><button class='btn btn-xs btn-success'><i class='fa fa-check-circle'></i></button></td>";
                    }
                    tr += "  <td>$ " + b.total + "</td>";
                    tr += "</tr>";

                    tgrl += parseFloat(b.total)
                });

                tf = "<tr><th colspan='5'></th><th>Total</th><th class='text-right'>$ " + tgrl + "</th></tr>";


                $("#tbody").html(tr);
                esconderCargando();
                $('#modal-difStock').modal('show')
            }
        });
    }

    function envioSolicitud() {
        $("#idS").val($("#p2_idSolicitud").val());
        $("#form_envio").submit()
    }

    //nuevo proyecto
    function nuevoProyecto() {
        $("#modal-buscar .modal-content").empty();
        $('#modal-buscar').modal('show');
        tmpUrl = "/Home/creaProyecto";
        $.ajax({
            url: tmpUrl,
            type: "Get",
            data: {},
            success: function (data) {
                $("#modal-buscar .modal-content").empty();
                $("#modal-buscar .modal-content").html(data);
                esconderCargando();
            }
        });
    }

</script>