@model modelo.ViewModel.ContratoViewModel
@{
    ViewBag.Title = "Registrar Contrato Leasing";
}
<div class="modal fade" id="modal-buscar" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id="datosBuscar">

            </div>
        </div>
    </div>
</div>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h5 class="h5 mb-0 text-gray-800">Nuevo Contrato Leasing</h5>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home/Inicio">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Inicio</li>
    </ol>
</div>
@{
    var habilitaTab = "";
    /*if (Model.ExisteReserva == "N")
    {
        habilitaTab = " disabled ";
    }*/
}

<input type="hidden" name="idContrato" id="idContrato" value="@Model.IdContrato" />
<div class="card-body">
    <div class="card card-primary card-outline card-outline-tabs">
        <div class="card-header p-0 border-bottom-0">
            <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link nav-link-reserva active" id="header1" data-toggle="pill" href="#" onclick="CargaTab('tab1',1)" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true">Datos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-reserva @habilitaTab" id="header2" data-toggle="pill" href="#" onclick="CargaTab('tab2',2)" role="tab" aria-controls="custom-tabs-four-pago" aria-selected="false">Amortización</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-reserva @habilitaTab" id="header3" data-toggle="pill" href="#" onclick="CargaTab('tab3',3)" role="tab" aria-controls="custom-tabs-four-doc" aria-selected="false">Documentos</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="custom-tabs-four-tabContent">
                <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                </div>
                <div class="tab-pane fade" id="tab2" role="tabpanel">
                </div>
                <div class="tab-pane fade" id="tab3" role="tabpanel">
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        AbrirMenu("RegistrarContrato");
        $('.tab-pane').removeClass("show").removeClass("active");
        CargaTab('tab1', '1')

    });
    function CargaTab(div, op) {
        $('.tab-pane').removeClass("show").removeClass("active");
        $('.nav-link-reserva').removeClass("active");
        $("#tab1").empty();
        $("#tab2").empty();
        $("#tab3").empty();
        $("#header" + op).addClass("active");
        url = "";
        if (op == 1) {
            url = 'AddContratoLeasing';
            $("#tab1").addClass("show").addClass("active");
        }
        if (op == 2) {
            url = 'AddAmortizacion';
            $("#tab2").addClass("show").addClass("active");
        }
        if (op == 3) {
            url = 'AddDocumentoLeasing';
            $("#tab3").addClass("show").addClass("active");
        }

        $.ajax({
            url: '/Contrato/' + url,
            data: { idContrato: $("#idContrato").val() },
            async: true,
            contentType: "application/x-www-form-urlencoded",
            dataType: "html",
            global: true,
            ifModified: false,
            processData: true,
            //data: { idDocumento: op },
            //data: ReemplazoCadena(aux_busqueda),
            beforeSend: function () {
                $("#" + div).empty();
                $("#" + div).html('<i class="fa fa-circle-o-notch fa-spin"></i> Cargando...');
            },
            success: function (html) {
                //html=decodeURIComponent(html);

                $("#" + div).empty(),
                    $("#" + div).append(html);
            },
            type: "post"
        });
    }

</script>