@{
    ViewBag.Title = "Buscar Activos";
}

<div class="d-sm-flex align-items-center justify-content-between">
    <h5 class="h5 mb-0 text-gray-800">@ViewBag.Title</h5>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home/Inicio">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Inicio</li>
    </ol>
</div>
<h6 class="h6 mb-0 text-gray-800">Acá puedes revisar los activos de todas las empresas.</h6>
<br />


<div class="row">
    <div class="card col-lg-12">
        <div class="card card-outline card-info collapsed-card">
            <div class="card-header">
                <h3 class="card-title">Filtros</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <input type="text" class="form-control form-control-sm" name="numeroActivo" id="numeroActivoB" placeholder="Número Activo">
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control form-control-sm" name="codigoInterno" id="codigoInternoB" placeholder="Código Interno">
                    </div>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-2">
                        <div class="row justify-content-end">
                            <button class="btn btn-info btn-sm " type="button" onclick="RefreshLista()"><i class="fa fa-search"></i> Filtrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Detalle de activos</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-sm-1">
                        <nav class="navbar navbar-light mb-1" style="background-color: #e3f2fd;">
                            <div class="form-inline my-1 my-lg-0">
                                <button class="btn btn-primary btn-sm justify-content-end" type="button" data-toggle="modal" data-target="#ModalCargaActivo"><i class="fa fa-plus"></i>Cargar Activo desde Softland</button>
                            </div>
                        </nav>
                    </div>
                    <div class="col-sm-10">
                    </div>
                    <div class="col-sm-1">
                        <nav class="navbar navbar-light mb-1" style="background-color: #e3f2fd;">
                            <div class="form-inline my-1 my-lg-0">
                                <button class="btn btn-primary btn-sm justify-content-end" type="button" onclick="EditActivo(0)" id="btnNuevo" data-toggle="modal" data-target="#ModalAddActivo"><i class="fa fa-plus"></i>Nuevo Activo</button>
                                <!--<button class="btn btn-primary btn-sm justify-content-end" type="button" id="btnMasivo" data-toggle="modal" data-target="#ModalCargaMasivaA"><i class="fa fa-plus"></i>Carga Masiva Activo</button> -->
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover dataTable dtr-inline" width="100%" id="grillaActivo" data-order='[[ 0, "asc" ]]'>
                        <thead class="thead-light">
                            <tr>
                                <th class="noExport"></th>
                                <th class="noExport"></th>
                                <th>Num. Interno</th>
                                <th>Cod. Softland</th>
                                <th>Capacidad</th>
                                <th>Descripción</th>
                                <th>Marca</th>
                                <th>Modelo</th>
                                <th>Motor</th>
                                <th>Serie</th>
                                <th>Año</th>
                                <th>Valor</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>
</div>
<!--
<div class="modal fade" id="ModalCargaMasivaA" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="modal-crearLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    </div>
</div>
-->
<div class="modal fade" id="ModalAddActivo" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="modal-crearLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div id="datosActivo"></div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        //$.fn.dataTable.moment('DD/MM/YYYY');
        AbrirMenu("ControlInterno");
        RefreshLista();
    });

    function RefreshLista() {
        //$('#grillaActivo').empty();
        var table = initTable();
        table.ajax.reload(function (json) { });
    }

    function initTable() {
        var buttonCommon = {
            text: 'Exportar a Excel',
            title: 'ACTIVOS ',
            extend: 'excelHtml5',
            exportOptions: {
                columns: "thead th:not(.noExport)"
            }
        };
        var table = $('#grillaActivo').DataTable({
            "retrieve": true,
            'ajax': {
                "type": "POST",
                "url": '/Activo/ListaActivo_Read/',
                "data": function (d) {
                    d.numeroActivo = $('#numeroActivoB').val();
                    d.codigoActivo = $('#codigoInternoB').val();
                },
                "dataSrc": ""
            },
            /*columnDefs: [
                { targets: '_all', className: 'align-middle' },
                {
                    targets: [5, 6],
                    render: function (data) {
                        var fecha = DateDatatable(data);
                        return fecha;
                    }
                }
            ],*/
            buttons: [
                $.extend(true, {}, buttonCommon, {
                    filename: "Activos",
                    sheetName: "Activos"
                })
            ],
            columns: [
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function (o, type, row) {
                        var boton = '';
                        // if (o.Editable == true) {
                        boton = '<a class="btn btn-info btn-sm" data-toggle="modal" data-target="#ModalAddActivo" onclick="EditActivo(' + o.IdActivo + ')"><i class="fa fa-edit"></i></a> ';
                        //}
                        return boton;
                    }
                },
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function (o, type, row) {
                        var boton = '';
                        // if (o.Editable == true) {
                        boton += '<a class="btn btn-danger btn-sm" onclick="EliminarActivo(' + o.IdActivo + ')"><i class="fa fa-trash"></i></a> ';
                        //}
                        return boton;
                    }
                },
                { "data": "NumeroInterno" },
                { "data": "CodSoftland" },
                { "data": "Capacidad" },
                { "data": "Descripcion" },
                { "data": "Marca" },
                { "data": "Modelo" },
                { "data": "Motor" },
                { "data": "Serie" },
                { "data": "Anio" },
                { "data": "Valor" }
            ]
        });
        $("#grillaActivo").dataTable().fnDestroy();
        return table;
    }

    function EditActivo(idActivo) {
        //$("#datosMovimiento").empty();
        $('#ModalAddActivo').modal('show');
        $.ajax({
            url: "/Activo/ModalVerActivo",
            type: "Post",
            data: { IdActivo: idActivo },
            beforeSend: function () {
                $("#datosActivo").html('<i class="fa fa-circle-o-notch fa-spin"></i> Cargando...');
            },
            success: function (data) {
                $("#datosActivo").empty();
                $("#datosActivo").html(data);
            }
        });
    }

    function EliminarActivo(idActivo) {
        $('#idActivo').val(idActivo);
        a = confirm("Seguro de Eliminar el registro seleccionado?")
        if (a) {
            $.ajax({
                type: 'POST',
                url: '/Activo/EliminarActivo',
                data: { idActivo: idActivo},
                success: function (data) {
                    Success_dl(data);
                },
                failure: function (data) {
                    Failure_dl(data);
                }
            })
        }
    }

    function Success_dl(data) {
        if (data.result.Estado == "0") {
            toastr.success(data.result.Mensaje);
            RefreshLista();

        }
        else {
            toastr.error(data.result.Mensaje);
        }
    }
    function Failure_dl(data) {
        //esconderCargando();
        toastr.error(data.result.Mensaje);
    }
</script>
