@{
    ViewBag.Title = "Buscar Licitación";
}
@{
    tesoreria.Helper.Seguridad seguridad = System.Web.HttpContext.Current.Session["Seguridad"] as tesoreria.Helper.Seguridad;
}

<div class="d-sm-flex align-items-center justify-content-between">
    <h5 class="h5 mb-0 text-gray-800">Buscar Licitaciones</h5>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home/Inicio">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Inicio</li>
    </ol>
</div>
<h6 class="h6 mb-0 text-gray-800">Acá puedes revisar las licitaciones registradas de todas las empresas.</h6>
<br />


<div class="row">
    <div class="card col-lg-12">
        <div class="card card-outline card-info collapsed-card">
            <div class="card-header">
                <h3 class="card-title">Filtros</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2">
                        @Html.DropDownList("bancoB", (SelectList)ViewData["listaBanco"], "--Seleccione Banco--", htmlAttributes: new { @class = "form-control form-control-sm" })
                    </div>
                    <div class="col-md-2">
                        @Html.DropDownList("empresaB", (SelectList)ViewData["listaEmpresa"], "--Seleccione Empresa--", htmlAttributes: new { @class = "form-control form-control-sm" })
                    </div>
                    <div class="col-md-2">
                        @Html.DropDownList("tipoFinanciamientoB", (SelectList)ViewData["listaTipoFinancimiento"], "--Seleccione Tipo Financiamiento--", htmlAttributes: new { @class = "form-control form-control-sm" })
                    </div>
                    <div class="col-md-2">
                        
                    </div>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-2">
                        <div class="row justify-content-end">
                            <button class="btn btn-info btn-sm " type="button" onclick="RefreshLista()"><i class="fa fa-search"></i> Filtrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Detalle</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover dataTable dtr-inline" width="100%" id="grillaLicitacion" data-order='[[ 0, "asc" ]]'>
                        <thead class="thead-light">
                            <tr>
                                <th class="no-sort" width="3%"><i class="fa fa-eye"></i></th>
                                <th class="no-sort" width="3%"><i class="fa fa-book-open"></i></th>
                                <th width="10%">Autogenerado</th>
                                <th width="10%">Número Contrato</th>
                                <th>Empresa</th>
                                <th>Tipo Financiamiento</th>
                                <th>Monto a financiar</th>
                                <th class="no-sort" width="3%"><i class="far fa-trash-alt"></i></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="ModalVerLicitacion" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="modal-verlicitacion" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div id="datosLicitacion"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalEditarLicitacion" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="modal-editarlicitacion" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        
    </div>
</div>

<script>
    $(document).ready(function () {
        AbrirMenu("LicitacionBuscar");
        initTable();
    });

    function RefreshLista() {
        var table = initTable();
        table.ajax.reload(function (json) { });
    }

    function initTable() {
        var table = $('#grillaLicitacion').DataTable({
            "retrieve": true,
            'ajax': {
                "type": "POST",
                "url": '/Licitacion/ListaLicitacion_Read/',
                "data": function (d) {
                    d.idBanco = $('#bancoB').val();
                    d.idEmpresa = $('#empresaB').val();
                    d.idTipoFinanciamiento = $('#tipoFinanciamientoB').val();
                },
                "dataSrc": ""
            },
            columnDefs: [
                { targets: '_all', className: 'align-middle' },
                {
                    targets: [6],
                    render: function (data, type, row) {
                        var numFormt = "";
                        if (data != null) {
                            var num = data.toString();
                            numFormt = SeparadorMiles(num);
                        }
                        return numFormt;
                    }
                }
            ],
            columns: [
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function (o, type, row) {
                        var boton = '';
                        boton = '<button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#ModalVerLicitacion" onclick="VerLicitacion(' + o.IdLicitacion + ')"><i class="fa fa-eye"></i></button> ';
                        return boton;
                    }
                },
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function (o, type, row) {
                        var boton = '';
                        boton += '<button class="btn btn-info btn-sm" type="button" onclick="EditarLicitacion(' + o.IdLicitacion + ')"><i class="fa fa-book-open"></i></button> ';
                        return boton;
                    }
                },
                { "data": "Autogenerado" },
                { "data": "NumeroContrato" },
                { "data": "RazonSocial" },
                { "data": "NombreTipoFinanciamiento" },
                { "data": "Monto" },
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function (o, type, row) {
                        var boton = '';
                        boton += '<button class="btn btn-primary btn-sm" type="button" onclick="EliminarLicitacion(' + o.IdLicitacion + ')"><i class="far fa-trash-alt"></i></button> ';
                        return boton;
                    }
                }
            ]
        });

        return table;
    }

    function VerLicitacion(idLicitacion) {
        $.ajax({
            url: "/Licitacion/ModalVerLicitacion",
            type: "Post",
            data: { idLicitacion: idLicitacion },
            beforeSend: function () {
                $("#datosLicitacion").html('<i class="fa fa-circle-o-notch fa-spin"></i> Cargando...');
            },
            success: function (data) {
                $("#datosLicitacion").empty();
                $("#datosLicitacion").html(data);
            }
        });
    }

    function EliminarLicitacion(idLicitacion) {
        a = confirm("Seguro de Eliminar el registro seleccionado?")
        if (a) {
            $.ajax({
                url: "/Licitacion/DeleteLicitacion",
                type: "Post",
                data: {
                    idLicitacion: idLicitacion
                },
                success: function (data) {
                    toastr.success(data.Mensaje);
                    RefreshLista();
                },
                failure: function (data) {
                    toastr.error(data.Mensaje);
                }
            });
        }
    }
</script>
