@{
    ViewBag.Title = "Registrar Licitacion";
}
<!-- BS Stepper -->
<link rel="stylesheet" href="~/Plantilla/AdminLTE/plugins/bs-stepper/css/bs-stepper.min.css">
<!-- BS-Stepper -->
<script src="~/Plantilla/AdminLTE/plugins/bs-stepper/js/bs-stepper.min.js"></script>
<div class="modal fade" id="modal-buscar" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id="datosBuscar">

            </div>
        </div>
    </div>
</div>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h5 class="h5 mb-0 text-gray-800">
        Nueva Licitación</h5>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Home/Inicio">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Registrar Licitación</li>
            </ol>
</div>

<nav class="navbar navbar-light mb-1" style="background-color: #e3f2fd;">
    <div class="form-inline my-2 my-lg-0">

    </div>
    <div class="form-inline my-2 my-lg-0">
        <button class="btn btn-primary btn-sm justify-content-end" type="button" onclick="CreateRegistro(0)"><i class="fa fa-plus"></i> Nueva Licitación</button>
    </div>
</nav>

<div class="card card-outline card-info collapsed-card">
    <div class="card-header">
        <h3 class="card-title">Filtros</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="form-group form-group-sm">
            <div class="col-12 row">
                <div class="col-md-2">
                    @Html.DropDownList("empresaB", (SelectList)ViewData["listaEmpresa"], "--Seleccione Empresa--", htmlAttributes: new { @class = "form-control form-control-sm" })
                </div>
                <div class="col-md-2">
                    @Html.DropDownList("tipoFinanciamientoB", (SelectList)ViewData["listaTipoFinancimiento"], "--Seleccione Tipo Financiamiento--", htmlAttributes: new { @class = "form-control form-control-sm" })
                </div>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <div class="col-sm-12">
                <button class="btn btn-primary btn-block" type="button" onclick="RefreshLista()"><i class="fa fa-search"></i> Filtrar</button>
            </div>
        </div>
            
        
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Licitaciones Activas</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body table-responsive">
        <table class="table table-bordered table-hover dataTable dtr-inline" width="100%" id="grillaLicitacion" data-order='[[ 1, "asc" ]]'>
            <thead class="thead-light">
                <tr>
                    <th>Acción</th>
                    <th>Número Licitación</th>
                    <th>Empresa</th>
                    <th>Tipo Financiamiento</th>
                    <th>Monto</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
   
<form name="frmLicitacion" id="frmLicitacion" method="post">
    <input type="hidden" name="idLicitacion" id="idLicitacion" />
</form>
<script>
    $(document).ready(function () {
        AbrirMenu("RegistrarLicitacion");
        Buscar();
    });


    function RefreshLista() {
        //$('#grillaParcela').empty();
        var table = initTable();
        table.ajax.reload(function (json) { });
    }

    function Buscar() {
        RefreshLista();
    }

    function initTable() {
        var table = $('#grillaLicitacion').DataTable({
            "retrieve": true,
            'ajax': {
                "type": "POST",
                "url": '/Licitacion/ListaLicitacion_Read/',
                "data": function (d) {
                    d.idEmpresa = $('#empresaB').val();
                    d.idTipoFinanciamiento = $('#tipoFinanciamientoB').val();
                },
                "dataSrc": ""
            },
            columnDefs: [
                { targets: '_all', className: 'align-middle' },
                {
                    targets: [4],
                    render: function (data, type, row) {
                        var numFormt = "";
                        if (data != null) {
                            var num = data.toString();
                            numFormt = SeparadorMiles(num);
                        }
                        return numFormt;
                    }
                }
            ],
            columns: [
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function (o, type, row) {
                        var boton = '';
                        boton = '<button class="btn btn-info btn-sm" type="button" onclick="CreateRegistro(' + o.IdLicitacion + ')"><i class="fa fa-edit"></i></button> ';
                        boton += '<button class="btn btn-danger btn-sm" type="button" onclick="EliminarLicitacion(' + o.IdLicitacion + ')"><i class="far fa-trash-alt"></i></button> ';
                        return boton;
                    }
                },
                { "data": "Autogenerado" },
                { "data": "RazonSocial" },
                { "data": "NombreTipoFinanciamiento" },
                { "data": "Monto" },
                { "data": "NombreEstado" }
            ]
        });

        return table;
    }

    function CreateRegistro(idLicitacion) {
        $('#idLicitacion').val(idLicitacion);
        url = "/Licitacion/AddLicitacion";
        $('#frmLicitacion').attr('action', url);
        $('#frmLicitacion').submit();
    }

    function EliminarLicitacion(idLicitacion) {
        a = confirm("Seguro de Eliminar el registro seleccionado?")
        if (a) {
            $.ajax({
                url: "/Licitacion/DeleteLicitacion",
                type: "Post",
                data: {
                    idLicitacion: idLicitacion
                },
                success: function (data) {
                    toastr.success(data.Mensaje);
                    RefreshLista();
                },
                failure: function (data) {
                    toastr.error(data.Mensaje);
                }
            });
        }
    }

</script>