
@{
    ViewBag.Title = "Formulario Baja";
}
@{
    Layout = "~/Views/Shared/_Popup.cshtml";
}
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Baja Activo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card-header p-0 border-bottom-0">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link nav-link-contrato active" id="header1" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true" onclick="CargaTab(this, 1)">Datos Activo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-contrato" id="header2" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false" onclick="CargaTab(this, 2)">Adjuntos</a>
            </li>
        </ul>
    </div>

    <div class="card-body">
        <div class="tab-content" id="custom-tabs-four-tabContent">
            <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                <div class="ml-2">
                    <div class="form-group form-group-sm row">
                        <label for="nombrearchivo" class="col-sm-3 col-form-label col-form-label-sm">Nro. Equipo</label>
                        <div class="col-6">
                            <input type="text" class="form-control" id="numeroEquipo" placeholder="Ingrese Numero Equipo">
                        </div>
                        <div class="col-2">
                            <button type="button" onclick="Buscar()" class="btn btn-primary btn-sm">Buscar</button>
                        </div>
                    </div>
                    <div class="d-none" id="idActivoB">
                        <div class="form-group form-group-sm row">
                            <label for="descripcion" class="col-sm-3 col-form-label col-form-label-sm">HORÓMETRO</label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="usuario" placeholder="HORÓMETRO">
                            </div>
                        </div>
                        <div class="form-group form-group-sm row">
                            <label for="usuario" class="col-sm-3 col-form-label col-form-label-sm">Descipción</label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="usuario" placeholder="Descipción">
                            </div>
                        </div>
                        <div class="form-group form-group-sm row">
                            <label for="usuario" class="col-sm-3 col-form-label col-form-label-sm">Marca</label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="usuario" placeholder="Marca">
                            </div>
                        </div>
                        <div class="form-group form-group-sm row">
                            <label for="usuario" class="col-sm-3 col-form-label col-form-label-sm">Modelo</label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="usuario" placeholder="Modelo">
                            </div>
                        </div>
                        <div class="form-group form-group-sm row">
                            <label for="usuario" class="col-sm-3 col-form-label col-form-label-sm">Motor</label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="usuario" placeholder="Motor">
                            </div>
                        </div>
                        <div class="form-group form-group-sm row">
                            <label for="usuario" class="col-sm-3 col-form-label col-form-label-sm">Serie/Chasis</label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="usuario" placeholder="Serie/Chasis">
                            </div>
                        </div>
                        <div class="form-group form-group-sm row">
                            <label for="usuario" class="col-sm-3 col-form-label col-form-label-sm">Año</label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="usuario" placeholder="Año">
                            </div>
                        </div>
                        <div class="form-group form-group-sm row">
                            <label for="usuario" class="col-sm-3 col-form-label col-form-label-sm">Valor de Adquisición</label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="usuario" placeholder="Valor de Adquisición">
                            </div>
                        </div>
                        <div class="form-group form-group-sm row">
                            <label for="usuario" class="col-sm-3 col-form-label col-form-label-sm">Valor Residual</label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="usuario" placeholder="Nro. Factura">
                            </div>
                        </div>
                        <div class="form-group form-group-sm row">
                            <label for="usuario" class="col-sm-3 col-form-label col-form-label-sm">Depreciación del ejercicio</label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="usuario" placeholder="Depreciación del ejercicio">
                            </div>
                        </div>
                        <div class="form-group form-group-sm row">
                            <label for="usuario" class="col-sm-3 col-form-label col-form-label-sm">Depreciación acumulada</label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="usuario" placeholder="Depreciación acumulada">
                            </div>
                        </div>
                        <div class="form-group form-group-sm row">
                            <label for="usuario" class="col-sm-3 col-form-label col-form-label-sm">Valor libro</label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="usuario" placeholder="Valor libro">
                            </div>
                        </div>
                        <div class="form-group form-group-sm row">
                            <label for="usuario" class="col-sm-3 col-form-label col-form-label-sm">Empresa propietaria</label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="usuario" placeholder="Empresa propietaria">
                            </div>
                        </div>
                        <div class="form-group form-group-sm row">
                            <label for="usuario" class="col-sm-3 col-form-label col-form-label-sm">Valor Libro/Valor de adquisición</label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="usuario" placeholder="Valor Libro/Valor de adquisición">
                            </div>
                        </div>
                        <div class="form-group form-group-sm row">
                            <label for="usuario" class="col-sm-3 col-form-label col-form-label-sm">Motivo</label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="usuario" placeholder="Motivo">
                            </div>
                        </div>
                        <div class="form-group form-group-sm row">
                            <label for="usuario" class="col-sm-3 col-form-label col-form-label-sm">Fotografía</label>
                            <div class="col-6">
                                <input type="file" class="form-control" id="usuario">
                            </div>
                        </div>
                        <div class="form-group form-group-sm row">
                            <label for="usuario" class="col-sm-3 col-form-label col-form-label-sm">Descripción</label>
                            <div class="col-6">
                                <textarea class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab2" role="tabpanel">
                <div class="ml-2">
                    <div class="form-group form-group-sm row">
                        <label for="usuario" class="col-sm-3 col-form-label col-form-label-sm">Adjunto</label>
                        <div class="col-6">
                            <input type="file" class="form-control" id="file">
                        </div>
                        <div class="col-2">
                            <button type="submit" class="btn btn-primary btn-sm">Agregar</button>
                        </div>
                    </div>
                    <div class="form-group form-group-sm row">
                        <table class="table table-bordered table-hover dataTable1 dtr-inline" width="100%" id="grillaEmpresa" data-order='[[ 0, "asc" ]]'>
                            <thead class="thead-light">
                                <tr>
                                    <th class="no-sort" width="3%">Item</th>
                                    <th>Adjunto</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td><a href="">Adjunto.pdf</a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td><a href="">Adjunto1.pdf</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal-body">

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary btn-sm">Crear</button>
    </div>

</div>
<script>
    $(document).ready(function () {

        $('#frmEdit').validate({
            debug: false,
            errorElement: "em",
            errorContainer: $("#warning")
        });
        $('#perfiles').select2({
            theme: 'bootstrap4'
        })
        window.top.esconderCargando();
    });

    function Buscar() {
        $("#idActivoB").removeClass('d-none');
    }

    function CargaTab(div, op) {
        // Eliminar las clases 'show' y 'active' de todos los tabs y nav-links
        $('.tab-pane').removeClass("show active");
        $('.nav-link-contrato').removeClass("active");

        // Añadir la clase 'active' al header correspondiente
        $("#header" + op).addClass("active");

        // Mostrar el contenido del tab adecuado
        if (op == 1) {
            $("#tab1").addClass("show active");
        }
        if (op == 2) {
            $("#tab2").addClass("show active");
        }
    }

</script>
