@model modelo.ViewModel.PolizaViewModel
@{
    ViewBag.Title = "Vista Póliza de Seguro";
    Layout = "~/Views/Shared/_Popup.cshtml";
}

<div class="modal-header">
    <h5 class="modal-title" id="vistaPoliza">@ViewBag.Title</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
@{
    var habilitaTab = "";
    if (Model.ExistePoliza == "N")
    {
        habilitaTab = " disabled ";
    }
}
<input type="hidden" name="idPoliza" id="idPolizaV" value="@Model.IdPoliza" />
<div class="card-body">
    <div class="card card-primary card-outline card-outline-tabs">
        <div class="card-header p-0 border-bottom-0">
            <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link nav-link-poliza active" id="header1" data-toggle="pill" href="#" onclick="CargaTab('tab1V',1)" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true">Datos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-poliza @habilitaTab" id="header3" data-toggle="pill" href="#" onclick="CargaTab('tab3V',3)" role="tab" aria-controls="custom-tabs-four-doc" aria-selected="false">Documentos</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="custom-tabs-four-tabContent">
                <div class="tab-pane fade show active" id="tab1V" role="tabpanel">
                </div>
                <div class="tab-pane fade" id="tab3V" role="tabpanel">
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        //AbrirMenu("RegistrarSeguro");
        $('.tab-pane').removeClass("show").removeClass("active");
        CargaTab('tab1V', '1')
    });

    function CargaTab(div, op) {
        $('.tab-pane').removeClass("show").removeClass("active");
        $('.nav-link-poliza').removeClass("active");
        $("#tab1V").empty();
        $("#tab3V").empty();
        $("#header" + op).addClass("active");
        url = "";
        if (op == 1) {
            url = 'VistaSeguro';
            $("#tab1V").addClass("show").addClass("active");
        }
        if (op == 3) {
            url = 'VistaDocumentoSeguro';
            $("#tab3V").addClass("show").addClass("active");
        }
        $.ajax({
            url: '/Seguro/' + url,
            data: { idPoliza: $("#idPolizaV").val() },
            async: true,
            contentType: "application/x-www-form-urlencoded",
            dataType: "html",
            global: true,
            ifModified: false,
            processData: true,
            //data: { idDocumento: op },
            //data: ReemplazoCadena(aux_busqueda),
            beforeSend: function () {
                $("#" + div).empty();
                $("#" + div).html('<i class="fa fa-circle-o-notch fa-spin"></i> Cargando...');
            },
            success: function (html) {
                //html=decodeURIComponent(html);

                $("#" + div).empty(),
                    $("#" + div).append(html);
            },
            type: "post"
        });
    }
</script>