@{
    ViewBag.Title = "Buscar Poliza de Seguro";
}
@{
    tesoreria.Helper.Seguridad seguridad = System.Web.HttpContext.Current.Session["Seguridad"] as tesoreria.Helper.Seguridad;
}
<div class="modal fade" id="export-txt" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @using (Ajax.BeginForm("ExportarTxtBanco", "Seguro", null, new AjaxOptions
            {
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "get",
                OnBegin = "mostrarCargando()",
                OnSuccess = "Success_fin",
                OnFailure = "Failure_dl"

            }, new { id = "frmTxtBanco", @class = "form-horizontal" }))
            {               
                <div id="datosBuscar">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Finalizar Entrega</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">                       

                        <div class="form-group row">
                            <label for="Descripcion" class="col-sm-2 col-form-label">Beneficiario</label>
                            <div class="col-sm-10">
                                <select class="form-control select2 js-data-example-ajax" name="RutBeneficiario" id="RutBeneficiario">
                                    <option value=""></option>                                    
                                </select>
                                
                            </div>
                        </div>
                        
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cerrar</button>
                    <button type="button" name="btnCrear" id="btnCrear" onclick="GenerarTxt();" class="btn btn-primary btn-sm">Generar TXT</button>
                </div>
            }
        </div>
    </div>
</div>
<div class="d-sm-flex align-items-center justify-content-between">
    <h5 class="h5 mb-0 text-gray-800">Buscar Pólizas de Seguro</h5>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home/Inicio">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Inicio</li>
    </ol>
</div>
<h6 class="h6 mb-0 text-gray-800">Acá puedes revisar las pólizas de seguro de todas las empresas.</h6>
<br />
<div class="card card-outline card-info collapsed-card">
    <div class="card-header">
        <h3 class="card-title">Filtros</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-2">
                @Html.DropDownList("empresaB", (SelectList)ViewData["listaEmpresa"], "--Seleccione Empresa--", htmlAttributes: new { @class = "form-control form-control-sm" })
            </div>
            <div class="col-md-2">
                @Html.DropDownList("empresaAseguradoraB", (SelectList)ViewData["listaEmpresaAseguradora"], "--Seleccione Empresa Aseguradora--", htmlAttributes: new { @class = "form-control form-control-sm" })
            </div>
            <div class="col-md-2">
                @Html.DropDownList("tipoSeguroB", (SelectList)ViewData["listaTipoSeguro"], "--Seleccione Tipo Seguro--", htmlAttributes: new { @class = "form-control form-control-sm" })
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" id="numeroPolizaB" name="numeroPolizaB" placeholder="Número Poliza">
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" id="numeroActivoB" name="numeroActivoB" placeholder="Número Activo">
            </div>
            <div class="col-md-2">
                <div class="row justify-content-end">
                    <button class="btn btn-info btn-sm " type="button" onclick="RefreshLista()"><i class="fa fa-search"></i> Filtrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Detalle de pólizas y activos</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="form-group row">
            <div class="col-sm-auto">
                <button class="btn btn-primary btn-sm justify-content-end" type="button" data-toggle="modal" data-target="#export-txt"><i class="fa fa-file-export"></i> Generar Envío Banco</button>
                @*OPER. LEASING,	ITEM,	RUT BENEFICIARIO,	N° DE EQUIPO,	FAMILIA	DESCRIPCIÓN	MARCA,	MODELO,	N° MOTOR,	N° CHASIS,	AÑO FABRICACIÓN,	No PAG. INC.,	No PAG. TERM.,VALOR (CLP)*@

            </div>
            <div class="col-sm-10">
            </div>
            
        </div>
        <div class="card-body table-responsive">
            <table class="table table-bordered table-hover dataTable dtr-inline" width="100%" id="grillaPolizaActivo" data-order='[[ 0, "asc" ]]'>
                <thead class="thead-light">
                    <tr>
                        <th class="no-sort" width="3%"><i class="far fa-eye"></i></th>
                        <th class="no-sort" width="3%"><i class="fas fa-fire"></i></th>
                        <th width="20%">Num. Poliza</th>
                        <th>Tipo Seguro</th>
                        <th>Aseguradora</th>
                        <th>Monto Aseg.</th>
                        <th>Prima Act.</th>
                        <th>Num. Pagos</th>
                        <th>Moneda</th>
                        <th width="20%">Venc. Seguro</th>
                        <th>Siniestro</th>
                        <th>Beneficiario</th>
                        <th>RUT Ben.</th>
                        <th>Num. Endose</th>
                        <th>Fec. Endose</th>
                        <th>Fecha Env. Banco</th>
                        <th>Empresa</th>
                        <th>Cod. Interno</th>
                        <th>Tipo Activo</th>
                        <th>Descripcion</th>
                        <th>Patente</th>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Motor</th>
                        <th>Chasis</th>
                        <th>Año</th>
                        <th>Grupo</th>
                        <th>Sub-grupo</th>
                        <th>Val. Compra</th>
                        <th>Estado</th>
                        <th>Fec. Baja</th>
                        <th>Glosa</th>
                        <th>Fec. Ing.</th>
                        <th>Leasing</th>
                        <th>Término Leas.</th>

                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

    </div>

</div>
<form name="frmPoliza" id="frmPoliza" method="post">
    <input type="hidden" name="idPoliza" id="idPoliza" />
</form>

<div class="modal fade" id="ModalSiniestro" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div id="datosSiniestro"></div>

        </div>
    </div>
</div>

<div class="modal fade" id="ModalVistaPoliza" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div id="datosPoliza"></div>

        </div>
    </div>
</div>
<script>
    function GenerarTxt() {
        location.href = "/Seguro/ExportarTxtBanco?RutBeneficiario=" + $("#RutBeneficiario").val();
        $('#export-txt').modal('hide');
    }
    function Success_fin(data) {
        esconderCargando();
    }
    function Failure_dl() {
        esconderCargando();
    }
    $(document).ready(function () {
        AbrirMenu("SeguroBuscar");
        initTable();
        $('#frmTxtBanco').validate({
            debug: false,
            errorElement: "em",
            errorContainer: $("#warning")
        });
        $('#RutBeneficiario').select2({
                placeholder: 'Busque Cliente',
                language: "es",
                minimumInputLength: 3,
                allowClear: true,
                ajax: {
                    url: '/Seguro/Auxiliares_Read',
                    data: function (params) {
                        var query = {
                            q: params.term
                        }
                        return query;
                    },
                    delay: 250,
                    dataType: 'json',
                    processResults: function (data) {
                        return {
                            results: data
                        };
                    }
                }

            });
    });

    function RefreshLista() {
        var table = initTable();
        table.ajax.reload(function (json) { });
    }

    function initTable() {
        var buttonCommon = {
            text: 'Exportar a Excel',
            title: 'ACTIVOS ',
            extend: 'excelHtml5',
            exportOptions: {
                columns: "thead th:not(.noExport)"
            }
        };
        var table = $('#grillaPolizaActivo').DataTable({
            buttons: [
                $.extend(true, {}, buttonCommon, {
                    filename: "Activos",
                    sheetName: "Activos"
                })
            ],
            "retrieve": true,
            'ajax': {
                "type": "POST",
                "url": '/Seguro/ListaSeguroBuscar_Read/',
                "data": function (d) {
                    d.idEmpresa = $('#empresaB').val();
                    d.idEmpresaAseguradora = $('#empresaAseguradoraB').val();
                    d.idTipoSeguro = $('#tipoSeguroB').val();
                    d.numeroPoliza = $('#numeroPolizaB').val();
                    d.numeroActivo = $('#numeroActivoB').val();
                },
                "dataSrc": ""
            },
            columnDefs: [
                { targets: '_all', className: 'align-middle' },
                {
                    targets: [5,6],
                    render: function (data, type, row) {
                        var numFormt = "";
                        if (data != null) {
                            var num = data.toString();
                            numFormt = SeparadorMiles(num);
                        }
                        return numFormt;
                    }
                },
                {
                    targets: [30,32,34],
                    render: function (data) {
                        var fecha = DateDatatable(data);
                        return fecha;
                    }
                }
            ],

            columns: [
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function (o, type, row) {
                        var acciones = '';
                        //if (o.Editable == true) {
                        var acciones = '<button class="btn btn-primary btn-sm" title="Detalla Poliza" type="button" onclick="VistaPoliza(' + o.IdPoliza + ')"><i class="far fa-eye"></i></button>';
                        //}
                        return acciones;
                    }
                },
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function (o, type, row) {
                        var acciones = '';
                        //if (o.Editable == true) {
                        var acciones = '<button class="btn btn-primary btn-sm" title="Registrar Siniestro" type="button" onclick="RegistroSiniestro(' + o.IdPolizaActivo + ', ' + o.IdSiniestro + ')"><i class="fas fa-fire"></i></button>';
                        //}
                        return acciones;
                    }
                },
                { "data": "NumeroPoliza" },
                { "data": "NombreTipoSeguro" },
                { "data": "NombreEmpresaAseguradora" },
                { "data": "MontoAsegurado" },
                { "data": "ValorPrima" },
                { "data": "NumeroPagos" },
                { "data": "NombreTipoMoneda" },
                {
                    data: {
                        _: "FechaVencimientoStr",
                        sort: "FechaVencimiento"
                    }
                },
                { "data": "TieneSiniestro" },
                { "data": "Beneficiario" },
                { "data": "RutBeneficiario" },
                {
                    "mData": null,
                    "bSortable": true,
                    "mRender": function (o, type, row) {
                        return '';
                    }
                },
                {
                    "mData": null,
                    "bSortable": true,
                    "mRender": function (o, type, row) {
                        return '';
                    }
                },
                {
                    data: {
                        _: "FechaEnvioBancoStr",
                        sort: "FechaEnvioBanco"
                    }
                },
                { "data": "RazonSocial" },
                { "data": "NumeroInterno" },
                { "data": "Familia" },
                { "data": "Descripcion" },
                { "data": "Patente" },
                { "data": "Marca" },
                { "data": "Modelo" },
                { "data": "Motor" },
                { "data": "Chasis" },
                { "data": "Anio" },
                { "data": "Grupo" },
                { "data": "SubGrupo" },
                { "data": "Valor" },
                { "data": "NombreEstadoActivo" },
                { "data": "FechaBaja" },
                { "data": "Glosa" },
                { "data": "FecIngBaja" },
                { "data": "Leasing" },
                { "data": "TerminoLeasing" }
            ]
        });
        return table;
    }

    function RegistroSiniestro(idPolizaActivo, idSiniestro) {
        $("#datosPoliza").empty();
        $('#ModalSiniestro').modal('show');
        url = "/Seguro/ModalAgregarSiniestro";
        $.ajax({
            url: url,
            type: "Post",
            data: {
                idPolizaActivo: idPolizaActivo,
                idSiniestro: idSiniestro},
            beforeSend: function () {
                $("#datosSiniestro").html('<i class="fa fa-circle-o-notch fa-spin"></i> Cargando...');
            },
            success: function (data) {
                $("#datosSiniestro").empty();
                $("#datosSiniestro").html(data);
            }
        });
    }

    function VistaPoliza(idPoliza) {
        $("#datosSiniestro").empty();
        $('#ModalVistaPoliza').modal('show');
        $.ajax({
            url: "/Seguro/ModalVistaSeguro",
            type: "Post",
            data: { idPoliza: idPoliza },
            beforeSend: function () {
                $("#datosPoliza").html('<i class="fa fa-circle-o-notch fa-spin"></i> Cargando...');
            },
            success: function (data) {
                $("#datosPoliza").empty();
                $("#datosPoliza").html(data);
            }
        });
    }

</script>
