
@{
    ViewBag.Title = "Cuenta Flujo";
}
<div class="modal fade" id="ver-producto" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="datosBuscar">

            </div>
        </div>
    </div>
</div>


<div class="d-sm-flex align-items-center justify-content-between">
    <h5 class="h5 mb-0 text-gray-800">Impresión de Ubicaciones</h5>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home/Inicio">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Opciones Producto</li>
        <li class="breadcrumb-item active" aria-current="page">Imprimir Etiqueta</li>
    </ol>
</div>
<nav class="navbar navbar-light mb-1" style="background-color: #e3f2fd;">
    <div class="form-inline my-2 my-lg-0">
        <div class="col-auto">
            <select class="form-control form-control-sm">
                <option value="">MAQUINARIAS SUR LTDA.</option>
            </select>
        </div>
        <div class="col-auto">
            <select class="form-control form-control-sm">
                <option value="BAB">BODEGA CENTRAL PUERTO VARAS</option>
                <option value="BC">BODEGA CHONCHI</option>
                <option value="BPA">BODEGA PUNTA ARENAS</option>
                <option value="BAY">BODEGA AYSÉN</option>
            </select>
        </div>

        <div class="col-auto"><button class="btn btn-info btn-sm justify-content-end" type="button" onclick="RefreshLista()"><i class="fa fa-search"></i> Filtrar</button></div>
    </div>

</nav>
<!--
<nav class="navbar navbar-light mb-1" style="background-color: #e3f2fd;">
    <div class="form-inline my-2 my-lg-0">

        <div class="col-auto">
            <input type="text" class="form-control form-control-sm" placeholder="Ubicación" id="newUbicacion" name="newUbicacion" value="">
        </div>
        <div class="col-auto"><button class="btn btn-info btn-sm justify-content-end" type="button" onclick="AgregarUbicacion()"><i class="fa fa-plus"></i> Agregar</button></div>
    </div>

</nav>
-->
<div class="row">
    <!-- Datatables -->
    <div class="col-lg-12">

        <div class="card mb-4">
            <div class="card-body">
                <table class="table table-bordered table-hover dataTable dtr-inline" width="100%" id="grillaProductos" data-order='[[ 1, "desc" ]]'>
                    <thead class="thead-light">
                        <tr>
                            <th class="no-sort"><input type="checkbox" name="chkTodos" id="chkTodos" onclick="checkAllGeneral(this,'ubicacion')" /></th>
                            <th>Ubicación</th>
                            <th>Cantidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--
                        <tr>
                            <td><input type="checkbox" name="chkUbicacion" class="ubicacion" id="chkUbicacion" /></td>
                            <td>R1F1</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="chkUbicacion" class="ubicacion" id="chkUbicacion" /></td>
                            <td>R1F2</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="chkUbicacion" class="ubicacion" id="chkUbicacion" /></td>
                            <td>R2F1</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="chkUbicacion" class="ubicacion" id="chkUbicacion" /></td>
                            <td>R2F2</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="chkUbicacion" class="ubicacion" id="chkUbicacion" /></td>
                            <td>R3F1</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="chkUbicacion" class="ubicacion" id="chkUbicacion" /></td>
                            <td>R3F2</td>
                        </tr>
                            -->
                    </tbody>
                </table>

            </div>


        </div>
    </div>
    <!-- DataTable with Hover -->
    <script>
        $(document).ready(function () {
            AbrirMenu("ImprimirUbicaciones");
            initTableCuenta();
            
        });
        function AgregarUbicacion() {
            var table = $('#grillaProductos').DataTable();
            table.row.add([
                '<input type="checkbox" name="chkUbicacion" id="chkUbicacion" class="ubicacion" checked />',
                $("#newUbicacion").val()
            ]).draw();
            //$("#newUbicacion").val('');
        }
        function initTableCuenta() {
            var table = $('#grillaProductos').DataTable({
                //dom: '<"top"B<"#id">>rt<"bottom"lp><"clear">',
                columnDefs: [
                    { targets: '_all', className: 'align-middle' }
                ],
                "retrieve": true,
                processing: true,
                'ajax': {
                    "type": "POST",
                    "url": '/Producto/UbicacionesProducto_Read/',
                    "data": function (d) {
                        d.IdEmpresa = 1;
                    },
                    "dataSrc": ""
                },
                buttons: [
                    {
                        text: 'Imprimir Etiquetas',
                        action: function (e, dt, node, config) {
                            PrintEtiquetas()
                        }
                    }
                ],
                columns: [
                    {
                        "mData": null,
                        "bSortable": false,
                        "mRender": function (o, type, row) {
                            var boton = '';
                            boton = '<input type="checkbox" name="chkUbicacion" class="ubicacion" id="chkUbicacion" />';
                            return boton;
                        }
                    },                    
                    {
                        "sClass": "des-producto",
                        "mData": null,
                        "bSortable": false,
                        "mRender": function (data, type, row) {
                            return data.UbicProd;
                        }

                    },
                    {
                        "mData": null,
                        "bSortable": false,
                        "mRender": function (o, type, row) {
                            var boton = '';                            
                            boton = '<input type="text" name="cantidad" id="cant_' + o.CodProd + '" value="" class="form-control form-control-sm col-2" />';                            
                            return boton;
                        }
                    }

                ]
            });
        }
        function PrintEtiquetas() {
            $("#datosBuscar").empty();
            $('#ver-producto').modal('show');
            $.ajax({
                url: "/Producto/PrintUbicacion",
                type: "Get",
                data: {},
                beforeSend: function () {
                    $("#datosBuscar").html('<i class="fa fa-circle-o-notch fa-spin"></i> Cargando...');
                    mostrarCargando();
                },
                success: function (data) {
                    $("#datosBuscar").empty();
                    $("#datosBuscar").html(data);
                    esconderCargando();
                }
            });
        }
    </script>
</div>



