@{
    ViewBag.Title = "Reporte";
}
@{
    tesoreria.Helper.Seguridad seguridad = System.Web.HttpContext.Current.Session["Seguridad"] as tesoreria.Helper.Seguridad;
}

<div class="d-sm-flex align-items-center justify-content-between">
    <h5 class="h5 mb-0 text-gray-800">Reporte de Activos Financiados</h5>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home/Inicio">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Inicio</li>
    </ol>
</div>
<div class="card card-outline card-info collapsed-card">
    <div class="card-header">
        <h3 class="card-title">Filtros</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-2">
                @Html.DropDownList("empresaB", (SelectList)ViewData["listaEmpresa"], "--Seleccione Empresa--", htmlAttributes: new { @class = "form-control form-control-sm" })
            </div>
            <div class="col-sm-2">
                @Html.DropDownList("bancoB", (SelectList)ViewData["listaBanco"], "--Seleccione Banco--", htmlAttributes: new { @class = "form-control form-control-sm" })
            </div>

            <div class="col-sm-2">
                <input type="text" class="form-control" name="numeroActivo" id="numeroActivo" placeholder="Número de Activo">
            </div>
            <div class="col-sm-2">
            </div>
            <div class="col-sm-2">

            </div>
            <div class="col-sm-2">
                <div class="row justify-content-end">
                    <button class="btn btn-info btn-sm " type="button" onclick="RefreshLista()"><i class="fa fa-cog"></i> Generar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Detalle</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover dataTable dtr-inline" width="100%" id="grillaReporte" data-order='[[ 2, "asc" ]]'>
                <thead class="thead-light">
                    <tr>
                        <th class="no-sort" width="3%"><i class="far fa-eye"></i></th>
                        <th class="no-sort" width="3%"><i class="fa fa-calculator"></i></th>
                        <th>Número de Activo</th>
                        <th>Descripción</th>
                        <th>Valor Adquisición</th>
                        <th>Tipo de Activos</th>
                        <th>Empresa</th>
                        <th>Institución</th>
                        <th>Núm. Ope./Contrato</th>
                        <th>Fecha Termino Contrato</th>
                        <th>Total Rentas</th>
                        <th>Inicio</th>
                        <th>Monto Inicial Deuda</th>
                        <th>Tasa Anual</th>
                        <th width="3%">Moneda</th>
                        <th>Seguro</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalVerActivo" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="modal-crearLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div id="datosActivo"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalCalcularPrepago" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="modal-crearLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="max-width: 25%;">
        @Html.Partial("ModalCalcularPrepago", null)
    </div>
</div>


<script>
    $(document).ready(function () {
        AbrirMenu("ActivosFinanciados");
        RefreshLista();
    });

    function RefreshLista() {
        var table = initTable();
        table.ajax.reload(function (json) { });
    }

    function initTable() {
        var table = $('#grillaReporte').DataTable({
            "retrieve": true,
            'ajax': {
                "type": "POST",
                "url": '/Reportes/ListaActivosFinanciados_Read/',
                "data": function (d) {
                    d.idBanco = $('#bancoB').val();
                    d.idEmpresa = $('#empresaB').val();
                    d.numeroActivo = $('#numeroActivo').val();
                },
                "dataSrc": ""
            },
            columnDefs: [
                { targets: '_all', className: 'align-middle' },
                {
                    targets: [4,12],
                    render: function (data, type, row) {
                        var numFormt = "";
                        if (data != null) {
                            var num = data.toString();
                            numFormt = SeparadorMiles(num);
                        }
                        return numFormt;
                    }
                }
            ],
            columns: [
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function (o, type, row) {
                        var boton = '';
                        boton = '<button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#ModalVerActivo" onclick="VerActivo(' + o.IdActivo + ')"><i class="far fa-eye"></i></button> ';
                        return boton;
                    }
                },
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function (o, type, row) {
                        var boton = '';
                        boton += '<button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#ModalCalcularPrepago" onclick="Calculadora(' + o.IdActivo + ')"><i class="fa fa-calculator"></i></button> ';
                        return boton;
                    }
                },
                { "data": "NumeroActivo" },
                { "data": "Descripcion" },
                { "data": "Valor" },
                { "data": "Familia" },
                { "data": "RazonSocial" },
                { "data": "NombreBanco" },
                { "data": "NumeroContrato" },
                { "data": "FechaTerminoStr" },
                { "data": "Numerocuotas" },
                {
                    data: {
                        _: "FechaInicioStr",
                        sort: "FechaInicio"
                    }
                },
                { "data": "MontoContrato" },
                { "data": "TasaAnual" },
                { "data": "Moneda" },
                { "data": "NumeroPoliza" },
                { "data": "EstadoActivo" }
            ]
        });

        return table;
    }

    function VerActivo(idActivo) {
        //$("#datosMovimiento").empty();
        $('#ModalVerActivo').modal('show');
        $.ajax({
            url: "/Activo/VistaActivo",
            type: "Post",
            data: { IdActivo: idActivo },
            beforeSend: function () {
                $("#datosActivo").html('<i class="fa fa-circle-o-notch fa-spin"></i> Cargando...');
            },
            success: function (data) {
                $("#datosActivo").empty();
                $("#datosActivo").html(data);
            }
        });
    }
</script>


