@{
    ViewBag.Title = "Reporte";
}
@{
    tesoreria.Helper.Seguridad seguridad = System.Web.HttpContext.Current.Session["Seguridad"] as tesoreria.Helper.Seguridad;
}

<div class="d-sm-flex align-items-center justify-content-between">
    <h5 class="h5 mb-0 text-gray-800">Reporte </h5>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home/Inicio">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Inicio</li>
    </ol>
</div>
<h6 class="h6 mb-0 text-gray-800">Consolidado Deuda Leasing por Tipo de Activo.</h6>
<br />
<div class="card card-outline card-info">
    <div class="card-header">
        <h3 class="card-title">Filtros</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-2">
                @Html.DropDownList("IdEmpresaBus", (SelectList)ViewData["listaEmpresa"], "--Todas las Empresas--", htmlAttributes: new { @class = "form-control form-control-sm" })
            </div>
            <div class="col-sm-2">
                @Html.DropDownList("IdBancoBus", (SelectList)ViewData["listaBancos"], "--Seleccione Banco--", htmlAttributes: new { @class = "form-control form-control-sm" })
            </div>
            <div class="col-sm-2">
                <input type="number" class="form-control form-control-sm" placeholder="Año" id="anioBus" name="anioBus" value="@DateTime.Now.Year">
            </div>
            <div class="col-sm-2">
                @Html.DropDownList("IdMesBus", (SelectList)ViewData["listaMes"], "--Seleccione Mes--", htmlAttributes: new { @class = "form-control form-control-sm" })

            </div>
            <div class="col-sm-2">
                <input type="text" name="valorUfBus" id="valorUfBus" value="" class="form-control form-control-sm filtroRepote numberMiles" />
            </div>
            <div class="col-sm-2">
                <div class="row justify-content-end">
                    <button class="btn btn-info btn-sm " type="button" onclick="CargaTiposFamilia()"><i class="fa fa-cog"></i> Generar detalle</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Detalle</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <label class="col-lg-12 col-form-label"><strong class="lblEmpresa"></strong></label>
        <label class="col-lg-12">Consolidado Deuda Leasing por Tipo de Activo a <strong class="lblPeriodo"></strong></label>
        <div id="divLoadFamilia">

        </div>
    </div>
</div>
<script>
    function CargaUfMes() {
        $.ajax({
            url: "/Bancos/UfUltimoDiaMes",
            type: "Get",
            data: {
                IdEmpresa: $("#IdEmpresaBus").val(),
                IdBanco: $("#IdBancoBus").val(),
                anio: $("#anioBus").val(),
                IdMes: $("#IdMesBus").val(),
                valorUf: $("#valorUfBus").val()
            },
            beforeSend: function () {

            },
            success: function (data) {
                //console.log(data)
                $("#valorUfBus").val(data.Valor.toString().replace(/[$.]/g, ','));
                //initTable();
            }
        });
    }
    $(document).ready(function () {
        AbrirMenu("ConsolidadoDeudaLeasingTipoActivo");
        CargaUfMes();
        $("#IdMesBus").change(CargaUfMes);  
        CargaTiposFamilia();
        $('.lblEmpresa').html($("#IdEmpresaBus option:selected").text())
        $('.lblPeriodo').html($("#IdMesBus option:selected").text() + "-" + $("#anioBus").val())
    });
    function CargaTiposFamilia() {
        $('.lblEmpresa').html($("#IdEmpresaBus option:selected").text())
        $('.lblPeriodo').html($("#IdMesBus option:selected").text() + "-" + $("#anioBus").val())
        $("#divLoadFamilia").empty();
        $.ajax({
            url: "/Familia/Familia_Read",
            type: "Get",
            data: {
                
            },
            beforeSend: function () {
                $("#divLoadFamilia").html('<i class="fa fa-circle-o-notch fa-spin"></i> Cargando...');
            },
            success: function (data) {
                $("#divLoadFamilia").empty();
                $("#divLoadFamilia").append('<div id="loadFamilia_0"></div>');
                CargaConsolidadoTipoDeuda(0);
                var length = Object.keys(data).length;
                for (var i = 0; i < length; i++) {                    
                    $("#divLoadFamilia").append('<div id="loadFamilia_' + data[i].IdFamilia + '"></div>');
                    CargaConsolidadoTipoDeuda(data[i].IdFamilia);
                };
                
            }
        });
    }
    function CargaConsolidadoTipoDeuda(tmpIdFamilia) {
        $.ajax({
            url: '/Familia/TipoDeudaFamilia',
            data: {
                IdEmpresa: $("#IdEmpresaBus").val(),
                IdBanco: $("#IdBancoBus").val(),
                anio: $("#anioBus").val(),
                IdMes: $("#IdMesBus").val(),
                valorUf: $("#valorUfBus").val(),
                IdFamilia: tmpIdFamilia
            },
            async: true,
            contentType: "application/x-www-form-urlencoded",
            dataType: "html",
            global: true,
            ifModified: false,
            processData: true,
            //data: { idDocumento: op },
            //data: ReemplazoCadena(aux_busqueda),
            beforeSend: function () {
                $("#loadFamilia_" + tmpIdFamilia).empty();
                $("#loadFamilia_" + tmpIdFamilia).html('<i class="fa fa-circle-o-notch fa-spin"></i> Cargando...');
            },
            success: function (html) {
                //html=decodeURIComponent(html);
                $("#loadFamilia_" + tmpIdFamilia).empty();
                $("#loadFamilia_" + tmpIdFamilia).append(html);
            },
            type: "post"
        });
    }
</script>

@*
<!-- DataTable with Hover -->
<script>
    $(document).ready(function () {
        AbrirMenu("LibroVentas");
        $('#grillaEmpresa').DataTable();
        moment.locale('es');
        $('#fecha').daterangepicker({
            autoUpdateInput: false,
            "locale": {
                format: "DD/MM/YYYY",
                "separator": " - ",
                "applyLabel": "Aplicar",
                "cancelLabel": "Limpiar",
                "fromLabel": "DE",
                "toLabel": "HASTA",
                "customRangeLabel": "Personalizar",
                "daysOfWeek": [
                    "Dom",
                    "Lun",
                    "Mar",
                    "Mie",
                    "Jue",
                    "Vie",
                    "Sáb"
                ],
                "monthNames": [
                    "Enero",
                    "Febrero",
                    "Marzo",
                    "Abril",
                    "Mayo",
                    "Junio",
                    "Julio",
                    "Agosto",
                    "Septiembre",
                    "Octubre",
                    "Noviembre",
                    "Diciembre"
                ],
                "firstDay": 1
            }
        });

        $('#fecha').on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
            //RefreshLista();
        });


        $('#fecha').on('cancel.daterangepicker', function (ev, picker) {
            $(this).val('');
            //RefreshLista();
        });
        $('#selectEmpresa').select2({
            placeholder: '---Seleccione Empresa---',
            language: "es",
            allowClear: true,
        });

    });
    function RefreshLista() {
        var table = initTable();
        table.ajax.reload(function (json) { });
    }
    function initTable() {
        var table = $('#grillaEmpresa').DataTable({
            "scrollX": true,
            "retrieve": true,
            'ajax': {
                "type": "POST",
                "url": '/Vencidas/Vencidas_Read/0',
                "data": function (d) {

                },
                "dataSrc": ""
            },
            columns: [

                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function (o, type, row) {
                        var boton = '';
                        boton = '<button class="btn btn-primary btn-sm" onclick="CreateRegistro(' + o.IdVencidas + ')"><i class="fa fa-edit"></i></button> ';
                        return boton;
                    }
                },
                { "data": "Sociedad" },
                { "data": "RutCliente" },
                { "data": "Cliente" },
                { "data": "Emisión" },
                { "data": "Vencimiento" },
                { "data": "Factura" },
                { "data": "Monto" },
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function (o, type, row) {
                        var estado = 'NO';
                        if (o.Activo == true) {
                            estado = "SI";
                        }
                        return estado;
                    }
                }
            ]
        });

        return table;
    }

</script>
<script>
    $(document).ready(function () {

        $('#frmEdit').validate({
            debug: false,
            errorElement: "em",
            errorContainer: $("#warning")
        });
        $('#perfiles').select2({
            theme: 'bootstrap4'
        })
        window.top.esconderCargando();
    });

    function Success_dl(data) {
        esconderCargando();
        if (data.Estado == "0") {
            toastr.success(data.Mensaje);
            $('#modal-registro').modal('hide');
            RefreshLista();
        }
        else {
            toastr.error(data.Mensaje);
        }
    }
    function Failure_dl(data) {
        esconderCargando();
        toastr.error(data.Mensaje);
        $('#modal-registro').modal('hide');
    }

</script>
*@