@{
    ViewBag.Title = "Reporte";
}
@{
    tesoreria.Helper.Seguridad seguridad = System.Web.HttpContext.Current.Session["Seguridad"] as tesoreria.Helper.Seguridad;
}

<div class="d-sm-flex align-items-center justify-content-between">
    <h5 class="h5 mb-0 text-gray-800">Reporte </h5>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home/Inicio">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Inicio</li>
    </ol>
</div>
<h6 class="h6 mb-0 text-gray-800">Cuotas Pagadas</h6>
<br />

<div class="row">
    <div class="col-md-12">
        <div class="card card-outline card-info collapsed-card">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Filtros</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <select name="anio" class="form-control">
                                <option>--Seleccione Año Inicial--</option>
                                <option value="1">2015</option>
                                <option value="2">2016</option>
                                <option value="3">2017</option>
                                <option value="4">2018</option>
                                <option value="5">2019</option>
                                <option value="1">2021</option>
                                <option value="2">2022</option>
                                <option value="3">2023</option>
                                <option value="4">2024</option>
                                <option value="5">2025</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <select name="empresa" class="form-control">
                                <option>--Seleccione Mes Inicial--</option>
                                <option value="1">Enero</option>
                                <option value="2">Febrero</option>
                                <option value="3">Marzo</option>
                                <option value="4">Abril</option>
                                <option value="5">Mayo</option>
                                <option value="6">Junio</option>
                                <option value="7">Julio</option>
                                <option value="8">Agosto</option>
                                <option value="9">Septiembre</option>
                                <option value="10">Octubre</option>
                                <option value="11">Noviembre</option>
                                <option value="12">Diciembre</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <select name="anio" class="form-control">
                                <option>--Seleccione Año Final--</option>
                                <option value="1">2015</option>
                                <option value="2">2016</option>
                                <option value="3">2017</option>
                                <option value="4">2018</option>
                                <option value="5">2019</option>
                                <option value="1">2021</option>
                                <option value="2">2022</option>
                                <option value="3">2023</option>
                                <option value="4">2024</option>
                                <option value="5">2025</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <select name="empresa" class="form-control">
                                <option>--Seleccione Mes Final--</option>
                                <option value="1">Enero</option>
                                <option value="2">Febrero</option>
                                <option value="3">Marzo</option>
                                <option value="4">Abril</option>
                                <option value="5">Mayo</option>
                                <option value="6">Junio</option>
                                <option value="7">Julio</option>
                                <option value="8">Agosto</option>
                                <option value="9">Septiembre</option>
                                <option value="10">Octubre</option>
                                <option value="11">Noviembre</option>
                                <option value="12">Diciembre</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <select name="empresa" class="form-control">
                                <option>--Seleccione Estado del Pago--</option>
                                <option value="1">Tiene Comprobante</option>
                                <option value="2">No Tiene Comprobante</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <div class="row justify-content-end">
                                <button class="btn btn-info btn-sm " type="button" onclick="RefreshLista()"><i class="fa fa-cog"></i> Generar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Detalle</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <label for="inputEmail3" class="col-lg-12 col-form-label">Cuotas Pagadas</label>
                <label for="inputEmail3" class="col-lg-12 col-form-label">Detalle desde Enero del 2018 a Diciembre 2021.</label>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover dataTable dtr-inline" width="100%" id="grillaEmpresa" data-order='[[ 0, "asc" ]]'>
                        <thead class="thead-light">
                            <tr>
                                <th class="no-sort" width="3%">Item</th>
                                <th>Número Contrato</th>
                                <th>Banco</th>
                                <th>Empresa</th>
                                <th>Monto</th>
                                <th>Saldo Insoluto</th>
                                <th>Cuota</th>
                                <th>Mes</th>
                                <th>Tipo Pago</th>
                                <th>Comp. Egreso</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>235142</td>
                                <td>Itaú</td>
                                <td>MAQSUR S.A.</td>
                                <td>440,000.00</td>
                                <td>50,000,000.00</td>
                                <td>1 de 49</td>
                                <td>Noviembre</td>
                                <td>Cuota Normal</td>
                                <td><a href="JavaScript:ModalComprobanteModal('1','00017239')">00017239</a></td>

                            </tr>
                            <tr>
                                <td>2</td>
                                <td>235142</td>
                                <td>Itaú</td>
                                <td>MAQSUR S.A.</td>
                                <td>440,000.00</td>
                                <td>49,560,000.00</td>
                                <td>2 de 49</td>
                                <td>Octubre</td>
                                <td>Cuota Normal</td>
                                <td><a href="JavaScript:ModalComprobanteModal('1','00017239')">000890256</a></td>

                            </tr>
                            <tr>
                                <td>3</td>
                                <td>235142</td>
                                <td>Itaú</td>
                                <td>MAQSUR S.A.</td>
                                <td>49,120,000.00</td>
                                <td>440,000.00</td>
                                <td>3 de 49</td>
                                <td>Septiembre</td>
                                <td>Cuota Normal</td>
                                <td><a href="JavaScript:ModalComprobanteModal('1','00017239')">000966685</a></td>

                            </tr>
                            <tr>
                                <td>4</td>
                                <td>235142</td>
                                <td>Itaú</td>
                                <td>MAQSUR S.A.</td>
                                <td>48,780,000.00</td>
                                <td>440,000.00</td>
                                <td>4 de 49</td>
                                <td>Agosto</td>
                                <td>Cuota Normal</td>
                                <td><a href="JavaScript:ModalComprobanteModal('1','00017239')">00035414</a></td>

                            </tr>
                            <tr>
                                <td>5</td>
                                <td>235142</td>
                                <td>Itaú</td>
                                <td>MAQSUR S.A.</td>
                                <td>48,340,000.00</td>
                                <td>440,000.00</td>
                                <td>5 de 49</td>
                                <td>Julio</td>
                                <td>Cuota Normal</td>
                                <td><a href="JavaScript:ModalComprobanteModal('1','00017239')">00058225</a></td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>235142</td>
                                <td>Itaú</td>
                                <td>MAQSUR S.A.</td>
                                <td>47,900,000.00</td>
                                <td>440,000.00</td>
                                <td>6 de 49</td>
                                <td>Junio</td>
                                <td>Cuota Normal</td>
                                <td><a href="JavaScript:ModalComprobanteModal('1','00017239')">00254005</a></td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>785462</td>
                                <td>SCOTIABANK</td>
                                <td>NOKS S.A.</td>
                                <td>1,000,000.00</td>
                                <td>500,000.00</td>
                                <td>28 de 30</td>
                                <td>Noviembre</td>
                                <td>Cuota Normal</td>
                                <td><a href="JavaScript:ModalComprobanteModal('1','00017239')">00035689</a></td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>785462</td>
                                <td>SCOTIABANK</td>
                                <td>NOKS S.A.</td>
                                <td>500,000.00</td>
                                <td>500,000.00</td>
                                <td>29 de 30</td>
                                <td>Octubre</td>
                                <td>Cuota Normal</td>
                                <td><a href="JavaScript:ModalComprobanteModal('1','00017239')">000110522</a></td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>785462</td>
                                <td>SCOTIABANK</td>
                                <td>NOKS S.A.</td>
                                <td>0.00</td>
                                <td>500,000.00</td>
                                <td>30 de 30</td>
                                <td>Septiembre</td>
                                <td>Op. de Compra</td>
                                <td><a href="JavaScript:ModalComprobanteModal('1','00017239')">00017457</a></td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>52481689</td>
                                <td>BBVA</td>
                                <td>TEQS S.A.</td>
                                <td>20,000,000.00</td>
                                <td>500,000.00</td>
                                <td>1 de 30</td>
                                <td>Noviembre</td>
                                <td>Cuota Normal</td>
                                <td><a href="JavaScript:ModalComprobanteModal('1','00017239')">000241788</a></td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>52481689</td>
                                <td>BBVA</td>
                                <td>TEQS S.A.</td>
                                <td>19,500,000.00</td>
                                <td>500,000.00</td>
                                <td>2 de 30</td>
                                <td>Octubre</td>
                                <td>Cuota Normal</td>
                                <td><a href="JavaScript:ModalComprobanteModal('1','00017239')">00258959</a></td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>52481689</td>
                                <td>BBVA</td>
                                <td>TEQS S.A.</td>
                                <td>19,000,000.00</td>
                                <td>500,000.00</td>
                                <td>3 de 30</td>
                                <td>Septiembre</td>
                                <td>Cuota Normal</td>
                                <td><a href="JavaScript:ModalComprobanteModal('1','00017239')">0014279</a></td>
                            </tr>
                            <tr>
                                <td>13</td>
                                <td>52481689</td>
                                <td>BBVA</td>
                                <td>TEQS S.A.</td>
                                <td>18,500,000.00</td>
                                <td>500,000.00</td>
                                <td>4 de 30</td>
                                <td>Agosto</td>
                                <td>Cuota Normal</td>
                                <td><a href="JavaScript:ModalComprobanteModal('1','00017239')">0005869</a></td>
                            </tr>
                            <tr>
                                <td>14</td>
                                <td>52481689</td>
                                <td>BBVA</td>
                                <td>TEQS S.A.</td>
                                <td>18,000,000.00</td>
                                <td>500,000.00</td>
                                <td>5 de 30</td>
                                <td>Julio</td>
                                <td>Cuota Normal</td>
                                <td><a href="JavaScript:ModalComprobanteModal('1','00017239')">00028239</a></td>
                            </tr>
                            <tr>
                                <td>15</td>
                                <td>52481689</td>
                                <td>BBVA</td>
                                <td>TEQS S.A.</td>
                                <td>17,500,000.00</td>
                                <td>500,000.00</td>
                                <td>6 de 30</td>
                                <td>Junio</td>
                                <td>Cuota Normal</td>
                                <td><a href="JavaScript:ModalComprobanteModal('1','00017239')">00034239</a></td>
                            </tr>



                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
        $(document).ready(function () {
            AbrirMenu("CuotasPagadas");
        });
    function ModalComprobanteModal(IdProgramacion, nroComprobante) {
        var tmpUrl = "/Reportes/CuotasPagadas";
        $("#datosComprobante").empty();
        $('#modal-comprobante').modal('show');
        $.ajax({
            url: tmpUrl,
            type: "Get",
            data: { IdProgramacion: IdProgramacion, nroComprobante: nroComprobante },
            beforeSend: function () {
                $("#datosComprobante").html('<i class="fa fa-circle-o-notch fa-spin"></i> Cargando...');
                mostrarCargando();
            },
            success: function (data) {
                $("#datosComprobante").empty();
                $("#datosComprobante").html(data);
                esconderCargando();
            }
        })
        }
</script>

    @*
        <!-- DataTable with Hover -->
        <script>
            $(document).ready(function () {
                AbrirMenu("LibroVentas");
                $('#grillaEmpresa').DataTable();
                moment.locale('es');
                $('#fecha').daterangepicker({
                    autoUpdateInput: false,
                    "locale": {
                        format: "DD/MM/YYYY",
                        "separator": " - ",
                        "applyLabel": "Aplicar",
                        "cancelLabel": "Limpiar",
                        "fromLabel": "DE",
                        "toLabel": "HASTA",
                        "customRangeLabel": "Personalizar",
                        "daysOfWeek": [
                            "Dom",
                            "Lun",
                            "Mar",
                            "Mie",
                            "Jue",
                            "Vie",
                            "Sáb"
                        ],
                        "monthNames": [
                            "Enero",
                            "Febrero",
                            "Marzo",
                            "Abril",
                            "Mayo",
                            "Junio",
                            "Julio",
                            "Agosto",
                            "Septiembre",
                            "Octubre",
                            "Noviembre",
                            "Diciembre"
                        ],
                        "firstDay": 1
                    }
                });

                $('#fecha').on('apply.daterangepicker', function (ev, picker) {
                    $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
                    //RefreshLista();
                });


                $('#fecha').on('cancel.daterangepicker', function (ev, picker) {
                    $(this).val('');
                    //RefreshLista();
                });
                $('#selectEmpresa').select2({
                    placeholder: '---Seleccione Empresa---',
                    language: "es",
                    allowClear: true,
                });

            });
            function RefreshLista() {
                var table = initTable();
                table.ajax.reload(function (json) { });
            }
            function initTable() {
                var table = $('#grillaEmpresa').DataTable({
                    "scrollX": true,
                    "retrieve": true,
                    'ajax': {
                        "type": "POST",
                        "url": '/Vencidas/Vencidas_Read/0',
                        "data": function (d) {

                        },
                        "dataSrc": ""
                    },
                    columns: [

                        {
                            "mData": null,
                            "bSortable": false,
                            "mRender": function (o, type, row) {
                                var boton = '';
                                boton = '<button class="btn btn-primary btn-sm" onclick="CreateRegistro(' + o.IdVencidas + ')"><i class="fa fa-edit"></i></button> ';
                                return boton;
                            }
                        },
                        { "data": "Sociedad" },
                        { "data": "RutCliente" },
                        { "data": "Cliente" },
                        { "data": "Emisión" },
                        { "data": "Vencimiento" },
                        { "data": "Factura" },
                        { "data": "Monto" },
                        {
                            "mData": null,
                            "bSortable": false,
                            "mRender": function (o, type, row) {
                                var estado = 'NO';
                                if (o.Activo == true) {
                                    estado = "SI";
                                }
                                return estado;
                            }
                        }
                    ]
                });

                return table;
            }

        </script>
        <script>
            $(document).ready(function () {

                $('#frmEdit').validate({
                    debug: false,
                    errorElement: "em",
                    errorContainer: $("#warning")
                });
                $('#perfiles').select2({
                    theme: 'bootstrap4'
                })
                window.top.esconderCargando();
            });

            function Success_dl(data) {
                esconderCargando();
                if (data.Estado == "0") {
                    toastr.success(data.Mensaje);
                    $('#modal-registro').modal('hide');
                    RefreshLista();
                }
                else {
                    toastr.error(data.Mensaje);
                }
            }
            function Failure_dl(data) {
                esconderCargando();
                toastr.error(data.Mensaje);
                $('#modal-registro').modal('hide');
            }

        </script>
    *@
