@{
    ViewBag.Title = "Reporte Cuotas Pagadas";
}
@{
    tesoreria.Helper.Seguridad seguridad = System.Web.HttpContext.Current.Session["Seguridad"] as tesoreria.Helper.Seguridad;
}

<div class="d-sm-flex align-items-center justify-content-between">
    <h5 class="h5 mb-0 text-gray-800">Reporte </h5>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home/Inicio">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Inicio</li>
    </ol>
</div>
<h6 class="h6 mb-0 text-gray-800">Cuotas Pagadas</h6>
<br />

<div class="row">
    <div class="col-md-12">
        <div class="card card-outline card-info">
            <div class="card-header">
                <h3 class="card-title">Filtros</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2">
                        <input type="number" class="form-control form-control-sm" placeholder="Año" id="anioInicial" name="anioInicial" value="@DateTime.Now.Year">
                    </div>
                    <div class="col-sm-2">
                        @Html.DropDownList("IdMesInicial", (SelectList)ViewData["listaMesInicial"], "--Seleccione Mes Inicial--", htmlAttributes: new { @class = "form-control form-control-sm" })                        
                    </div>
                    <div class="col-sm-2">
                        <input type="number" class="form-control form-control-sm" placeholder="Año" id="anioFinal" name="anioFinal" value="@DateTime.Now.Year">
                    </div>
                    <div class="col-sm-2">
                        @Html.DropDownList("IdMesFinal", (SelectList)ViewData["listaMes"], "--Seleccione Mes Final--", htmlAttributes: new { @class = "form-control form-control-sm" })                        
                    </div>
                    <div class="col-sm-2">
                        <select name="estadoPago" id="estadoPago" class="form-control form-control-sm">
                            <option value="">--Seleccione Estado del Pago--</option>
                            <option value="1" selected>Tiene Comprobante</option>
                            <option value="2">No Tiene Comprobante</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <div class="row justify-content-end">
                            <button class="btn btn-info btn-sm " type="button" onclick="RefreshLista()"><i class="fa fa-cog"></i> Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover dataTable dtr-inline" width="100%" id="grillaEmpresa" data-order='[[ 0, "asc" ]]'>
                        <thead class="thead-light">
                            <tr>
                                <th class="text-center" colspan="4">Contrato</th>
                                <th class="text-center" colspan="8">Cuota</th>
                            </tr>
                            <tr>
                                <th>Número Contrato</th>
                                <th>Banco</th>
                                <th>Empresa</th>
                                <th>Monto Contrato</th>
                                <th>Periodo</th>
                                <th>Cuota</th>
                                <th>IVA</th>
                                <th>Obligación</th>
                                <th>Saldo Insoluto</th>
                                <th>Fecha</th>
                                <th>Cpbte. Traspaso</th>
                                <th>Cpbte. Egreso</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-comprobante" tabindex="-1" role="dialog" aria-labelledby="exampleModalComprobante" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div id="datosComprobante"></div>
        </div>
    </div>
</div>
<!-- DataTable with Hover -->
<script>
$(document).ready(function () {
    AbrirMenu("CuotasPagadas");
    $('#selectEmpresa').select2({
        placeholder: '---Seleccione Empresa---',
        language: "es",
        allowClear: true,
    });
    initTable();
});
function RefreshLista() {
    var table = initTable();
    table.ajax.reload(function (json) { });
}
function initTable() {
    var table = $('#grillaEmpresa').DataTable({
        "scrollX": true,
        "retrieve": true,
        'ajax': {
            "type": "POST",
            "url": '/Reportes/CuotasPagadas_Read/0',
            "data": function (d) {
                d.anioInicial = $("#anioInicial").val();
                d.IdMesInicial = $("#IdMesInicial").val();
                d.anioFinal = $("#anioFinal").val();
                d.IdMesFinal = $("#IdMesFinal").val();
                d.estadoPago = $("#estadoPago").val();
            },
            "dataSrc": ""
        },
        columnDefs: [
        { targets: '_all', className: 'align-middle' },
        {
            targets: [3,5,6,7,8],
            render: function (data, type, row) {
                var numFormt = "";
                if (data != null) {
                    var num = data.toString();
                    //numFormt = row.NombreTipoMoneda+" "+SeparadorMiles(num);
                    numFormt = SeparadorMiles(num);
                }
                return numFormt;
            }
        },
        {
            targets: [9],
            render: function (data) {
                var fecha = DateDatatable(data);
                return fecha;
            }
        }
    ],

        columns: [
            { "data": "NroContrato" },
            { "data": "Banco" },
            { "data": "Empresa" },
            { "data": "Monto" },
            { "data": "Periodo" },
            { "data": "Cuota" },
            { "data": "IvaDiferido" },
            { "data": "Obligacion" },
            { "data": "SaldoInsoluto" },
            { "data": "FechaPago" },
            {
                mData: "CpbteT",
                mRender: function (data, type, row) {
                    var boton = "<ul class='list-unstyled'>";
                    if (data != null) {
                        for (i = 0; i < data.length; i++) {
                            boton += '<li><a href="JavaScript:ModalComprobante(\'' + data[i].CpbNum + '\',\'' + data[i].CpbAno + '\',\'' + data[i].BaseSoftland + '\');"> <i class="fa fa-file-alt"></i> ' + data[i].CpbNum + '</a></li>';
                        }                        
                    }       
                    boton+='</ul>'
                    return boton;
                }
            },
            {
                mData: "CpbteE",
                mRender: function (data, type, row) {
                    var boton = "<ul class='list-unstyled'>";
                    if (data != null) {
                        for (i = 0; i < data.length; i++) {
                            boton += '<li><a href="JavaScript:ModalComprobante(\'' + data[i].CpbNum + '\',\'' + data[i].CpbAno + '\',\'' + data[i].BaseSoftland + '\');"> <i class="fa fa-file-alt"></i> ' + data[i].CpbNum + '</a></li>';
                        }
                    }
                    boton += '</ul>'
                    return boton;
                }
            }
        ]
    });

    return table;
}
function ModalComprobante(CpbNum, CpbAno, baseSoftland) {
    var tmpUrl = "/CpteSoftland/ComprobanteSoftland";
    $("#datosComprobante").empty();
    $('#modal-comprobante').modal('show');
    $.ajax({
        url: tmpUrl,
        type: "Get",
        data: { CpbNum: CpbNum, CpbAno: CpbAno, baseSoftland: baseSoftland, deModal: false },
        beforeSend: function () {
            $("#datosComprobante").html('<i class="fa fa-circle-o-notch fa-spin"></i> Cargando...');
            mostrarCargando();
        },
        success: function (data) {
            $("#datosComprobante").empty();
            $("#datosComprobante").html(data);
            esconderCargando();
        }
    });
}
</script>
