@{
    ViewBag.Title = "Amortizaciones de Leasing";
}
@{
    tesoreria.Helper.Seguridad seguridad = System.Web.HttpContext.Current.Session["Seguridad"] as tesoreria.Helper.Seguridad;
}

<div class="d-sm-flex align-items-center justify-content-between">
    <h5 class="h5 mb-0 text-gray-800">Amortizaciones Leasing</h5>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home/Inicio">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Inicio</li>
    </ol>
</div>
<h6 class="h6 mb-0 text-gray-800">Acá puedes revisar el detalle de las Amortizaciones y generar el archivo de integración.</h6>
<br />
<div class="card card-outline card-info collapsed-card">
    <div class="card-header">
        <h3 class="card-title">Generar detalle de amortización</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                @Html.DropDownList("idEmpresaB", (SelectList)ViewData["listaEmpresa"], "--Seleccione Empresa--", htmlAttributes: new { @class = "form-control form-control-sm" })
            </div>
            <div class="col-md-2">
                <select name="anio" class="form-control">
                    <option>--Seleccione Año--</option>
                    <option value="1">2021</option>
                    <option value="2">2022</option>
                    <option value="3">2023</option>
                    <option value="4">2024</option>
                    <option value="5">2025</option>
                    <option value="6">2026</option>
                    <option value="7">2027</option>
                    <option value="8">2028</option>
                    <option value="9">2029</option>
                    <option value="10">2030</option>
                    <option value="11">2031</option>
                    <option value="12">2032</option>
                </select>
            </div>
            <div class="col-md-2">
                @Html.DropDownList("idMesB", (SelectList)ViewData["listaMes"], "--Seleccione Mes--", htmlAttributes: new { @class = "form-control form-control-sm" })
            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-2">
                <div class="row justify-content-end">
                    <button class="btn btn-info btn-sm " type="button" onclick="RefreshLista()"><i class="fa fa-search"></i> Generar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">

            <div class="card-header">
                <h3 class="card-title">Detalle</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <label for="inputEmail3" class="col-lg-12 col-form-label">MAQSUR S.A.</label>
                <label for="inputEmail3" class="col-lg-12 col-form-label">@Model.FechaInicioStr</label>
                <div class="row justify-content-end">
                    <button class="btn btn-info btn-sm " type="button" onclick="RefreshLista()"><i class="fa fa-download"></i> Exportar Comprobante Contable de Ajuste</button>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover dataTable dtr-inline" width="100%" id="grillaReporte" data-order='[[ 0, "asc" ]]'>
                        <thead class="thead-light">
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th align="center">Corriente</th>
                                <th align="center" colspan="4">No Corriente</th>
                            </tr>
                            <tr>
                                <th class="no-sort" width="3%"><i class="fa fa-book-open"></i></th>
                                <th class="no-sort" width="3%"><i class="far fa-eye"></i></th>
                                <th>Empresa</th>
                                <th>Nombre Acreedor</th>
                                <th>Número</th>
                                <th>Moneda</th>
                                <th>Tasa de Interés</th>
                                <th>Total</th>
                                <th>De 1 a 3 años (M$)</th>
                                <th>De 3 a 5 años (M$)</th>
                                <th>5 a más años (M$)</th>
                                <th>Total (M$)</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="ModalAmortizacion" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="modal-otroscreditos" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div id="datosAmortizacion"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalContrato" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="modal-creditoorigen" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div id="datosContrato"></div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        AbrirMenu("Leasing");
        RefreshLista();
    });
    function RefreshLista() {
        var table = initTable();
        table.ajax.reload(function (json) { });
    }

    function Amortizacion(idContrato) {
        $.ajax({
            url: "/Amortizacion/ModalAmortizacion",
            type: "Post",
            data: { idContrato: idContrato },
            beforeSend: function () {
                $("#datosAmortizacion").html('<i class="fa fa-circle-o-notch fa-spin"></i> Cargando...');
            },
            success: function (data) {
                $("#datosAmortizacion").empty();
                $("#datosAmortizacion").html(data);
            }
        });
    }

    function Contrato(idContrato) {
        $.ajax({
            url: "/Amortizacion/ModalContrato",
            type: "Post",
            data: { idContrato: idContrato },
            beforeSend: function () {
                $("#datosContrato").html('<i class="fa fa-circle-o-notch fa-spin"></i> Cargando...');
            },
            success: function (data) {
                $("#datosContrato").empty();
                $("#datosContrato").html(data);
            }
        });
    }

    function initTable() {
        var table = $('#grillaReporte').DataTable({
            "retrieve": true,
            'ajax': {
                "type": "POST",
                "url": '/Amortizacion/ListaContrato_Read/',
                "data": function (d) {
                    d.idTipoContrato = "@((int)tesoreria.Helper.TipoContrato.Leasing)";
                    d.IdEmpresa = $('#idEmpresaB').val();
                    d.IdAnio = $('#idAnioB').val();
                    d.IdMes = $('#idMesB').val();
                },
                "dataSrc": ""
            },
            columnDefs: [
                { targets: '_all', className: 'align-middle' },
                {
                    targets: [6],
                    render: function (data, type, row) {
                        var numFormt = "";
                        if (data != null) {
                            var num = data.toString();
                            numFormt = SeparadorMiles(num);
                        }
                        return numFormt;
                    }
                }
            ],
            columns: [
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function (o, type, row) {
                        var boton = '';
                        boton = '<button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#ModalAmortizacion" onclick="Amortizacion(' + o.IdContrato + ')"><i class="fa fa-book-open"></i></button> ';
                        return boton;
                    }
                },
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function (o, type, row) {
                        var boton = '';
                        boton = '<button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#ModalContrato" onclick="Contrato(' + o.IdContrato + ')"><i class="far fa-eye"></i></button> ';
                        return boton;
                    }
                },
                { "data": "Empresa" },
                { "data": "Acreedor" },
                { "data": "NumeroContrato" },
                { "data": "Moneda" },
                { "data": "TasaMensual" },
                { "data": "Total" },
                { "data": "Total1" },
                { "data": "Total2" },
                { "data": "Total3" },
                { "data": "TotalGeneral" },
            ]
        });

        return table;
    }
</script>

