
@{
    ViewBag.Title = "Detalle de Leasing";
}
@{
    Layout = "~/Views/Shared/_Popup.cshtml";
}
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detalle de Leasing</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="ml-2">
            <div class="table-responsive">
                <table class="table table-bordered table-hover dataTable dtr-inline" width="100%" id="grillaEmpresa" data-order='[[ 0, "asc" ]]'>
                    <thead class="thead-light">
                        <tr>
                            <th>Mes</th>
                            <th>Corto Plazo</th>
                            <th>Largo Plazo</th>
                            <th>Fecha de Pago</th>
                            <th>Periodo</th>
                            <th>Cuota</th>
                            <th>IVA Diferido</th>
                            <th>Interés</th>
                            <th>Amortización</th>
                            <th>Saldo Insoluto</th>
                            <th>Factura</th>
                            <th>Comp. de Cont.</th>
                            <th>Comp. de Egre.</th>
                            <th class="no-sort" width="3%">&nbsp;</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>103,081,339.00</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>05/04/2021</td>
                            <td>1</td>
                            <td>2,295,695.00</td>
                            <td>436,182.00</td>
                            <td>365,940.00</td>
                            <td>1,929,755.00</td>
                            <td>101,151,584</td>
                            <td>235856</td>
                            <td>89526</td>
                            <td>23458</td>
                            <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#verdetalle"><i class="far fa-eye"></i></button></td>
                        
                        </tr>
                        <tr>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>05/05/2021</td>
                            <td>2</td>
                            <td>2,295,695.00</td>
                            <td>436,182.00</td>
                            <td>365,940.00</td>
                            <td>1,929,755.00</td>
                            <td>101,151,584</td>
                            <td>1487596</td>
                            <td>89502</td>
                            <td>14274</td>
                            <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#verdetalle"><i class="far fa-eye"></i></button></td>

                        </tr>
                        <tr>
                            <td>1</td>
                            <td>0</td>
                            <td>0</td>
                            <td>05/06/2021</td>
                            <td>3</td>
                            <td>2,295,695.00</td>
                            <td>436,182.00</td>
                            <td>365,940.00</td>
                            <td>1,929,755.00</td>
                            <td>101,151,584</td>
                            <td>124741</td>
                            <td>80510</td>
                            <td>200645</td>
                            <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#verdetalle"><i class="far fa-eye"></i></button></td>

                        </tr>
                        <tr>
                            <td>0</td>
                            <td>1</td>
                            <td>0</td>
                            <td>05/07/2021</td>
                            <td>4</td>
                            <td>2,295,695.00</td>
                            <td>436,182.00</td>
                            <td>365,940.00</td>
                            <td>1,929,755.00</td>
                            <td>101,151,584</td>
                            <td>235856</td>
                            <td>89526</td>
                            <td>23458</td>
                            <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#verdetalle"><i class="far fa-eye"></i></button></td>

                        </tr>
                        <tr>
                            <td>0</td>
                            <td>1</td>
                            <td>0</td>
                            <td>05/08/2021</td>
                            <td>5</td>
                            <td>2,295,695.00</td>
                            <td>436,182.00</td>
                            <td>365,940.00</td>
                            <td>1,929,755.00</td>
                            <td>101,151,584</td>
                            <td>125421</td>
                            <td>78965</td>
                            <td>23112</td>
                            <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#verdetalle"><i class="far fa-eye"></i></button></td>

                        </tr>
                        <tr>
                            <td>0</td>
                            <td>1</td>
                            <td>0</td>
                            <td>05/09/2021</td>
                            <td>6</td>
                            <td>2,295,695.00</td>
                            <td>436,182.00</td>
                            <td>365,940.00</td>
                            <td>1,929,755.00</td>
                            <td>101,151,584</td>
                            <td>1421985</td>
                            <td>798523</td>
                            <td>1245</td>
                            <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#verdetalle"><i class="far fa-eye"></i></button></td>

                        </tr>
                        <tr>
                            <td>0</td>
                            <td>1</td>
                            <td>0</td>
                            <td>05/10/2021</td>
                            <td>7</td>
                            <td>2,295,695.00</td>
                            <td>436,182.00</td>
                            <td>365,940.00</td>
                            <td>1,929,755.00</td>
                            <td>101,151,584</td>
                            <td>259875</td>
                            <td>78451</td>
                            <td>6455</td>
                            <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#verdetalle"><i class="far fa-eye"></i></button></td>

                        </tr>
                        <tr>
                            <td>0</td>
                            <td>1</td>
                            <td>0</td>
                            <td>05/11/2021</td>
                            <td>8</td>
                            <td>2,295,695.00</td>
                            <td>436,182.00</td>
                            <td>365,940.00</td>
                            <td>1,929,755.00</td>
                            <td>101,151,584</td>
                            <td>74859</td>
                            <td>79652</td>
                            <td>4565</td>
                            <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#verdetalle"><i class="far fa-eye"></i></button></td>

                        </tr>
                        <tr>
                            <td>0</td>
                            <td>1</td>
                            <td>0</td>
                            <td>05/12/2021</td>
                            <td>9</td>
                            <td>2,295,695.00</td>
                            <td>436,182.00</td>
                            <td>365,940.00</td>
                            <td>1,929,755.00</td>
                            <td>101,151,584</td>
                            <td>1542863</td>
                            <td>85648</td>
                            <td>74102</td>
                            <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#verdetalle"><i class="far fa-eye"></i></button></td>

                        </tr>
                        <tr>
                            <td>0</td>
                            <td>1</td>
                            <td>0</td>
                            <td>05/01/2022</td>
                            <td>10</td>
                            <td>2,295,695.00</td>
                            <td>436,182.00</td>
                            <td>365,940.00</td>
                            <td>1,929,755.00</td>
                            <td>101,151,584</td>
                            <td>12456</td>
                            <td>85235</td>
                            <td>42563</td>
                            <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#verdetalle"><i class="far fa-eye"></i></button></td>

                        </tr>
                        <tr>
                            <td>0</td>
                            <td>1</td>
                            <td>0</td>
                            <td>05/02/2022</td>
                            <td>11</td>
                            <td>2,295,695.00</td>
                            <td>436,182.00</td>
                            <td>365,940.00</td>
                            <td>1,929,755.00</td>
                            <td>101,151,584</td>
                            <td>14758</td>
                            <td>800256</td>
                            <td>1245</td>
                            <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#verdetalle"><i class="far fa-eye"></i></button></td>

                        </tr>
                        <tr>
                            <td>0</td>
                            <td>1</td>
                            <td>0</td>
                            <td>05/03/2022</td>
                            <td>12</td>
                            <td>2,295,695.00</td>
                            <td>436,182.00</td>
                            <td>365,940.00</td>
                            <td>1,929,755.00</td>
                            <td>101,151,584</td>
                            <td>98653</td>
                            <td>80425</td>
                            <td>235648</td>
                            <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#verdetalle"><i class="far fa-eye"></i></button></td>

                        </tr>
                        <tr>
                            <td>0</td>
                            <td>1</td>
                            <td>0</td>
                            <td>05/04/2022</td>
                            <td>13</td>
                            <td>2,295,695.00</td>
                            <td>436,182.00</td>
                            <td>365,940.00</td>
                            <td>1,929,755.00</td>
                            <td>101,151,584</td>
                            <td>245227</td>
                            <td>124158</td>
                            <td>85246</td>
                            <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#verdetalle"><i class="far fa-eye"></i></button></td>

                        </tr>
                        <tr>
                            <td>0</td>
                            <td>1</td>
                            <td>0</td>
                            <td>05/05/2022</td>
                            <td>14</td>
                            <td>2,295,695.00</td>
                            <td>436,182.00</td>
                            <td>365,940.00</td>
                            <td>1,929,755.00</td>
                            <td>101,151,584</td>
                            <td>98746</td>
                            <td>785478</td>
                            <td>1242258</td>
                            <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#verdetalle"><i class="far fa-eye"></i></button></td>

                        </tr>

                    </tbody>
                </table>




            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cerrar</button>
    </div>

</div>
<script>
    $(document).ready(function () {

        $('#frmEdit').validate({
            debug: false,
            errorElement: "em",
            errorContainer: $("#warning")
        });
        $('#perfiles').select2({
            theme: 'bootstrap4'
        })
        window.top.esconderCargando();
    });

    function Success_dl(data) {
        esconderCargando();
        if (data.Estado == "0") {
            toastr.success(data.Mensaje);
            $('#modal-registro').modal('hide');
            RefreshLista();
        }
        else {
            toastr.error(data.Mensaje);
        }
    }
    function Failure_dl(data) {
        esconderCargando();
        toastr.error(data.Mensaje);
        $('#modal-registro').modal('hide');
    }

</script>
