
@{
    ViewBag.Title = "Contrato Origen";
}
@{
    Layout = "~/Views/Shared/_Popup.cshtml";
}
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Contrato Origen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="ml-2">
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Empresa</label>
                <label for="inputEmail3" class="col-sm-2 col-form-label"><p style="color:blue;font-size:10px;">MAQSUR S.A.</p></label>
                <label for="inputEmail3" class="col-sm-2 col-form-label">Nro. Contrato</label>
                <label for="inputEmail3" class="col-sm-2 col-form-label"><p style="color:blue;font-size:10px;">268974-2563</p></label>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Banco</label>
                <label for="inputEmail3" class="col-sm-2 col-form-label"><p style="color:blue;font-size:10px;">BCI</p></label>
                <label for="inputEmail3" class="col-sm-2 col-form-label">Tasa Mensual</label>
                <label for="inputEmail3" class="col-sm-2 col-form-label"><p style="color:blue;font-size:10px;">1.5 %</p></label>
                <label for="inputEmail3" class="col-sm-2 col-form-label">Tasa Anual</label>
                <label for="inputEmail3" class="col-sm-2 col-form-label"><p style="color:blue;font-size:10px;">23.0 %</p></label>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Plazo meses</label>
                <label for="inputEmail3" class="col-sm-2 col-form-label"><p style="color:blue;font-size:10px;">49</p></label>
                <label for="inputEmail3" class="col-sm-2 col-form-label">Inicio</label>
                <label for="inputEmail3" class="col-sm-2 col-form-label"><p style="color:blue;font-size:10px;">01-01-2019</p></label>
                <label for="inputEmail3" class="col-sm-2 col-form-label">Término</label>
                <label for="inputEmail3" class="col-sm-2 col-form-label"><p style="color:blue;font-size:10px;">01-07-2031</p></label>
            </div>

            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-6 col-form-label">Documentos cargados:</label>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered table-hover dataTable dtr-inline" width="100%" id="grillaEmpresa" data-order='[[ 0, "asc" ]]'>
                    <thead class="thead-light">
                        <tr>
                            <th class="no-sort" width="3%">Item</th>
                            <th><p font-size:8px;">Contrato</p></th>
                            <th><p font-size:8px;">Otros documentos</p></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td><a href="">458956-558-BCI.pdf</a></td>
                            <td><a href="">BCI-8954.docx</a></td>
                        </tr>

                    </tbody>
                </table>




            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cerrar</button>
    </div>

</div>
<script>
    $(document).ready(function () {

        $('#frmEdit').validate({
            debug: false,
            errorElement: "em",
            errorContainer: $("#warning")
        });
        $('#perfiles').select2({
            theme: 'bootstrap4'
        })
        window.top.esconderCargando();
    });

    function Success_dl(data) {
        esconderCargando();
        if (data.Estado == "0") {
            toastr.success(data.Mensaje);
            $('#modal-registro').modal('hide');
            RefreshLista();
        }
        else {
            toastr.error(data.Mensaje);
        }
    }
    function Failure_dl(data) {
        esconderCargando();
        toastr.error(data.Mensaje);
        $('#modal-registro').modal('hide');
    }

</script>
