@{
    ViewBag.Title = "Amortizaciones de Leasing";
}
@{
    tesoreria.Helper.Seguridad seguridad = System.Web.HttpContext.Current.Session["Seguridad"] as tesoreria.Helper.Seguridad;
}

<div class="d-sm-flex align-items-center justify-content-between">
    <h5 class="h5 mb-0 text-gray-800">Amortizaciones </h5>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home/Inicio">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Inicio</li>
    </ol>
</div>
<h6 class="h6 mb-0 text-gray-800">Acá puedes revisar el detalle de las Amortizaciones y generar el archivo de integración.</h6>
<br />


<div class="row">
            <div class="card col-lg-12">
                <div class="card card-outline card-info collapsed-card">
                    <div class="card-header">
                        <h3 class="card-title">Generar detalle de amortización</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <select name="empresa" class="form-control">
                                    <option value="0">---Seleccione Empresa---</option>
                                    <option value="1">MAQSUR S.A.</option>
                                    <option value="2">BIOMASA</option>
                                    <option value="3">TECSUR</option>
                                    <option value="3">MQS</option>
                                    <option value="3">NOK</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select name="anio" class="form-control">
                                    <option>--Seleccione Año--</option>
                                    <option value="1">2021</option>
                                    <option value="2">2022</option>
                                    <option value="3">2023</option>
                                    <option value="4">2024</option>
                                    <option value="5">2025</option>
                                    <option value="6">2026</option>
                                    <option value="7">2027</option>
                                    <option value="8">2028</option>
                                    <option value="9">2029</option>
                                    <option value="10">2030</option>
                                    <option value="11">2031</option>
                                    <option value="12">2032</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select name="empresa" class="form-control">
                                    <option>--Seleccione Mes--</option>
                                    <option value="1">Enero</option>
                                    <option value="2">Febrero</option>
                                    <option value="3">Marzo</option>
                                    <option value="4">Abril</option>
                                    <option value="5">Mayo</option>
                                    <option value="6">Junio</option>
                                    <option value="7">Julio</option>
                                    <option value="8">Agosto</option>
                                    <option value="9">Septiembre</option>
                                    <option value="10">Octubre</option>
                                    <option value="11">Noviembre</option>
                                    <option value="12">Diciembre</option>
                                </select>
                            </div>
                            <div class="row justify-content-end">
                                <button class="btn btn-info btn-sm " type="button" onclick="RefreshLista()"><i class="fa fa-search"></i> Generar detalle</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<div class="row">
            <div class="col-md-12">
                <div class="card card-outline card-info collapsed-card">

                        <div class="card-header">
                            <h3 class="card-title">Detalle</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <label for="inputEmail3" class="col-lg-12 col-form-label">MAQSUR S.A.</label>
                            <label for="inputEmail3" class="col-lg-12 col-form-label">Detalle al 31 de agosto del 2021.</label>
                            <div class="row justify-content-end">
                                <button class="btn btn-info btn-sm " type="button" onclick="RefreshLista()"><i class="far fa-download"></i> Exportar .CSV</button>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover dataTable dtr-inline" width="100%" id="grillaEmpresa" data-order='[[ 0, "asc" ]]'>
                                    <thead class="thead-light">
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th align="center">Corriente</th>
                                            <th align="center" colspan="4">No Corriente</th>
                                        </tr>
                                        <tr>
                                            <th class="no-sort" width="3%">&nbsp;</th>
                                            <th>Nombre Acreedor</th>
                                            <th>Número</th>
                                            <th>Moneda</th>
                                            <th>Tasa de Interés</th>
                                            <th>Total</th>
                                            <th>De 1 a 3 años (M$)</th>
                                            <th>De 3 a 5 años (M$)</th>
                                            <th>5 a más años (M$)</th>
                                            <th>Total (M$)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                            <button class="btn btn-info btn-sm" type="button"  data-toggle="modal" data-target="#crear"><i class="far fa-eye"></i></button></td>
                                            <td>Leasing  Banco BCI</td>
                                            <td>81917</td>
                                            <td>$</td>
                                            <td>0.53%</td>
                                            <td>4736173.00</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>4736173.00</td>
                                        </tr>
                                        <tr>
                                            <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#crear"><i class="far fa-eye"></i></button></td>
                                            <td>Leasing  Banco BCI</td>
                                            <td>66853</td>
                                            <td>$</td>
                                            <td>0.48%</td>
                                            <td>10244786.00</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>10244786.00</td>
                                        </tr>
                                        <tr>
                                            <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#crear"><i class="far fa-eye"></i></button></td>
                                            <td>Leasing  Banco BCI</td>
                                            <td>68632</td>
                                            <td>$</td>
                                            <td>0.63%</td>
                                            <td>65124476.00</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>65124476.00</td>
                                        </tr>
                                        <tr>
                                            <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#crear"><i class="far fa-eye"></i></button></td>
                                            <td>Leasing  Banco BCI</td>
                                            <td>68632</td>
                                            <td>$</td>
                                            <td>0.62%</td>
                                            <td>4724990.00</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>4724990.00</td>
                                        </tr>
                                        <tr>
                                            <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#crear"><i class="far fa-eye"></i></button></td>
                                            <td>Leasing Banco Chile</td>
                                            <td>9944601</td>
                                            <td>$</td>
                                            <td>0.43%</td>
                                            <td>22769901.00</td>
                                            <td>25135511.00</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>42534459.00</td>
                                        </tr>
                                        <tr>
                                            <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#crear"><i class="far fa-eye"></i></button></td>
                                            <td>Leasing Banco Chile</td>
                                            <td>9973438</td>
                                            <td>$</td>
                                            <td>0.39%</td>
                                            <td>24381074.00</td>
                                            <td>34355176.00</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>58716250.00</td>
                                        </tr>
                                        <tr>
                                            <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#crear"><i class="far fa-eye"></i></button></td>
                                            <td>Leasing Banco Chile</td>
                                            <td>9954785</td>
                                            <td>$</td>
                                            <td>0.31%</td>
                                            <td>12059994.00</td>
                                            <td>21105714.00</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>3315708.00</td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>

                        </div>

                </div>
</div>


            @*
                <!-- DataTable with Hover -->
                <script>
                    $(document).ready(function () {
                        AbrirMenu("LibroVentas");
                        $('#grillaEmpresa').DataTable();
                        moment.locale('es');
                        $('#fecha').daterangepicker({
                            autoUpdateInput: false,
                            "locale": {
                                format: "DD/MM/YYYY",
                                "separator": " - ",
                                "applyLabel": "Aplicar",
                                "cancelLabel": "Limpiar",
                                "fromLabel": "DE",
                                "toLabel": "HASTA",
                                "customRangeLabel": "Personalizar",
                                "daysOfWeek": [
                                    "Dom",
                                    "Lun",
                                    "Mar",
                                    "Mie",
                                    "Jue",
                                    "Vie",
                                    "Sáb"
                                ],
                                "monthNames": [
                                    "Enero",
                                    "Febrero",
                                    "Marzo",
                                    "Abril",
                                    "Mayo",
                                    "Junio",
                                    "Julio",
                                    "Agosto",
                                    "Septiembre",
                                    "Octubre",
                                    "Noviembre",
                                    "Diciembre"
                                ],
                                "firstDay": 1
                            }
                        });

                        $('#fecha').on('apply.daterangepicker', function (ev, picker) {
                            $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
                            //RefreshLista();
                        });


                        $('#fecha').on('cancel.daterangepicker', function (ev, picker) {
                            $(this).val('');
                            //RefreshLista();
                        });
                        $('#selectEmpresa').select2({
                            placeholder: '---Seleccione Empresa---',
                            language: "es",
                            allowClear: true,
                        });

                    });
                    function RefreshLista() {
                        var table = initTable();
                        table.ajax.reload(function (json) { });
                    }
                    function initTable() {
                        var table = $('#grillaEmpresa').DataTable({
                            "scrollX": true,
                            "retrieve": true,
                            'ajax': {
                                "type": "POST",
                                "url": '/Vencidas/Vencidas_Read/0',
                                "data": function (d) {

                                },
                                "dataSrc": ""
                            },
                            columns: [

                                {
                                    "mData": null,
                                    "bSortable": false,
                                    "mRender": function (o, type, row) {
                                        var boton = '';
                                        boton = '<button class="btn btn-primary btn-sm" onclick="CreateRegistro(' + o.IdVencidas + ')"><i class="fa fa-edit"></i></button> ';
                                        return boton;
                                    }
                                },
                                { "data": "Sociedad" },
                                { "data": "RutCliente" },
                                { "data": "Cliente" },
                                { "data": "Emisión" },
                                { "data": "Vencimiento" },
                                { "data": "Factura" },
                                { "data": "Monto" },
                                {
                                    "mData": null,
                                    "bSortable": false,
                                    "mRender": function (o, type, row) {
                                        var estado = 'NO';
                                        if (o.Activo == true) {
                                            estado = "SI";
                                        }
                                        return estado;
                                    }
                                }
                            ]
                        });

                        return table;
                    }

                </script>
                <script>
                    $(document).ready(function () {

                        $('#frmEdit').validate({
                            debug: false,
                            errorElement: "em",
                            errorContainer: $("#warning")
                        });
                        $('#perfiles').select2({
                            theme: 'bootstrap4'
                        })
                        window.top.esconderCargando();
                    });

                    function Success_dl(data) {
                        esconderCargando();
                        if (data.Estado == "0") {
                            toastr.success(data.Mensaje);
                            $('#modal-registro').modal('hide');
                            RefreshLista();
                        }
                        else {
                            toastr.error(data.Mensaje);
                        }
                    }
                    function Failure_dl(data) {
                        esconderCargando();
                        toastr.error(data.Mensaje);
                        $('#modal-registro').modal('hide');
                    }

                </script>
            *@


<div class="modal fade" id="crear" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="modal-crearLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        @Html.Partial("ModalDetalleLeasing", null)
    </div>
</div>