@{
    ViewBag.Title = "Dashboard";
}
<h5 class="h5 mb-0 text-gray-800">Demos un vistaso al desarrollo de los contratos y endeudamiento de todas las empresas.</h5>
<br />
<table class="table table-bordered table-hover dataTable dtr-inline" width="100%" id="indicadores" data-order='[[ 1, "asc" ]]'>
    <thead>
        <tr>
            <th><img src="~/img/logo/banderachile.png" width="20" height="20" ;> UF <span id="valorUF"></span></th>
            <th><img src="~/img/logo/banderachile.png" width="20" height="20" ;> UTM <span id="valorUTM"></span></th>
            <th><img src="~/img/logo/banderachile.png" width="20" height="20" ;> IPC <span id="valorIPC"></span> </th>
            <th><img src="~/img/logo/banderaeeuu.png" width="20" height="20"> USD <span id="valorUSD"></span> </th>
            <th><img src="~/img/logo/euro.png" width="20" height="20"> EURO <span id="valorEUR"></span> </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<div class="card card-outline card-info">
    <div class="card-header">
        <h3 class="card-title">Filtros</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-2 mt-1">
                @Html.DropDownList("IdEmpresaBus", (SelectList)ViewData["listaEmpresa"], "--Seleccione Empresa--", htmlAttributes: new { @class = "form-control form-control-sm filtroRepote" })
            </div>
            <div class="col-sm-2 mt-1">
                @Html.DropDownList("IdBancoBus", (SelectList)ViewData["listaBancos"], "--Seleccione Banco--", htmlAttributes: new { @class = "form-control form-control-sm filtroRepote" })
            </div>
            <div class="col-sm-2 mt-1">
                <input type="text" name="anioBus" id="anioBus" value="@DateTime.Now.Year" class="form-control form-control-sm filtroRepote" />
            </div>
            <div class="col-sm-2 mt-1">
                @Html.DropDownList("IdMesBus", (SelectList)ViewData["listaMeses"], "--Seleccione Banco--", htmlAttributes: new { @class = "form-control form-control-sm filtroRepote" })
            </div>
            <div class="col-sm-2 mt-1">
                <input type="text" name="valorUfBus" id="valorUfBus" value="" class="form-control form-control-sm filtroRepote numberMiles" />
            </div>
            <div class="col-sm-auto mt-1">
                <button class="btn btn-sm btn-primary" type="button" name="btnFiltrar" id="btnFiltrar" onclick="RefreshLista()"><i class="fa fa-sync-alt"></i> Refrescar</button>
            </div>
        </div>
    </div>
</div>
<div class="row">

    <div class="col-md-6">
        <div class="card">
            <div class="card-header text-white" style="background-color:midnightblue">
                <h3 class="card-title">Consolidado de Endeudamiento Leasing por Empresa - <strong class="lblPeriodo"></strong></h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover dataTable dtr-inline" width="100%" id="grilla1" data-order='[[ 0, "asc" ]]'>
                            <thead class="thead-light">
                                <tr>
                                    <th>Empresa</th>
                                    <th>Cant. Leasing Contratados</th>
                                    <th>Tasa Prom. de Endeu. en CLP $</th>
                                    <th>Tasa Prom. de Endeu. en UF</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header text-white" style="background-color:midnightblue">
                <h3 class="card-title">Consolidado de Endeudamiento Leasing por Moneda - <strong class="lblPeriodo"></strong></h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover dataTable dtr-inline" width="100%" id="grilla2" data-order='[[ 0, "asc" ]]'>
                            <thead class="thead-light">
                                <tr>
                                    <th>Empresa</th>
                                    <th>CLP $</th>
                                    <th>UF</th>
                                    <th>USD</th>
                                </tr>
                            </thead>
                            <tbody>
                               
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header text-white" style="background-color:midnightblue">
                <h3 class="card-title">Consolidado de Tipo de Activo en Leasing - Al <strong class="lblPeriodo"></strong></h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover dataTable dtr-inline" width="100%" id="grilla3" data-order='[[ 0, "asc" ]]'>
                            <thead class="thead-light">
                                <tr>
                                    <th>Tipo Activo en Leasing</th>
                                    <th>Contratos</th>
                                    <th>CLP $</th>
                                    <th>UF</th>
                                    <th>Deuda Vigente</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-6">
        <div class="card">
            <div class="card-header" style="background-color:lightgrey">
                <h3 class="card-title">Deuda Vigente por Entidad Financiera <strong class="lblPeriodo"></strong></h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row m-0" style="display: block; position: relative; width: 100%;">
                    <div id="chart-cobranza" style="height:420px;background-color: transparent;" data-highcharts-chart="15">

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header" style="background-color:lightgray">
                <h3 class="card-title">Resumen Estructura de Deuda según Categoria y Empresa (MM$) <strong class="lblPeriodo"></strong></h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row m-0" style="display: block; position: relative; width: 100%;">
                    <div id="chartEstadistico" style="height:420px;background-color: transparent;" data-highcharts-chart="15">

                    </div>
                </div>
                <script>
                    $(document).ready(function () {

                        CargarChartResumenStructura();
                    });

                    function CargarChartResumenStructura() {
                        $.ajax({
                            url: "/Empresa/ResumenDeudaTipoFinanciamiento_Read",
                            type: "Get",
                            data: {
                                IdEmpresa: $("#IdEmpresaBus").val(),
                                IdBanco: $("#IdBancoBus").val(),
                                anio: $("#anioBus").val(),
                                IdMes: $("#IdMesBus").val(),
                                valorUf : $("#valorUfBus").val()
                            },
                            beforeSend: function () {

                            },
                            success: function (data) {

                                Highcharts.chart('chartEstadistico', {
                                    chart: {
                                        type: 'column'
                                    },
                                    title: {
                                        text: ''
                                    },
                                    xAxis: {
                                        type: 'category'
                                    },                                    
                                    yAxis: {
                                        allowDecimals: true,
                                        min: 0,
                                        title: {
                                            text: 'MM$'
                                        },
                                        stackLabels: {
                                            enabled: true,
                                            style: {
                                                fontWeight: 'bold',
                                                color: ( // theme
                                                    Highcharts.defaultOptions.title.style &&
                                                    Highcharts.defaultOptions.title.style.color
                                                ) || 'gray'
                                            }
                                        }
                                    },
                                    credits: {
                                        enabled: false
                                    },
                                    
                                    plotOptions: {
                                        column: {
                                            stacking: 'normal',
                                            dataLabels: {
                                                enabled: true
                                            }
                                        }
                                    },
                                    series: data.serie
                                });
                            }
                        });
                    }

                </script>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" style="background-color:lightgrey">
                <h3 class="card-title">Deuda Leasing por Institución Financiera <strong class="lblPeriodo"></strong></h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover dataTable dtr-inline" width="100%" id="grillaEntidad" data-order='[[ 0, "asc" ]]'>
                            <thead class="thead-light">
                                <tr>
                                    <th>Banco</th>
                                    <th>Obligación CP</th>
                                    <th>Obligación LP</th>
                                    <th>Total Deuda</th>
                                    <th>Deuda Estructurada</th>
                                    <th>Total Final</th>
                                    <th>% Deuda</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header" style="background-color:lightgrey">
                <h3 class="card-title">Endeudamiento Grupo MAQSUR <strong class="lblPeriodo"></strong></h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row m-0" style="display: block; position: relative; width: 100%;">
                    <div id="chart-deudaEmrpesa" style="height:420px;background-color: transparent;" data-highcharts-chart="15">

                    </div>
                </div>
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover dataTable dtr-inline" width="100%" id="grillaDeudaEmpresa" data-order='[[ 0, "asc" ]]'>
                            <thead class="thead-light">
                                <tr>
                                    <th>Empresa</th>
                                    <th>Deuda</th>                                    
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    
                </div>
                <script>
                    function initTableDeudaEmpresa() {
                        var buttonCommon = {
                            text: 'Exportar a Excel',
                            title: 'Endeudamiento Empresa',
                            extend: 'excelHtml5',
                            exportOptions: {
                                columns: "thead th:not(.noExport)",
                                format: {
                                    body: function (data, row, column, node) {
                                        var texto = node.innerText;
                                        return (column >= 1) ?
                                            texto.replace(/[$.]/g, '').replace(/[$,]/g, '.') :
                                            texto;
                                    }
                                }
                            }
                        };
                        var table = $('#grillaDeudaEmpresa').DataTable({
                            "initComplete": function (settings, json) {
                                // Create the chart with initial data
                                //var container = $('<div/>').insertBefore(table.table().container());
                                //console.log(chartData(table))
                                var chart = Highcharts.chart('chart-deudaEmrpesa', {
                                    chart: {
                                        type: 'pie',
                                    },
                                    title: {
                                        text: '',
                                    },
                                    tooltip: {
                                        pointFormat: '{series.name}: <b>{point.percentage:.2f}%</b> <br> {point.y}'
                                    },
                                    plotOptions: {
                                        pie: {
                                            allowPointSelect: true,
                                            cursor: 'pointer',
                                            dataLabels: {
                                                enabled: true,
                                                format: '<b>{point.name}</b>: {point.percentage:.2f} %',
                                                distance: 20,
                                                filter: {
                                                    property: 'percentage',
                                                    operator: '>',
                                                    value: 1
                                                }
                                            }
                                        }
                                    },
                                    series: [
                                        {
                                            name: "Deuda",
                                            data: chartData(table,1),
                                        },
                                    ],
                                });

                                //// On each draw, update the data in the chart
                                table.on('draw', function () {
                                    chart.series[0].setData(chartData(table,1));
                                });
                            },
                            "retrieve": true,
                            'ajax': {
                                "type": "POST",
                                "url": '/Empresa/ConsolidadoDeudaEmpresa_Read/0',
                                "data": function (d) {
                                    d.IdEmpresa = $("#IdEmpresaBus").val();
                                    d.IdBanco = $("#IdBancoBus").val();
                                    d.anio = $("#anioBus").val();
                                    d.IdMes = $("#IdMesBus").val();
                                    d.valorUf = $("#valorUfBus").val();
                                },
                                "dataSrc": ""
                            },
                            buttons: [
                                $.extend(true, {}, buttonCommon, {
                                    filename: "Consolidado_DeudaEmpresa"
                                })
                            ],
                            columnDefs: [
                                { targets: '_all', className: 'align-middle' },
                                {
                                    targets: [1],
                                    render: function (data, type, row) {
                                        var numFormt = "";
                                        if (data != null) {
                                            var num = data.toString();
                                            numFormt = SeparadorMiles(num);
                                        }
                                        return numFormt;
                                    }
                                }
                            ],
                            columns: [
                                { "data": "Empresa" },
                                { "data": "TotalFinal" }
                            ]
                        });

                        return table;
                    }

                </script>

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header" style="background-color:lightgrey">
                <h3 class="card-title">Resumen Estructura de Deuda del Grupo MAQSUR <strong class="lblPeriodo"></strong></h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="cont-venta-bruta" class="row m-0" style="display: block; position: relative; max-width: 650px;">
                            <div id="chart-consolidadoAnio" style="height: 420px;background-color: transparent;" data-highcharts-chart="15">

                            </div>
                        </div>
                        <script>
                            $(document).ready(function () {

                                CargarChartResumenStructuraAnio();
                            });

                            function CargarChartResumenStructuraAnio() {
                                $.ajax({
                                    url: "/Empresa/ConsolidadoDeudaEmpresaAnios_Read",
                                    type: "Get",
                                    data: {
                                        IdEmpresa: $("#IdEmpresaBus").val(),
                                        IdBanco: $("#IdBancoBus").val(),
                                        anio: $("#anioBus").val(),
                                        IdMes: $("#IdMesBus").val(),
                                        valorUf : $("#valorUfBus").val()
                                    },
                                    beforeSend: function () {

                                    },
                                    success: function (data) {

                                        Highcharts.chart('chart-consolidadoAnio', {
                                            chart: {
                                                type: 'column'
                                            },
                                            title: {
                                                text: ''
                                            },
                                            xAxis: {
                                                type: 'category'
                                            },
                                            yAxis: {
                                                allowDecimals: true,
                                                min: 0,
                                                title: {
                                                    text: 'MM$'
                                                },
                                                stackLabels: {
                                                    enabled: true,
                                                    style: {
                                                        fontWeight: 'bold',
                                                        color: ( // theme
                                                            Highcharts.defaultOptions.title.style &&
                                                            Highcharts.defaultOptions.title.style.color
                                                        ) || 'gray'
                                                    }
                                                }
                                            },
                                            credits: {
                                                enabled: false
                                            },

                                            plotOptions: {
                                                column: {
                                                    stacking: 'normal',
                                                    dataLabels: {
                                                        enabled: true
                                                    }
                                                }
                                            },
                                            series: data.serie
                                        });
                                    }
                                });
                            }

                        </script>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" style="background-color:lightgrey">
                <h3 class="card-title">Consolidado por Tipo de Deuda MM$ <strong class="lblPeriodo"></strong></h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div id="divCargaTipoDeuda">                    
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function CargaConsolidadoTipoDeuda() {
        $.ajax({
            url: '/Empresa/TipoDeudaResumen',
            data: {
                IdEmpresa: $("#IdEmpresaBus").val(),
                IdBanco: $("#IdBancoBus").val(),
                anio: $("#anioBus").val(),
                IdMes: $("#IdMesBus").val(),
                valorUf : $("#valorUfBus").val()
            },
            async: true,
            contentType: "application/x-www-form-urlencoded",
            dataType: "html",
            global: true,
            ifModified: false,
            processData: true,
            //data: { idDocumento: op },
            //data: ReemplazoCadena(aux_busqueda),
            beforeSend: function () {
                $("#divCargaTipoDeuda").empty();
                $("#divCargaTipoDeuda").html('<i class="fa fa-circle-o-notch fa-spin"></i> Cargando...');
            },
            success: function (html) {
                //html=decodeURIComponent(html);
                $("#divCargaTipoDeuda").empty(),
                $("#divCargaTipoDeuda").append(html);
            },
            type: "post"
        });
    }
    $(document).ready(function () {
        AbrirMenu("Solicitante");
        $('.lblPeriodo').html($("#IdMesBus option:selected").text() + "-" + $("#anioBus").val())
        initTable();
        initTable2();
        initTable3();
        initTableDeudaBanco();
        initTableDeudaEmpresa();
        CargaConsolidadoTipoDeuda();
        $.getJSON('https://mindicador.cl/api', function (data) {
            var dailyIndicators = data;
            $("#valorUF").text(SeparadorMiles(dailyIndicators.uf.valor.toString()));
            $("#valorUTM").text(SeparadorMiles(dailyIndicators.utm.valor.toString()));
            $("#valorIPC").text(SeparadorMiles(dailyIndicators.ipc.valor.toString()));
            $("#valorUSD").text(SeparadorMiles(dailyIndicators.dolar.valor.toString()));
            $("#valorEUR").text(SeparadorMiles(dailyIndicators.euro.valor.toString()));
        }).fail(function () {
            console.log('Error!');
        });
        //$(".filtroRepote").change(RefreshLista)
    });
    function RefreshLista() {
        $(".numberMiles").each(function () {
            $(this).val($(this).val().toString().replace(/[$.]/g, ''))
        });
        $('.lblPeriodo').html($("#IdMesBus option:selected").text() + "-" + $("#anioBus").val())
        var table = initTable();
        table.ajax.reload(function (json) { });
        var table = initTable2();
        table.ajax.reload(function (json) { });
        var table = initTable3();
        table.ajax.reload(function (json) { });

        var table = initTableDeudaBanco();
        table.ajax.reload(function (json) {
            CargaChartDeudaBanco(table);
        });

        var table = initTableDeudaEmpresa();
        table.ajax.reload(function (json) { });
        
        CargarChartResumenStructuraAnio();
        CargarChartResumenStructura();
        CargaConsolidadoTipoDeuda();

        $(".numberMiles").each(function () {
            $(this).val(SeparadorMilesInput($(this).val().toString()))
        });
    }
    function initTable() {
        var buttonCommon = {
            text: 'Exportar a Excel',
            title: 'Consolidado de Endeudamiento Leasing por Empresa',
            extend: 'excelHtml5',
            exportOptions: {
                columns: "thead th:not(.noExport)",
                format: {
                    body: function (data, row, column, node) {
                        var texto = node.innerText;
                        return (column >= 2) ?
                            texto.replace(/[$.]/g, '').replace(/[$,]/g, '.') :
                            texto;
                    }
                }
            }
        };
        var table = $('#grilla1').DataTable({
            "retrieve": true,
            'ajax': {
                "type": "POST",
                "url": '/Contrato/Consolidado_Read/0',
                "data": function (d) {
                    d.IdEmpresa = $("#IdEmpresaBus").val();
                    d.IdBanco = $("#IdBancoBus").val();
                    d.anio = $("#anioBus").val();
                    d.IdMes = $("#IdMesBus").val();
                    d.valorUf = $("#valorUfBus").val();
                },
                "dataSrc": ""
            },
            buttons: [
                $.extend(true, {}, buttonCommon, {
                    filename: "ConsolidadoLeasing_Empresa"
                })
            ],
            columnDefs: [
                { targets: '_all', className: 'align-middle' },
                {
                    targets: [2, 3],
                    render: function (data, type, row) {
                        var numFormt = "";
                        if (data != null) {
                            var num = data.toString();
                            numFormt = SeparadorMiles(num);
                        }
                        return numFormt;
                    }
                }
            ],
            columns: [


                { "data": "RazonSocial" },
                { "data": "CantidadReg" },
                { "data": "TasaPromedio" },
                { "data": "TasaPromedioUF" }
            ]
        });

        return table;
    }
    function initTable2() {
        var buttonCommon = {
            text: 'Exportar a Excel',
            title: 'Consolidado de Endeudamiento Leasing por Moneda',
            extend: 'excelHtml5',
            exportOptions: {
                columns: "thead th:not(.noExport)",
                format: {
                    body: function (data, row, column, node) {
                        var texto = node.innerText;
                        return (column >= 1) ?
                            texto.replace(/[$.]/g, '').replace(/[$,]/g, '.') :
                            texto;
                    }
                }
            }
        };
        var table = $('#grilla2').DataTable({
            "retrieve": true,
            'ajax': {
                "type": "POST",
                "url": '/Contrato/Consolidado2_Read/0',
                "data": function (d) {
                    d.IdEmpresa = $("#IdEmpresaBus").val();
                    d.IdBanco = $("#IdBancoBus").val();
                    d.anio = $("#anioBus").val();
                    d.IdMes = $("#IdMesBus").val();
                    d.valorUf = $("#valorUfBus").val();
                },
                "dataSrc": ""
            },
            buttons: [
                $.extend(true, {}, buttonCommon, {
                    filename: "ConsolidadoLeasing_Moneda"
                })
            ],
            columnDefs: [
                { targets: '_all', className: 'align-middle' },
                {
                    targets: [1,2, 3],
                    render: function (data, type, row) {
                        var numFormt = "";
                        if (data != null) {
                            var num = data.toString();
                            numFormt = SeparadorMiles(num);
                        }
                        return numFormt;
                    }
                }
            ],
            columns: [

                { "data": "RazonSocial" },
                { "data": "TotalCLP" },
                { "data": "TotalUF" },
                { "data": "TotalUSD" }
            ]
        });

        return table;
    }

    function initTable3() {
        var buttonCommon = {
            text: 'Exportar a Excel',
            title: 'Consolidado por tipo de Deuda',
            extend: 'excelHtml5',
            exportOptions: {
                columns: "thead th:not(.noExport)",
                format: {
                    body: function (data, row, column, node) {
                        var texto = node.innerText;
                        return (column >= 1) ?
                            texto.replace(/[$.]/g, '').replace(/[$,]/g, '.') :
                            texto;
                    }
                }
            }
        };
        var table = $('#grilla3').DataTable({
            "scrollX": true,
            "retrieve": true,
            'ajax': {
                "type": "POST",
                "url": '/Contrato/Consolidado3_Read/0',
                "data": function (d) {
                    d.IdEmpresa = $("#IdEmpresaBus").val();
                    d.IdBanco = $("#IdBancoBus").val();
                    d.anio = $("#anioBus").val();
                    d.IdMes = $("#IdMesBus").val();
                    d.valorUf = $("#valorUfBus").val();
                },
                "dataSrc": ""
            },
            buttons: [
                $.extend(true, {}, buttonCommon, {
                    filename: "Consolidado_TipoDeuda"
                })
            ],
            columnDefs: [
                { targets: '_all', className: 'align-middle' },
                {
                    targets: [1, 2, 3,4],
                    render: function (data, type, row) {
                        var numFormt = "";
                        if (data != null) {
                            var num = data.toString();
                            numFormt = SeparadorMiles(num);
                        }
                        return numFormt;
                    }
                }
            ],
            columns: [
                { "data": "Familia" },
                { "data": "CantidadReg" },
                { "data": "TotalCLP" },
                { "data": "TotalUF" },
                { "data": "DeudaVigente" }
            ]
        });

        return table;
    }

    function chartData(table,columna) {
        var series = {};
        var valores = {};
        // Count the number of entries for each position
        table.column(0, { search: 'applied' })
            .data()
            .each(function (val, row) {
                series[row] = val;
            });
        table.column(columna, { search: 'applied' })
            .data()
            .each(function (val, row) {
                valores[row] = val;
            });
        //console.log(series)
        // And map it to the format highcharts uses
        return $.map(series, function (val, key) {
            return {
                name: val,
                y: valores[key],
            };
        });
    }
    function CargaChartDeudaBanco(table) {
        table = $('#grillaEntidad').DataTable();
        // Create the chart with initial data
        //var container = $('<div/>').insertBefore(table.table().container());
        //console.log(chartData(table))
        var chart = Highcharts.chart('chart-cobranza', {
            chart: {
                type: 'pie',
            },
            title: {
                text: '',
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.2f}%</b> <br> {point.y}'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.2f} %',
                        distance: 20,
                        filter: {
                            property: 'percentage',
                            operator: '>',
                            value: 1
                        }
                    }
                }
            },
            series: [
                {
                    name: "Deuda",
                    data: chartData(table, 5),
                },
            ],
        });

        //// On each draw, update the data in the chart
        //table.on('draw', function () {
        //    chart.series[0].setData(chartData(table));
        //});
    }
    function initTableDeudaBanco() {
        var buttonCommon = {
            text: 'Exportar a Excel',
            title: 'Deuda Leasing por Institución Financiera',
            extend: 'excelHtml5',
            exportOptions: {
                columns: "thead th:not(.noExport)",
                format: {
                    body: function (data, row, column, node) {
                        var texto = node.innerText;
                        return (column >= 1) ?
                            texto.replace(/[$.]/g, '').replace(/[$,]/g, '.') :
                            texto;
                    }
                }
            }
        };
        var table = $('#grillaEntidad').DataTable({
            "initComplete": function (settings, json) {
                CargaChartDeudaBanco(table);   
            },
            "retrieve": true,
            'ajax': {
                "type": "POST",
                "url": '/Bancos/ConsolidadoDeudaBanco_Read/0',
                "data": function (d) {
                    d.IdEmpresa = $("#IdEmpresaBus").val();
                    d.IdBanco = $("#IdBancoBus").val();
                    d.anio = $("#anioBus").val();
                    d.IdMes = $("#IdMesBus").val();
                    d.valorUf = $("#valorUfBus").val();
                },
                "dataSrc": ""
            },
            buttons: [
                $.extend(true, {}, buttonCommon, {
                    filename: "Consolidado_DeudaBanco"
                })
            ],
            columnDefs: [
                { targets: '_all', className: 'align-middle' },
                {
                    targets: [1, 2, 3,4,5,6],
                    render: function (data, type, row) {
                        var numFormt = "";
                        if (data != null) {
                            var num = data.toString();
                            numFormt = SeparadorMiles(num);
                        }
                        return numFormt;
                    }
                }
            ],
            columns: [
                { "data": "NombreBanco" },
                { "data": "TotalCP" },
                { "data": "TotalLP" },
                { "data": "TotalGeneral" },
                { "data": "SaldoInsoluto" },
                { "data": "TotalFinal" },
                { "data": "porcEntidad" }
            ]
        });

        return table;
    }


</script>
