@{
    ViewBag.Title = "Dashboard";
}
<h5 class="h5 mb-0 text-gray-800">Demos un vistaso al desarrollo de los contratos y endeudamiento de todas las empresas.</h5>
<br />
<table class="table table-bordered table-hover dataTable dtr-inline" width="100%" id="indicadores" data-order='[[ 1, "asc" ]]'>
    <thead>
        <tr>
            <th><img src="~/img/logo/banderachile.png" width="20" height="20" ;> UF <span id="valorUF"></span></th>
            <th><img src="~/img/logo/banderachile.png" width="20" height="20" ;> UTM <span id="valorUTM"></span></th>
            <th><img src="~/img/logo/banderachile.png" width="20" height="20" ;> IPC <span id="valorIPC"></span> </th>
            <th><img src="~/img/logo/banderaeeuu.png" width="20" height="20"> USD <span id="valorUSD"></span> </th>
            <th><img src="~/img/logo/euro.png" width="20" height="20"> EURO <span id="valorEUR"></span> </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<div class="card card-outline card-info collapsed-card">
    <div class="card-header">
        <h3 class="card-title">Filtros</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-2">
                @Html.DropDownList("IdEmpresaBus", (SelectList)ViewData["listaEmpresa"], "--Seleccione Empresa--", htmlAttributes: new { @class = "form-control form-control-sm" })
            </div>
            <div class="col-sm-2">
                @Html.DropDownList("IdBancoBus", (SelectList)ViewData["listaBancos"], "--Seleccione Banco--", htmlAttributes: new { @class = "form-control form-control-sm" })
            </div>
            <div class="col-sm-2">
                <select name="anio" class="form-control form-control-sm">
                    <option>--Seleccione Año--</option>
                    <option value="1">2021</option>
                    <option value="2">2022</option>
                    <option value="3">2023</option>
                    <option value="4">2024</option>
                    <option value="5">2025</option>
                    <option value="6">2026</option>
                    <option value="7">2027</option>
                    <option value="8">2028</option>
                    <option value="9">2029</option>
                    <option value="10">2030</option>
                    <option value="11">2031</option>
                    <option value="12">2032</option>
                </select>
            </div>
            <div class="col-sm-2">
                <select name="empresa" class="form-control form-control-sm">
                    <option>--Seleccione Mes--</option>
                    <option value="1">Enero</option>
                    <option value="2">Febrero</option>
                    <option value="3">Marzo</option>
                    <option value="4">Abril</option>
                    <option value="5">Mayo</option>
                    <option value="6">Junio</option>
                    <option value="7">Julio</option>
                    <option value="8">Agosto</option>
                    <option value="9">Septiembre</option>
                    <option value="10">Octubre</option>
                    <option value="11">Noviembre</option>
                    <option value="12">Diciembre</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="row">

    <div class="col-md-6">
        <div class="card">
            <div class="card-header text-white" style="background-color:midnightblue">
                <h3 class="card-title">Consolidado de Endeudamiento Leasing por Empresa - Al 31-08-2021</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover dataTable dtr-inline" width="100%" id="grilla1" data-order='[[ 0, "asc" ]]'>
                            <thead class="thead-light">
                                <tr>
                                    <th>Empresa</th>
                                    <th>Cant. Leasing Contratados</th>
                                    <th>Tasa Prom. de Endeu. en CLP $</th>
                                    <th>Tasa Prom. de Endeu. en UF</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header text-white" style="background-color:midnightblue">
                <h3 class="card-title">Consolidado de Endeudamiento Leasing por Moneda - Al 31-08-2021</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover dataTable dtr-inline" width="100%" id="grilla2" data-order='[[ 0, "asc" ]]'>
                            <thead class="thead-light">
                                <tr>
                                    <th>Empresa</th>
                                    <th>CLP $</th>
                                    <th>UF</th>
                                    <th>USD</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>MAQSUR S.A.</th>
                                    <td>5,403,601,355.00</td>
                                    <td>100,016.00</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <th>TECSUR S.A.</th>
                                    <td>728,285,221.00</td>
                                    <td>-</td>
                                    <td>1,366,979.00</td>
                                </tr>
                                <tr>
                                    <th>BIOMASA</th>
                                    <td>1,659,903,914.00</td>
                                    <td>-</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <th>MQS</th>
                                    <td>188,623,881.00</td>
                                    <td>-</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <th>NOKS</th>
                                    <td>8,515,398.00</td>
                                    <td>-</td>
                                    <td>-</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" style="background-color:lightgrey">
                <h3 class="card-title">Consolidado de Tipo de Activo en Leasing - Al 31-08-2021</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover dataTable dtr-inline" width="100%" id="grillaEmpresa" data-order='[[ 0, "asc" ]]'>
                            <thead class="thead-light">
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th colspan="2">Monto Deuda Inicial</th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th>Tipo Activo en Leasing</th>
                                    <th>Contratos</th>
                                    <th>CLP $</th>
                                    <th>UF</th>
                                    <th>Deuda Vigente</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>MAQUINARIA</th>
                                    <td>73</td>
                                    <td>254,100,016.00</td>
                                    <td>-</td>
                                    <td>4,552,805,876.00</td>
                                </tr>
                                <tr>
                                    <th>BARCAZA</th>
                                    <td>4</td>
                                    <td>120,080,230.00</td>
                                    <td>-</td>
                                    <td>754,000,723.00</td>
                                </tr>
                                <tr>
                                    <th>TERRENOS</th>
                                    <td>3</td>
                                    <td>156,619,716.00</td>
                                    <td>3,267.00</td>
                                    <td>208,790,385.00</td>
                                </tr>
                                <tr>
                                    <th>CONSTRUCCIONES</th>
                                    <td>2</td>
                                    <td>-</td>
                                    <td>35,166.00</td>
                                    <td>588,127,924.00</td>
                                </tr>
                                <tr>
                                    <th>VEHÍCULOS</th>
                                    <td>8</td>
                                    <td>230,131,558.00</td>
                                    <td>-</td>
                                    <td>164,425,724.00</td>
                                </tr>
                                <tr>
                                    <th>EQUIPOS</th>
                                    <td>3</td>
                                    <td>89,943,428.00</td>
                                    <td>-</td>
                                    <td>21,466,915.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


<div class="row">

    <div class="col-md-6">
        <div class="card">
            <div class="card-header" style="background-color:lightgrey">
                <h3 class="card-title">Deuda Vigente por Entidad Financiera</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="cont-venta-bruta" class="row m-0" style="display: block; position: relative; width: 100%;">
                            <div id="chart-cobranza" style="height:300px;background-color: transparent;" data-highcharts-chart="15">

                            </div>
                        </div>
                        <script>
                            // Make monochrome colors
                            /* var pieColors = (function () {
                                    var colors = [],
                                        base = Highcharts.getOptions().colors[0],
                                        i;

                                    for (i = 0; i < 10; i += 1) {
                                        // Start out with a darkened base color (negative brighten), and end
                                        // up with a much brighter color
                                        colors.push(Highcharts.color(base).brighten((i - 3) / 7).get());
                                    }
                                    return colors;
                                }());
                                */
                            // Build the chart
                            Highcharts.chart('chart-cobranza', {
                                chart: {
                                    plotBackgroundColor: null,
                                    plotBorderWidth: null,
                                    plotShadow: false,
                                    type: 'pie'
                                },
                                exporting: {
                                    enabled: false
                                },
                                title: {
                                    text: ''
                                },
                                credits: {
                                    enabled: false
                                },
                                tooltip: {
                                    pointFormat: '<b>{point.percentage:.1f}%</b>'
                                },
                                accessibility: {
                                    point: {
                                        valueSuffix: '%'
                                    }
                                },
                                plotOptions: {
                                    pie: {
                                        allowPointSelect: true,
                                        cursor: 'pointer',
                                        // colors: pieColors,
                                        dataLabels: {
                                            enabled: true,
                                            format: '{point.percentage:.1f} %',
                                            distance: 20,
                                            filter: {
                                                property: 'percentage',
                                                operator: '>',
                                                value: 1
                                            }
                                        }
                                    }
                                },
                                series: [{
                                    name: 'Monto',
                                    data: [
                                        { name: 'BCI', y: 46 },
                                        { name: 'SANTANDER', y: 19 },
                                        { name: 'CHILE', y: 8 },
                                        { name: 'ESTADO', y: 7 },
                                        { name: 'SECURITY', y: 2 },
                                        { name: 'SCOTIABANK', y: 11 },
                                        { name: 'ITAÚ', y: 5 },
                                        { name: 'BICE', y: 2 },


                                    ]
                                }]
                            });
                        </script>
                    </div>
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-sm">
                                <thead>
                                    <tr>
                                        <th><p style="color:black;font-size:10px;">Entidad Financiera</p></th>
                                        <th><p style="color:black;font-size:10px;">BCI</p></th>
                                        <th><p style="color:black;font-size:10px;">SANTANDER</p></th>
                                        <th><p style="color:black;font-size:10px;">SCOTIABANK</p></th>
                                        <th><p style="color:black;font-size:10px;">BBVA</p></th>
                                        <th><p style="color:black;font-size:10px;">ESTADO</p></th>
                                        <th><p style="color:black;font-size:10px;">SECURITY</p></th>
                                        <th><p style="color:black;font-size:10px;">BICE</p></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th><p style="color:black;font-size:10px;">Monto Ch$</p></th>
                                        <td><p style="color:black;font-size:10px;">$2.000.000</p></td>
                                        <td><p style="color:black;font-size:10px;">$2.000.000</p></td>
                                        <td><p style="color:black;font-size:10px;">$2.000.000</p></td>
                                        <td><p style="color:black;font-size:10px;">$2.000.000</p></td>
                                        <td><p style="color:black;font-size:10px;">$2.000.000</p></td>
                                        <td><p style="color:black;font-size:10px;">$2.000.000</p></td>
                                        <td><p style="color:black;font-size:10px;">$2.000.000</p></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header" style="background-color:lightgray">
                <h3 class="card-title">Resumen Estructura de Deuda según Categoria y Empresa (MM$)</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <figure class="highcharts-figure" ">
                    <div id="chartEstadistico"></div>

                </figure>
                <script>
                    Highcharts.chart('chartEstadistico', {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: ''
                        },
                        xAxis: {
                            categories: ['MAQSUR S.A.', 'BIOMASA', 'TECSUR', 'MQS', 'NOK']
                        },
                        yAxis: {
                            allowDecimals: true,
                            min: 0,
                            title: {
                                text: 'MM$'
                            },
                            stackLabels: {
                                enabled: true,
                                style: {
                                    fontWeight: 'bold',
                                    color: ( // theme
                                        Highcharts.defaultOptions.title.style &&
                                        Highcharts.defaultOptions.title.style.color
                                    ) || 'gray'
                                }
                            }
                        },
                        credits: {
                            enabled: false
                        },
                        /*legend: {
                            align: 'top',
                            x: -0,
                            verticalAlign: 'bottom',
                            y: 0,
                            floating: true,
                            backgroundColor:
                                Highcharts.defaultOptions.legend.backgroundColor || 'white',
                            borderColor: '#CCC',
                            borderWidth: 0,
                            shadow: false
                        },*/
                        tooltip: {
                            headerFormat: '<b>{point.x}</b><br/>',
                            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
                        },
                        plotOptions: {
                            column: {
                                stacking: 'normal',
                                dataLabels: {
                                    enabled: true
                                }
                            }
                        },
                        series: [{
                            name: 'Deuda Estructurada con Garantía',
                            data: [3764, 473, 124, 2507, 0]
                        },
                        {
                            name: 'Deuda Estructurada sin Garantía',
                            data: [470, 0, 0, 0, 101]
                        },
                        {
                            name: 'Deuda Fogape',
                            data: [2958, 125, 0, 0, 0]
                        }]
                    });
                </script>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" style="background-color:lightgrey">
                <h3 class="card-title">Deuda Leasing por Institución Financiera</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <label for="inputEmail3" class="col-lg-12 col-form-label">Detalle al 31 de agosto del 2021.</label>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover dataTable dtr-inline" width="100%" id="grillaEmpresa" data-order='[[ 0, "asc" ]]'>
                            <thead class="thead-light">
                                <tr>
                                    <th>Bancos</th>
                                    <th>Obligación CP</th>
                                    <th>Obligación LP</th>
                                    <th>Totales</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>BCI</th>
                                    <td>898,830,908.00</td>
                                    <td>1,658,429,374.00</td>
                                    <td>2,557,260,281.00</td>
                                </tr>
                                <tr>
                                    <th>BBVA</th>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <th>CORPBANCA</th>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <th>CHILE</th>
                                    <td>351,695,868.00</td>
                                    <td>341,041,234.00</td>
                                    <td>692,737,102.00</td>
                                </tr>
                                <tr>
                                    <th>ESTADO</th>
                                    <td>265,070,141.00</td>
                                    <td>543,150,043.00</td>
                                    <td>808,220,183.00</td>
                                </tr>
                                <tr>
                                    <th>ITAÚ</th>
                                    <td>49,019,314.00</td>
                                    <td>-</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <th>SANTANDER</th>
                                    <td>308,880,861.00</td>
                                    <td>785,370,783.00</td>
                                    <td>1,094,251,644.00</td>
                                </tr>
                                <tr>
                                    <th>SCOTIABANK</th>
                                    <td>197,963,087.00</td>
                                    <td>219,052,208.00</td>
                                    <td>417,015,295.00</td>
                                </tr>
                                <tr>
                                    <th>SECURITY</th>
                                    <td>171,889,690.00</td>
                                    <td>144,538,790.00</td>
                                    <td>316,428,481.00</td>
                                </tr>
                                <tr>
                                    <th>BICE</th>
                                    <td>116,253,525.00</td>
                                    <td>238,363,231.00</td>
                                    <td>354,616,757.00</td>
                                </tr>
                                <tr>
                                    <th>BICE</th>
                                    <th>2,359,603,394.00</th>
                                    <th>3,929,945,663.00</th>
                                    <th>6,289,549,057.00</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header" style="background-color:lightgrey">
                <h3 class="card-title">Endeudamiento Grupo MAQSUR</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="cont-venta-bruta" class="row m-0" style="display: block; position: relative; width: 100%;">
                            <div id="chart-deudacompleta" style="height: 300px;background-color: transparent;" data-highcharts-chart="15">

                            </div>
                        </div>
                        <script>
                            // Make monochrome colors
                            /* var pieColors = (function () {
                                    var colors = [],
                                        base = Highcharts.getOptions().colors[0],
                                        i;

                                    for (i = 0; i < 10; i += 1) {
                                        // Start out with a darkened base color (negative brighten), and end
                                        // up with a much brighter color
                                        colors.push(Highcharts.color(base).brighten((i - 3) / 7).get());
                                    }
                                    return colors;
                                }());
                                */
                            // Build the chart
                            Highcharts.chart('chart-deudacompleta', {
                                chart: {
                                    plotBackgroundColor: null,
                                    plotBorderWidth: null,
                                    plotShadow: false,
                                    type: 'pie'
                                },
                                exporting: {
                                    enabled: false
                                },
                                title: {
                                    text: ''
                                },
                                credits: {
                                    enabled: false
                                },
                                tooltip: {
                                    pointFormat: '<b>{point.percentage:.1f}%</b>'
                                },
                                accessibility: {
                                    point: {
                                        valueSuffix: '%'
                                    }
                                },
                                plotOptions: {
                                    pie: {
                                        allowPointSelect: true,
                                        cursor: 'pointer',
                                        // colors: pieColors,
                                        dataLabels: {
                                            enabled: true,
                                            format: '{point.percentage:.1f} %',
                                            distance: 20,
                                            filter: {
                                                property: 'percentage',
                                                operator: '>',
                                                value: 1
                                            }
                                        }
                                    }
                                },
                                series: [{
                                    name: 'Monto',
                                    data: [
                                        { name: 'MAQSUR S.A.', y: 15 },
                                        { name: 'BIOMASA', y: 20 },
                                        { name: 'TECSUR', y: 20 },
                                        { name: 'MQS', y: 18 },
                                        { name: 'NOK', y: 27 },

                                    ]
                                }]
                            });
                        </script>
                    </div>
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th><p style="color:black;font-size:10px;">Empresa</p></th>
                                        <th><p style="color:black;font-size:10px;">MAQSUR S.A.</p></th>
                                        <th><p style="color:black;font-size:10px;">BIOMASA</p></th>
                                        <th><p style="color:black;font-size:10px;">TECSUR</p></th>
                                        <th><p style="color:black;font-size:10px;">MQS</p></th>
                                        <th><p style="color:black;font-size:10px;">NOK</p></th>
                                        <th><p style="color:black;font-size:10px;">TOTAL</p></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th><p style="color:black;font-size:10px;">Monto</p></th>
                                        <th><p style="color:black;font-size:10px;">$15,000,000.00</p></th>
                                        <th><p style="color:black;font-size:10px;">$20,000,000.00</p></th>
                                        <th><p style="color:black;font-size:10px;">$20,000,000.00</p></th>
                                        <th><p style="color:black;font-size:10px;">$18,000,000.00</p></th>
                                        <th><p style="color:black;font-size:10px;">$27,000,000.00</p></th>
                                        <th><p style="color:black;font-size:10px;">$100,000,000.00</p></th>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header" style="background-color:lightgrey">
                <h3 class="card-title">Resumen Estructura de Deuda del Grupo MAQSUR</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="cont-venta-bruta" class="row m-0" style="display: block; position: relative; width: 100%;">
                            <div id="chart-consolidado" style="height: 100%;background-color: transparent;" data-highcharts-chart="15">

                            </div>
                        </div>
                        <script>
                            // Make monochrome colors
                            /* var pieColors = (function () {
                                    var colors = [],
                                        base = Highcharts.getOptions().colors[0],
                                        i;

                                    for (i = 0; i < 10; i += 1) {
                                        // Start out with a darkened base color (negative brighten), and end
                                        // up with a much brighter color
                                        colors.push(Highcharts.color(base).brighten((i - 3) / 7).get());
                                    }
                                    return colors;
                                }());
                                */
                            // Build the chart
                            Highcharts.chart('chart-consolidado', {
                                chart: {
                                    type: 'column'
                                },
                                title: {
                                    text: ''
                                },
                                credits: {
                                    enabled: false
                                },
                                tooltip: {
                                    headerFormat: '<b>{point.x}</b><br/>',
                                    pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
                                },
                                xAxis: {
                                    categories: ['2021', '2022', '2023', '2024', '2025']
                                },
                                yAxis: {
                                    allowDecimals: true,
                                    min: 0,
                                    title: {
                                        text: 'MM$'
                                    },
                                    stackLabels: {
                                        enabled: true,
                                        style: {
                                            fontWeight: 'bold',
                                            color: ( // theme
                                                Highcharts.defaultOptions.title.style &&
                                                Highcharts.defaultOptions.title.style.color
                                            ) || 'gray'
                                        }
                                    }
                                },
                                //legend: {
                                //    reversed: true
                                //},
                                plotOptions: {
                                    column: {
                                        stacking: 'normal',
                                        dataLabels: {
                                            enabled: true
                                        }
                                    }
                                },
                                series: [{
                                    name: 'Deuda leasing (Capital)',
                                    data: [1000000, 1600000, 1250000, 700000, 600000]
                                }, {
                                    name: 'Deuda Estructurada (Capital)',
                                    data: [1000000, 900000, 1250000, 600000, 200000]
                                }]
                            });
                        </script>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" style="background-color:lightgrey">
                <h3 class="card-title">Consolidado por Tipo de Deuda MM$</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <label for="inputEmail3" class="col-lg-12 col-form-label">Detalle al 31 de agosto del 2021.</label>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover dataTable dtr-inline" width="100%" id="grillaEmpresa" data-order='[[ 0, "asc" ]]'>
                            <thead class="thead-light">
                                <tr>
                                    <th>Tipo Deuda</th>
                                    <th>2020</th>
                                    <th>2021</th>
                                    <th>2022</th>
                                    <th>2023</th>
                                    <th>2024</th>
                                    <th>2025</th>
                                    <th>2026</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Deuda Estructurada (capital)</th>
                                    <td>0</td>
                                    <td>885.00</td>
                                    <td>2,206.00</td>
                                    <td>2,122.00</td>
                                    <td>1,842.00</td>
                                    <td>1,535.00</td>
                                    <td>1,073.00</td>
                                </tr>
                                <tr>
                                    <th>Deuda Estructurada (cuota)</th>
                                    <td>0</td>
                                    <td>1,155.00</td>
                                    <td>2,677.00</td>
                                    <td>2,472.00</td>
                                    <td>2,094.00</td>
                                    <td>1,705.00</td>
                                    <td>1,172.00</td>
                                </tr>
                                <tr>
                                    <th>Deuda Leasing (cuota)</th>
                                    <td>0</td>
                                    <td>1,410.00</td>
                                    <td>2,290.00</td>
                                    <td>1,690.00</td>
                                    <td>890.00</td>
                                    <td>314.00</td>
                                    <td>266.00</td>
                                </tr>
                                <tr>
                                    <th>Deuda Leasing (capital)</th>
                                    <td>0</td>
                                    <td>1,284.00</td>
                                    <td>2,119.00</td>
                                    <td>1,600.00</td>
                                    <td>848.00</td>
                                    <td>292.00</td>
                                    <td>254.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {
        AbrirMenu("Dashboard");
        initTable();
        initTable2();
        $.getJSON('https://mindicador.cl/api', function (data) {
            var dailyIndicators = data;
            $("#valorUF").text(SeparadorMiles(dailyIndicators.uf.valor.toString()));
            $("#valorUTM").text(SeparadorMiles(dailyIndicators.utm.valor.toString()));
            $("#valorIPC").text(SeparadorMiles(dailyIndicators.ipc.valor.toString()));
            $("#valorUSD").text(SeparadorMiles(dailyIndicators.dolar.valor.toString()));
            $("#valorEUR").text(SeparadorMiles(dailyIndicators.euro.valor.toString()));
        }).fail(function () {
            console.log('Error!');
        });
    });
    function RefreshLista() {
        var table = initTable();
        table.ajax.reload(function (json) { });
        var table2 = initTable2();
        table.ajax.reload(function (json) { });
    }
    function initTable() {
        var table = $('#grilla1').DataTable({
            "scrollX": true,
            "retrieve": true,
            'ajax': {
                "type": "POST",
                "url": '/Contrato/Consolidado_Read/0',
                "data": function (d) {

                },
                "dataSrc": ""
            },
            columns: [

              
                { "data": "RazonSocial" },
                { "data": "CantidadReg" },
                { "data": "TasaPromedio" },
                { "data": "TasaPromedioUF" }
            ]
        });

        return table;
    }
    function initTable2() {
        var table = $('#grilla2').DataTable({
            "scrollX": true,
            "retrieve": true,
            'ajax': {
                "type": "POST",
                "url": '/Contrato/Consolidado2_Read/0',
                "data": function (d) {

                },
                "dataSrc": ""
            },
            columns: [


                { "data": "RazonSocial" },
                { "data": "CantidadReg" },
                { "data": "TasaPromedio" },
                { "data": "TasaPromedioUF" }
            ]
        });

        return table;
    }


</script>
