@model modelo.Models.Local.MutuoDocumento
@{
    ViewBag.Title = "Documentos Mutuo";
    Layout = "~/Views/Shared/_Popup.cshtml";
}

<div class="alert alert-success">
    <h5><i class="icon fas fa-cloud"></i>@ViewBag.Title</h5>
    Aquí puede adjuntar los documentos para la gestión del prestamo.
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <table class="table table-striped table-bordered table-sm" id="grillaDocumento" width="100%">
                <thead>
                    <tr>
                        <th>Tipo Documento</th>
                        <th>Nombre</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody id="tbody"></tbody>
            </table>
        </div>
    </div>
</div>

<div class="card card-outline card-info collapsed-card">
    <div class="card-header">
        <h3 class="card-title">Cargar Documentos</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <form name="frmUpload" id="frmUpload" method="post" enctype="multipart/form-data">
            <input type="hidden" name="idMutuo" id="idMutuo" value="@Model.IdMutuo" />
            <div class="card-body pb-0">
                <div class="form-group form-group-sm row">
                    <label for="Alias" class="col-sm-2 col-form-label col-form-label-sm">Tipo Documento</label>
                    <div class="col-auto col-form-label">
                        <select name="idTipoDocumento" id="idTipoDocumento" class="form-control form-control-sm required">
                            <option value="">--Seleccione Tipo Documento --</option>
                            @{
                                foreach (var t in ViewData["listaTipoDocumento"] as List<modelo.ViewModel.RetornoGenerico>)
                                {
                                    <text>
                                        <option value="@t.Id">
                                            @t.Nombre</text>
                                }
                            }
                    </select>
                </div>
            </div>
            <div class="form-group form-group-sm row">
                <label for="Alias" class="col-sm-2 col-form-label col-form-label-sm">Documento [.xls,.xlsx,.pdf]</label>
                <div class="col-auto col-form-label">
                    <input type="file" class="form-control form-control-sm" name="archivo" id="archivo" placeholder="archivo" accept=".xls,.xlsx,.pdf" />
                </div>
            </div>
            <div class="col-sm-auto col-form-label">
                <button type="button" class="btn btn-primary btn-sm fileinput-button" id="btnUpload" onclick="Upload()"><i class="fa fa-upload"></i> Cargar Documento</button>
            </div>
        </div>
    </form>
</div>
</div>
@if (ViewData["puedeActivar"] == "S")
{
    <div class="card-footer">        
        <button type="button" onclick="ConfirmaPrestamo()" name="btnCrear" id="btnCrear" class="btn btn-success btn-sm float-right">Confirmar Prestamo</button>        
    </div>
}
<div class="modal fade" id="ConfirmActivar" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmación Prestamo</h4>
            </div>
            <div class="modal-body">
                <label>¿Está seguro de confirmar el prestamo solicitado?</label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-ok" id="btnAceptaActivar">Acepto</button>
                <button type="button" class="btn btn-success btn-danger" id="btnNoAcepta">No Acepto</button>
            </div>
        </div>
    </div>
</div>

<form name="frmMutuoAcc" id="frmMutuoAcc" method="post">
    <input type="hidden" name="idMutuo" id="idMutuoAcc" />
    <input type="hidden" name="idMutuoModal" id="idMutuoModal" />
</form>

<script>
    archivosTable()
    $(document).ready(function () {
        $('#frmUpload').validate({
            debug: false,
            errorElement: "em",
            errorContainer: $("#warning"),
            rules: {
                idTipoDocumento: { required: true }
            }
        });

    });

    function Upload() {
        if ($('#frmUpload').valid()) {

            var input = document.getElementById('archivo');
            var filePath = input.value;
            var file = input.files[0];
            var valido = true;
            var allowedExtensions = /(.xls|.xlsx|.pdf)$/i;
            if (file) {
                if (file.size > 4000000) {
                    alert('El archivo no debe superar los 4MB');
                    valido = false;
                }
                else if (!allowedExtensions.exec(filePath)) {
                    alert('Solo se permite archivos con extensión: ' + allowedExtensions);
                    valido = false;
                }
            }
            if (valido) {
                var frm = $('#frmUpload').get(0);
                var data = new FormData(frm);
                $.ajax({
                    type: 'POST',
                    url: '/Mutuo/GrabarMutuoDocumento',
                    data: data,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        Success(data);
                    },
                    failure: function (data) {
                        Failure(data);
                    }
                })
            }
        }
    }

    function Success(data) {
        if (data.Estado == "0") {
            toastr.success(data.Mensaje);
            RefreshListaArchivo();
        }
        else {
            toastr.error(data.Mensaje);
        }
    }

    function Failure(data) {
        //esconderCargando();
        toastr.error(data.Mensaje);
    }

    function archivosTable() {
        var table = $('#grillaDocumento').DataTable({
            "dom": '',
            "retrieve": true,
            'ajax': {
                "type": "POST",
                "url": '/Mutuo/ListaMutuoDocumento_Read/',
                "data": function (d) {
                    d.idMutuo = $("#idMutuo").val();
                },
                "dataSrc": ""
            },
            columns: [
                { "data": "NombreTipoDocumento" },
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function (o, type, row) {
                        var acciones = '';
                        acciones += '<a href="JavaScript:Descargar(' + "'" + o.UrlDocumento + "'" + ')" class="btn-link linkArchivo text-sm"><i class="fa fa-file-download"></i> ' + o.NombreOriginal + '</a>';
                        return acciones;
                    }
                },
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function (o, type, row) {
                        var acciones = '';
                        acciones += '<button class="btn btn-primary btn-xs" type="button" onclick="EliminarArchivo(' + o.IdPolizaDocumento + ');"><i class="far fa-trash-alt"></i></button>';
                        return acciones;
                    }
                }
            ]
        });

        return table;
    }

    function Descargar(urlArchivo) {
        location.href = "/Licitacion/Descargar?rutaArchivo=" + urlArchivo;
    }

    function EliminarArchivo(idMutuoDocumento) {
        a = confirm("Seguro de Eliminar el registro seleccionado?")
        if (a) {
            $.ajax({
                url: "/Mutuo/DeleteMutuoDocumento",
                type: "Post",
                data: {
                    idMutuoDocumento: idMutuoDocumento
                },
                //contentType: false,
                //processData: false,
                success: function (data) {
                    Success(data);
                },
                failure: function (data) {
                    Failure(data);
                }
            });
        }
    }

    function ConfirmaPrestamo() {
        $("#idMutuoModal").val($("#idMutuo").val())
        $('#ConfirmActivar').modal('show');
    }

    $('#btnAceptaActivar').click(function () {
        $.ajax({
            type: 'POST',
            url: '/Mutuo/ConfirmarPrestamo/',
            data: { idMutuo: $("#idMutuoModal").val() },
            success: function (data) {
                SuccessActiva(data);
                //RefreshActivar();
            },
            failure: function (data) {
                FailureActiva(data);
            }
        })
    });

    $('#btnNoAcepta').click(function () {
        $('#ConfirmActivar').modal('hide');
    });

    function SuccessActiva(data) {
        if (data.Estado == "0") {
            $('#ConfirmActivar').modal('hide');
            $('#ModalRegistrarMutuo').modal('hide');
            RefreshLista();
        }
        else {
            $('#ConfirmActivar').modal('hide');
            toastr.error(data.Mensaje);
        }
    }

    function FailureActiva(data) {
        toastr.error(data.Mensaje);
    }

    function RefreshListaArchivo() {
        var table = archivosTable();
        table.ajax.reload(function (json) { });
    }

    /*function RefreshActivar() {
        $('#idPolizaAcc').val($("#idPoliza").val());
        $("#frmMutuoAcc").attr("action", "/Seguro/RegistrarSeguro");
        $("#frmMutuoAcc").submit();
    }*/

</script>

