@model modelo.Models.Local.Mutuo
@{
    ViewBag.Title = "Cálculo de Abono Proyectado";
}
@{
    Layout = "~/Views/Shared/_Popup.cshtml";
}

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Proyección de Abonos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form name="frmProyeccion" id="frmProyeccion" method="post">
            <div class="card">
                <div class="card-body">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Fecha Final de la Proyección </label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control form-control-sm classFecha required" name="fechaProyeccion" id="fechaProyeccion" />
                        </div>
                        <div class="col-sm-5">
                        </div>
                        <div class="col-sm-1">
                            <nav class="navbar navbar-light mb-1" style="background-color: #e3f2fd;">
                                <div class="form-inline my-1 my-lg-0">
                                    <button class="btn btn-primary btn-sm justify-content-end" type="button" id="CalcularProyeccion" onclick="GenerarProyeccion()"><i class="fa fa-filter"></i>    Calcular Abonos</button>
                                </div>
                            </nav>
                        </div>

                    </div>
                </div>
            </div>
        </form>
        <div class="card">
            <div class="card-body">
                <div class="form-group row">
                    <div class="table-responsive mt-1">
                        <table class="table table-bordered table-hover dataTable dtr-inline" width="100%" id="grillaProyeccion" data-order='[[ 0, "asc" ]]'>
                            <thead class="thead-light">
                                <tr>
                                    <th>Item</th>
                                    <th>Inicio de Periodo</th>
                                    <th>Fin de Periodo</th>
                                    <th>Días</th>
                                    <th>Monto ($)</th>
                                    <th>Intereses</th>
                                    <th>Pago Amortización</th>
                                    <th>Nuevo Préstamo</th>
                                    <th>Fecha</th>
                                    <th>Días</th>
                                    <th>Intereses</th>
                                    <th>Interés Total</th>
                                    <th>Monto Final</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cerrar</button>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.classFecha').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            language: "es"
        });

        $('#frmProyeccion').validate({
            debug: false,
            errorElement: "em",
            errorContainer: $("#warning")
        });
    });

    function GenerarProyeccion() {
        if ($('#frmProyeccion').valid()) {
            var table = initTableP();
            table.ajax.reload(function (json) { });
        }
    }

    function initTableP() {
        var table = $('#grillaProyeccion').DataTable({
            "retrieve": true,
            'ajax': {
                "type": "POST",
                "url": '/Mutuo/ListProyectar_Read/',
                "data": function (d) {
                    d.idMutuo = "@Model.IdMutuo";
                    d.fechaProyeccion = $('#fechaProyeccion').val();
                },
                "dataSrc": ""
            },
            columnDefs: [
                { targets: '_all', className: 'align-middle' },
                {
                    targets: [4, 5, 6, 7, 10, 11, 12],
                    render: function (data, type, row) {
                        var numFormt = "";
                        if (data != null) {
                            var num = data.toString();
                            numFormt = SeparadorMiles(num);
                        }
                        return numFormt;
                    }
                }
            ],
            columns: [
                { "data": "item" },
                {
                    data: {
                        _: "FechaInicioStr",
                        sort: "FechaInicio"
                    }
                },
                {
                    data: {
                        _: "FechaTerminoStr",
                        sort: "FechaTermino"
                    }
                },
                { "data": "CantidadDias" },
                { "data": "Monto" },
                { "data": "Interes" },
                { "data": "MontoAmortizacion" },
                { "data": "MontoPrestamo" },
                {
                    data: {
                        _: "FechaNuevoStr",
                        sort: "FechaNuevo"
                    }
                },
                { "data": "CantidadDiasNuevo" },
                { "data": "InteresNuevo" },
                { "data": "InteresTotal" },
                { "data": "MontoTotal" }
            ]
        });

        return table;
    }

</script>
