
@{
    ViewBag.Title = "Detalle de Deuda";
}
@{
    Layout = "~/Views/Shared/_Popup.cshtml";
}

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detalle de Deuda</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="card-body">
            <div class="table-responsive mt-1">
                <table class="table table-bordered table-hover dataTable dtr-inline" width="100%" id="grillaEmpresa" data-order='[[ 0, "asc" ]]'>
                    <thead class="thead-light">
                        <tr>
                            <th>Item</th>
                            <th>Inicio de Periodo</th>
                            <th>Fin de Periodo</th>
                            <th>Díaz</th>
                            <th>Monto ($)</th>
                            <th>Intereses</th>
                            <th>Pago Amortización</th>
                            <th>Nuevo Préstamo</th>
                            <th>Fecha</th>
                            <th>Días</th>
                            <th>Intereses</th>
                            <th>Interés Total</th>
                            <th>Monto Final</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>31-03-2021</td>
                            <td>31-03-2021</td>
                            <td>-</td>
                            <td>7,000,000</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>7,000,000</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>01-04-2021</td>
                            <td>30-04-2021</td>
                            <td>30</td>
                            <td>7,000,000</td>
                            <td>42,000</td>
                            <td>-</td>
                            <td>62,000,000</td>
                            <td>14-04-2021</td>
                            <td>17</td>
                            <td>210,800</td>
                            <td>252,800</td>
                            <td>69,252,800</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>01-05-2021</td>
                            <td>31-05-2021</td>
                            <td>31</td>
                            <td>69,252,800</td>
                            <td>429,367</td>
                            <td>-</td>
                            <td>27,900,000</td>
                            <td>05-05-2021</td>
                            <td>27</td>
                            <td>150,660</td>
                            <td>580,027</td>
                            <td>97,732,827</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>01-06-2021</td>
                            <td>30-06-2021</td>
                            <td>30</td>
                            <td>97,732,827</td>
                            <td>586,397</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>586,397</td>
                            <td>98,319,224</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>01-07-2021</td>
                            <td>31-07-2021</td>
                            <td>31</td>
                            <td>98,319,224</td>
                            <td>609,579</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>609,579</td>
                            <td>98,928,804</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>01-08-2021</td>
                            <td>31-08-2021</td>
                            <td>31</td>
                            <td>98,928,804</td>
                            <td>613,359</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>613,359</td>
                            <td>99,542,162</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>01-08-2021</td>
                            <td>31-08-2021</td>
                            <td>31</td>
                            <td>98,928,804</td>
                            <td>613,359</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>613,359</td>
                            <td>99,542,162</td>
                        </tr>
                        <tr>
                            <td colspan="12"></td>
                            <td>96,900,000</td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cerrar</button>
    </div>
</div>

<script>
    $(document).ready(function () {

        $('#frmEdit').validate({
            debug: false,
            errorElement: "em",
            errorContainer: $("#warning")
        });
        $('#perfiles').select2({
            theme: 'bootstrap4'
        })
        window.top.esconderCargando();
    });

    function Success_dl(data) {
        esconderCargando();
        if (data.Estado == "0") {
            toastr.success(data.Mensaje);
            $('#modal-registro').modal('hide');
            RefreshLista();
        }
        else {
            toastr.error(data.Mensaje);
        }
    }
    function Failure_dl(data) {
        esconderCargando();
        toastr.error(data.Mensaje);
        $('#modal-registro').modal('hide');
    }

</script>
