@{
    ViewBag.Title = "Dashboard";
}
<h5 class="h5 mb-0 text-gray-800">Demos un vistazo al desarrollo de los mutuos.</h5>
<br />

<div class="card card-outline card-info">
    <div class="card-header">
        <h3 class="card-title">Filtros</h3>        
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-2">
                @Html.DropDownList("idEmpresaFinanciaB", (SelectList)ViewData["listaEmpresaF"], "--Seleccione Empresa Financiera--", htmlAttributes: new { @class = "form-control form-control-sm" }) <p class="text-red">Seleccione una empresa financiera</p>
            </div>
        </div>
    </div>
</div>

    
<div class="row">

    <div class="col-md-6">
        <div class="card">
            <div class="card-header" style="background-color:lightgrey">
                <h3 class="card-title">Deuda Vigente por Entidad Receptora</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="cont-venta-bruta" class="row m-0" style="display: block; position: relative; width: 100%;">
                            <div id="chart-cobranza" style="height:300px;background-color: transparent;" data-highcharts-chart="15">

                            </div>
                        </div>
                        <script>
                            function CreateChartDeuda(categorias) {
                                Highcharts.chart('chart-cobranza', {
                                    chart: {
                                        plotBackgroundColor: null,
                                        plotBorderWidth: null,
                                        plotShadow: false,
                                        type: 'pie'
                                    },
                                    exporting: {
                                        enabled: false
                                    },
                                    title: {
                                        text: ''
                                    },
                                    credits: {
                                        enabled: false
                                    },
                                    tooltip: {
                                        pointFormat: '<b>{point.x} CLP, </b> {point.percentage:.1f}%</b>'
                                    },
                                    accessibility: {
                                        point: {
                                            valueSuffix: '%'
                                        }
                                    },
                                    plotOptions: {
                                        pie: {
                                            allowPointSelect: true,
                                            cursor: 'pointer',
                                            // colors: pieColors,
                                            dataLabels: {
                                                enabled: true,
                                                format: '{point.x:.1f} CLP',
                                                distance: 20,
                                                filter: {
                                                    property: 'percentage',
                                                    operator: '>',
                                                    value: 1
                                                }
                                            }
                                        }
                                    },
                                    series: [{
                                        name: 'Monto',
                                        data: categorias
                                    }]
                                });
                            }
                        </script>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header" style="background-color:lightgrey">
                <h3 class="card-title">Deuda y Saldos Vigentes.</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-sm" id="grillaSaldoVigente">
                        <thead>
                            <tr>
                                <th><p style="color:black;font-size:10px;">Entidad Financiera</p></th>
                                <th><p style="color:black;font-size:10px;">Entidad Receptora</p></th>
                                <th><p style="color:black;font-size:10px;">Capital($)</p></th>
                                <th><p style="color:black;font-size:10px;">Interés ($)</p></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" style="background-color:lightgray">
                <h3 class="card-title">Amortización de la Deuda</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <figure class="highcharts-figure">
                    <div id="chartEstadistico"></div>

                </figure>
                <script>
                    function CreateChartAmortizacion(categories, serie1,serie2) {
                        Highcharts.chart('chartEstadistico', {
                            chart: {
                                type: 'column'
                            },
                            title: {
                                text: ''
                            },
                            xAxis: {
                                categories: categories
                            },
                            yAxis: {
                                allowDecimals: true,
                                min: 0,
                                title: {
                                    text: 'MM$'
                                },
                                stackLabels: {
                                    enabled: true,
                                    style: {
                                        fontWeight: 'bold',
                                        color: ( // theme
                                            Highcharts.defaultOptions.title.style &&
                                            Highcharts.defaultOptions.title.style.color
                                        ) || 'gray'
                                    }
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br/>',
                                pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
                            },
                            plotOptions: {
                                column: {
                                    stacking: 'normal',
                                    dataLabels: {
                                        enabled: true
                                    }
                                }
                            },
                            series: [{
                                name: 'Total de Deuda',
                                data: serie1
                            }, {
                                name: 'Total de Abonos',
                                data: serie2
                            }]
                            });
                    }
                </script>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        AbrirMenu("MutuoInicio");
    });
    $("#idEmpresaFinanciaB").change(function () {
        if ($("#idEmpresaFinanciaB").val() != "") {
            RefreshListaSaldoVigente();
            GraficoAmortizacion();
            GraficoDeudaVigente();
        }
    })
    function RefreshListaSaldoVigente() {
        var table = initTableSaldoVigente();
        table.ajax.reload(function (json) { });
    }

    function initTableSaldoVigente() {
        var table = $('#grillaSaldoVigente').DataTable({
            "retrieve": true,
            'ajax': {
                "type": "POST",
                "url": '/Mutuo/ListaSaldoVigente_Read/',
                "data": function (d) {
                    d.idEmpresaFinancia = $('#idEmpresaFinanciaB').val();
                },
                "dataSrc": ""
            },
            columnDefs: [
                { targets: '_all', className: 'align-middle' },
                {
                    targets: [2,3],
                    render: function (data, type, row) {
                        var numFormt = "";
                        if (data != null) {
                            var num = data.toString();
                            numFormt = SeparadorMiles(num);
                        }
                        return numFormt;
                    }
                }
            ],
            columns: [
                { "data": "EmpresaFinancia" },
                { "data": "EmpresaReceptora" },
                { "data": "CapitalActual" },
                { "data": "InteresTotal" }
            ]
        });

        return table;
    }

    function GraficoDeudaVigente() {
        $.ajax({
            type: 'POST',
            url: '/Mutuo/GraficoDeudaVigente_Read/',
            data: {
                idEmpresaFinancia: $('#idEmpresaFinanciaB').val()
            },
            success: function (data) {
                var datCategoria = "";
                $.each(data.Empresa, function (i, item) {
                    datCategoria += '{"name": "' + item.EmpresaReceptora + '", "x": ' + item.CapitalActual + ', "y": ' + item.Porcentaje+'}, ';
                });


                datCategoria = "[" + datCategoria.substring(0, datCategoria.length - 2) + "]";
                var categoria = JSON.parse(datCategoria)

                CreateChartDeuda(categoria); // Create Chart using the defined arrays
            },
            failure: function (data) {
                Failure(data);
            }
        })
    }

    function GraficoAmortizacion() {
        $.ajax({
            type: 'POST',
            url: '/Mutuo/GraficoAmortizacionDeuda_Read/',
            data:  {
                idEmpresaFinancia: $('#idEmpresaFinanciaB').val()
            },
            success: function (data) {
                //parsing json data
                var categories = [];
                var serie1 = [];
                var serie2 = [];
                var datCategoria = "";
                $.each(data.Empresa, function (i, item) {
                    categories.push(item.EmpresaReceptora);
                    serie1.push(item.MontoPrestamo);
                });

                $.each(data.DataAbono, function (i, item) {
                    categories.push(item.EmpresaReceptora);
                    serie2.push(item.TotalPrecio);
                });
                CreateChartAmortizacion(categories, serie1, serie2); // Create Chart using the defined arrays
            },
            failure: function (data) {
                Failure(data);
            }
        })
    }

</script>