@{
    ViewBag.Title = "Deudas Relacionadas";
}
@{
    tesoreria.Helper.Seguridad seguridad = System.Web.HttpContext.Current.Session["Seguridad"] as tesoreria.Helper.Seguridad;
}

<div class="d-sm-flex align-items-center justify-content-between">
    <h5 class="h5 mb-0 text-gray-800">Buscar Activos</h5>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home/Inicio">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Inicio</li>
    </ol>
</div>
<h6 class="h6 mb-0 text-gray-800">Acá puedes revisar los préstamos entre empresas relacionadas.</h6>
<br />


<div class="row">
    <div class="card col-lg-12">
        <div class="card card-outline card-info collapsed-card">
            <div class="card-header">
                <h3 class="card-title">Filtros</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <select name="empresa" class="form-control">
                            <option value="0">---Seleccione Empresa---</option>
                            <option value="1">MAQSUR S.A.</option>
                            <option value="2">BIOMASA</option>
                            <option value="3">TECSUR</option>
                            <option value="3">MQS</option>
                            <option value="3">NOK</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <select name="empresa" class="form-control">
                            <option value="0">---Seleccione Tipo---</option>
                            <option value="1">Tipo 1</option>
                            <option value="2">Tipo 2</option>
                            <option value="3">Tipo 3</option>
                            <option value="3">Tipo 4</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" id="nombrearchivo" placeholder="Número Activo">
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" id="nombrearchivo" placeholder="Código Interno">
                    </div>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-2">
                        <div class="row justify-content-end">
                            <button class="btn btn-info btn-sm " type="button" onclick="RefreshLista()"><i class="fa fa-search"></i> Filtrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Detalle de activos</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-sm-11">
                    </div>
                    <div class="col-sm-1">
                        <nav class="navbar navbar-light mb-1" style="background-color: #e3f2fd;">
                            <div class="form-inline my-1 my-lg-0">
                                <button class="btn btn-primary btn-sm justify-content-end" type="button" data-toggle="modal" data-target="#cargamasiva"><i class="fa fa-plus"></i>Carga Masiva</button>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover dataTable dtr-inline" width="100%" id="grillaEmpresa" data-order='[[ 0, "asc" ]]'>
                        <thead class="thead-light">
                            <tr>
                                <th class="no-sort" width="3%">&nbsp;</th>
                                <th>Num. Interno</th>
                                <th>Capacidad</th>
                                <th>Descripción</th>
                                <th>Marca</th>
                                <th>Modelo</th>
                                <th>Motor</th>
                                <th>Serie</th>
                                <th>Año</th>
                                <th>Valor</th>
                                <th>G/D</th>
                                <th>Mes/Año</th>
                                <th>Fec. Cobro</th>
                                <th>CC MQS S.A.</th>
                                <th>CC MQS SUR S.A.</th>
                                <th>Num. Factura</th>
                                <th>Valor Factura</th>
                                <th>Operación/Contrato Leas.</th>
                                <th>Patente</th>
                                <th>Fec. Patente</th>
                                <th>Leasing</th>
                                <th>Banco</th>
                                <th>Descripción</th>
                                <th>Poliza</th>
                                <th>Num. Endose</th>
                                <th>Fec. Solicitud</th>
                                <th class="no-sort" width="3%">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#crearactivo"><i class="far fa-eye"></i></button></td>
                                <td>6298</td>
                                <td>COMPRESOR 190 CFM</td>
                                <td>Compresor</td>
                                <td>Atlas Copco</td>
                                <td>XAS 97DD HH</td>
                                <td>12008041</td>
                                <td>APP454750</td>
                                <td>2017</td>
                                <td>7,462,439.00</td>
                                <td>737872</td>
                                <td>21-09-2017</td>
                                <td></td>
                                <td>2-B-6298</td>
                                <td>2-B-6298</td>
                                <td>311377</td>
                                <td></td>
                                <td>73394</td>
                                <td></td>
                                <td></td>
                                <td>MAQSUR LTDA</td>
                                <td>BCI</td>
                                <td>8 COMPRESORES ATLAS COPCO 15 DOOSAN</td>
                                <td>11035524</td>
                                <td>4</td>
                                <td></td>
                                <td><button class="btn btn-primary btn-sm justify-content-end" type="button" data-toggle="modal" data-target="#crear"><i class="far fa-trash-alt"></i></button></td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#crearactivo"><i class="far fa-eye"></i></button></td>
                                <td>6298</td>
                                <td>COMPRESOR 190 CFM</td>
                                <td>Compresor</td>
                                <td>Atlas Copco</td>
                                <td>XAS 97DD HH</td>
                                <td>12008041</td>
                                <td>APP454750</td>
                                <td>2017</td>
                                <td>7,462,439.00</td>
                                <td>737872</td>
                                <td>21-09-2017</td>
                                <td></td>
                                <td>2-B-6298</td>
                                <td>2-B-6298</td>
                                <td>311377</td>
                                <td></td>
                                <td>73394</td>
                                <td></td>
                                <td></td>
                                <td>MAQSUR LTDA</td>
                                <td>BCI</td>
                                <td>8 COMPRESORES ATLAS COPCO 15 DOOSAN</td>
                                <td>11035524</td>
                                <td>4</td>
                                <td></td>
                                <td><button class="btn btn-primary btn-sm justify-content-end" type="button" data-toggle="modal" data-target="#crear"><i class="far fa-trash-alt"></i></button></td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#crearactivo"><i class="far fa-eye"></i></button></td>
                                <td>6298</td>
                                <td>COMPRESOR 190 CFM</td>
                                <td>Compresor</td>
                                <td>Atlas Copco</td>
                                <td>XAS 97DD HH</td>
                                <td>12008041</td>
                                <td>APP454750</td>
                                <td>2017</td>
                                <td>7,462,439.00</td>
                                <td>737872</td>
                                <td>21-09-2017</td>
                                <td></td>
                                <td>2-B-6298</td>
                                <td>2-B-6298</td>
                                <td>311377</td>
                                <td></td>
                                <td>73394</td>
                                <td></td>
                                <td></td>
                                <td>MAQSUR LTDA</td>
                                <td>BCI</td>
                                <td>8 COMPRESORES ATLAS COPCO 15 DOOSAN</td>
                                <td>11035524</td>
                                <td>4</td>
                                <td></td>
                                <td><button class="btn btn-primary btn-sm justify-content-end" type="button" data-toggle="modal" data-target="#crear"><i class="far fa-trash-alt"></i></button></td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#crearactivo"><i class="far fa-eye"></i></button></td>
                                <td>6298</td>
                                <td>COMPRESOR 190 CFM</td>
                                <td>Compresor</td>
                                <td>Atlas Copco</td>
                                <td>XAS 97DD HH</td>
                                <td>12008041</td>
                                <td>APP454750</td>
                                <td>2017</td>
                                <td>7,462,439.00</td>
                                <td>737872</td>
                                <td>21-09-2017</td>
                                <td></td>
                                <td>2-B-6298</td>
                                <td>2-B-6298</td>
                                <td>311377</td>
                                <td></td>
                                <td>73394</td>
                                <td></td>
                                <td></td>
                                <td>MAQSUR LTDA</td>
                                <td>BCI</td>
                                <td>8 COMPRESORES ATLAS COPCO 15 DOOSAN</td>
                                <td>11035524</td>
                                <td>4</td>
                                <td></td>
                                <td><button class="btn btn-primary btn-sm justify-content-end" type="button" data-toggle="modal" data-target="#crear"><i class="far fa-trash-alt"></i></button></td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#crearactivo"><i class="far fa-eye"></i></button></td>
                                <td>6298</td>
                                <td>COMPRESOR 190 CFM</td>
                                <td>Compresor</td>
                                <td>Atlas Copco</td>
                                <td>XAS 97DD HH</td>
                                <td>12008041</td>
                                <td>APP454750</td>
                                <td>2017</td>
                                <td>7,462,439.00</td>
                                <td>737872</td>
                                <td>21-09-2017</td>
                                <td></td>
                                <td>2-B-6298</td>
                                <td>2-B-6298</td>
                                <td>311377</td>
                                <td></td>
                                <td>73394</td>
                                <td></td>
                                <td></td>
                                <td>MAQSUR LTDA</td>
                                <td>BCI</td>
                                <td>8 COMPRESORES ATLAS COPCO 15 DOOSAN</td>
                                <td>11035524</td>
                                <td>4</td>
                                <td></td>
                                <td><button class="btn btn-primary btn-sm justify-content-end" type="button" data-toggle="modal" data-target="#crear"><i class="far fa-trash-alt"></i></button></td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#crearactivo"><i class="far fa-eye"></i></button></td>
                                <td>6298</td>
                                <td>COMPRESOR 190 CFM</td>
                                <td>Compresor</td>
                                <td>Atlas Copco</td>
                                <td>XAS 97DD HH</td>
                                <td>12008041</td>
                                <td>APP454750</td>
                                <td>2017</td>
                                <td>7,462,439.00</td>
                                <td>737872</td>
                                <td>21-09-2017</td>
                                <td></td>
                                <td>2-B-6298</td>
                                <td>2-B-6298</td>
                                <td>311377</td>
                                <td></td>
                                <td>73394</td>
                                <td></td>
                                <td></td>
                                <td>MAQSUR LTDA</td>
                                <td>BCI</td>
                                <td>8 COMPRESORES ATLAS COPCO 15 DOOSAN</td>
                                <td>11035524</td>
                                <td>4</td>
                                <td></td>
                                <td><button class="btn btn-primary btn-sm justify-content-end" type="button" data-toggle="modal" data-target="#crear"><i class="far fa-trash-alt"></i></button></td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#crearactivo"><i class="far fa-eye"></i></button></td>
                                <td>6298</td>
                                <td>COMPRESOR 190 CFM</td>
                                <td>Compresor</td>
                                <td>Atlas Copco</td>
                                <td>XAS 97DD HH</td>
                                <td>12008041</td>
                                <td>APP454750</td>
                                <td>2017</td>
                                <td>7,462,439.00</td>
                                <td>737872</td>
                                <td>21-09-2017</td>
                                <td></td>
                                <td>2-B-6298</td>
                                <td>2-B-6298</td>
                                <td>311377</td>
                                <td></td>
                                <td>73394</td>
                                <td></td>
                                <td></td>
                                <td>MAQSUR LTDA</td>
                                <td>BCI</td>
                                <td>8 COMPRESORES ATLAS COPCO 15 DOOSAN</td>
                                <td>11035524</td>
                                <td>4</td>
                                <td></td>
                                <td><button class="btn btn-primary btn-sm justify-content-end" type="button" data-toggle="modal" data-target="#crear"><i class="far fa-trash-alt"></i></button></td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#crearactivo"><i class="far fa-eye"></i></button></td>
                                <td>6298</td>
                                <td>COMPRESOR 190 CFM</td>
                                <td>Compresor</td>
                                <td>Atlas Copco</td>
                                <td>XAS 97DD HH</td>
                                <td>12008041</td>
                                <td>APP454750</td>
                                <td>2017</td>
                                <td>7,462,439.00</td>
                                <td>737872</td>
                                <td>21-09-2017</td>
                                <td></td>
                                <td>2-B-6298</td>
                                <td>2-B-6298</td>
                                <td>311377</td>
                                <td></td>
                                <td>73394</td>
                                <td></td>
                                <td></td>
                                <td>MAQSUR LTDA</td>
                                <td>BCI</td>
                                <td>8 COMPRESORES ATLAS COPCO 15 DOOSAN</td>
                                <td>11035524</td>
                                <td>4</td>
                                <td></td>
                                <td><button class="btn btn-primary btn-sm justify-content-end" type="button" data-toggle="modal" data-target="#crear"><i class="far fa-trash-alt"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="cargamasiva" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="modal-crearLabel" aria-hidden="true">
    @Html.Partial("ModalCargaMasivaA", null)
</div>
<div class="modal fade" id="vercontratoorigen" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="modal-crearLabel" aria-hidden="true">

</div>

<script>
    $(document).ready(function () {
        AbrirMenu("ControlInterno");
    });
</script>
@*
    <script>
        $(document).ready(function () {
            $('#grillaProductos').DataTable({
                "searching": false,
                buttons: [],
            });
            AbrirMenu('ContratoBuscar');
            $("#stockMaterial").hide();
            $('#selectMaterial').select2({
                placeholder: 'Busque Material',
                language: "es",
                minimumInputLength: 3,
                data: data
                /*ajax: {
                    url: '/Producto/Productos_Read/',
                    dataType: 'json'
                    // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
                }*/
            });
            $('#selectMaterial').on('select2:select', function (e) {
                var data = e.params.data;
                $("#stockMaterial").show();
                $('#selectMaterial').val(null).trigger('change');
            });
        })

        function abreMaterial() {
            $("#datosBuscar").empty();
            $('#crear-material').modal('show');
            tmpUrl = "/Home/SolicitudCreaMaterial";
            $.ajax({
                url: tmpUrl,
                type: "Get",
                data: {},
                success: function (data) {
                    $("#datosBuscar").empty();
                    $("#datosBuscar").html(data);
                    esconderCargando();
                }
            });
        }

    </script>
*@