@{
    ViewBag.Title = "Deudas Relacionadas";
}
@{
    tesoreria.Helper.Seguridad seguridad = System.Web.HttpContext.Current.Session["Seguridad"] as tesoreria.Helper.Seguridad;
}

<div class="d-sm-flex align-items-center justify-content-between">
    <h5 class="h5 mb-0 text-gray-800">Préstamos entre Relacioandas</h5>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home/Inicio">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Inicio</li>
    </ol>
</div>
<h6 class="h6 mb-0 text-gray-800">Acá puedes revisar los préstamos entre empresas relacionadas.</h6>
<br />

@*
<div class="row">
    <div class="card col-lg-12">
        <div class="card card-outline card-info collapsed-card">
            <div class="card-header">
                <h3 class="card-title">Filtros</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <select name="empresa" class="form-control">
                            <option value="0">---Seleccione Empresa---</option>
                            <option value="1">MAQSUR S.A.</option>
                            <option value="2">BIOMASA</option>
                            <option value="3">TECSUR</option>
                            <option value="3">MQS</option>
                            <option value="3">NOK</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <select name="empresa" class="form-control">
                            <option value="0">---Seleccione Tipo---</option>
                            <option value="1">Tipo 1</option>
                            <option value="2">Tipo 2</option>
                            <option value="3">Tipo 3</option>
                            <option value="3">Tipo 4</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" id="nombrearchivo" placeholder="Número Activo">
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" id="nombrearchivo" placeholder="Código Interno">
                    </div>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-2">
                        <div class="row justify-content-end">
                            <button class="btn btn-info btn-sm " type="button" onclick="RefreshLista()"><i class="fa fa-search"></i> Filtrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
*@
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" style="background-color:lightgrey">
                <h3 class="card-title">Por Cobrar</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover dataTable dtr-inline" width="100%" id="grillaPorCobrar" data-order='[[ 0, "asc" ]]'>
                        <thead class="thead-light">
                            <tr>
                                <th class="no-sort" width="3%">&nbsp;</th>
                                <th>Cuentas por Cobrar</th>
                                <th>Maquinaria Sur Ltda.</th>
                                <th>Biomasa S.A.</th>
                                <th>Maqsur Maquinarias S.A.</th>
                                <th>Maqsur Naviera S.A.</th>
                                <th>Astilleros Chiloe</th>
                                <th>Tecsur S.A.</th>
                                <th>Nok S.A.</th>
                                <th>Pronet SpA</th>
                                <th>Biomasa Fish Service </th>
                                <th>Inmobiliaria Maqsur</th>
                                <th>Asesur</th>
                                <th>Paso Andino</th>
                                <th>Total CxC</th>                          
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#ModalDetalleCobrar"><i class="far fa-eye"></i></button></td>
                                <td>Maquinarias Sur Ltda.</td>
                                <td>0</td>
                                <td>713,391,161.00</td>
                                <td>494,655,132.00</td>
                                <td>0</td>
                                <td>8,364,281.00</td>
                                <td>460,874,347.00</td>
                                <td>18,959,032.00</td>
                                <td>14,265,933.00</td>
                                <td>708,618,536.00</td>
                                <td>26,374,404.00</td>
                                <td>0</td>
                                <td>6,938,561.00</td>
                                <td>2,452,441,387.00</td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#ModalDetalleCobrar"><i class="far fa-eye"></i></button></td>
                                <td>Biomasa S.A.</td>
                                <td>496,145,245.00</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>158,497,621.00</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>654,642,866.00</td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#ModalDetalleCobrar"><i class="far fa-eye"></i></button></td>
                                <td>Biosub</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#ModalDetalleCobrar"><i class="far fa-eye"></i></button></td>
                                <td>Maqsur Maquinarias S.A.</td>
                                <td>664,383.00</td>
                                <td>17,740,025.00</td>
                                <td>0</td>
                                <td>0</td>
                                <td>68,632,263.00</td>
                                <td>4,365,668.00</td>
                                <td>5,158,323.00</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>96,560,662.00</td>
                            </tr>                          
                            <tr>
                                <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#ModalDetalleCobrar"><i class="far fa-eye"></i></button></td>
                                <td>Maqsur Naviera S.A.</td>
                                <td>0</td>
                                <td>54,442,500.00</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>54,442,500.00</td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#ModalDetalleCobrar"><i class="far fa-eye"></i></button></td>
                                <td>Astilleros Chiloe</td>
                                <td>7,211.00</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>7,211.00</td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#ModalDetalleCobrar"><i class="far fa-eye"></i></button></td>
                                <td>Tecsur S.A.</td>
                                <td>5,950,000.00</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>37,594,278.00</td>
                                <td>0</td>
                                <td>23,226,476.00</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>66,770,754.00</td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#ModalDetalleCobrar"><i class="far fa-eye"></i></button></td>
                                <td>Nok S.A.</td>
                                <td>0</td>
                                <td>9,663,444.00</td>
                                <td>0</td>
                                <td>0</td>
                                <td>210,600.00</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>9,874,044.00</td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#ModalDetalleCobrar"><i class="far fa-eye"></i></button></td>
                                <td>Pronet SpA</td>
                                <td>100.00</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>100.00</td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#ModalDetalleCobrar"><i class="far fa-eye"></i></button></td>
                                <td>Biomasa Fish Service</td>
                                <td>0</td>
                                <td>314,845,415.00</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>314,845,415.00</td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#ModalDetalleCobrar"><i class="far fa-eye"></i></button></td>
                                <td>Inmobiliaria del sur</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#ModalDetalleCobrar"><i class="far fa-eye"></i></button></td>
                                <td>Paso Andino</td>
                                <td>1,000,000.00</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>1,000,000.00</td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#ModalDetalleCobrar"><i class="far fa-eye"></i></button></td>
                                <td>Asesur</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" style="background-color:lightgrey">
                <h3 class="card-title">Por Pagar</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover dataTable dtr-inline" width="100%" id="grillaPorPagar" data-order='[[ 0, "asc" ]]'>
                        <thead class="thead-light">
                            <tr>
                                <th class="no-sort" width="3%">&nbsp;</th>
                                <th>Cuentas por Pagar</th>
                                <th>Maquinaria Sur Ltda.</th>
                                <th>Biomasa S.A.</th>
                                <th>Maqsur Maquinarias S.A.</th>
                                <th>Maqsur Naviera S.A.</th>
                                <th>Astilleros Chiloe</th>
                                <th>Tecsur S.A.</th>
                                <th>Nok S.A.</th>
                                <th>Pronet SpA</th>
                                <th>Biomasa Fish Service </th>
                                <th>Inmobiliaria Maqsur</th>
                                <th>Asesur</th>
                                <th>Paso Andino</th>
                                <th>Total CxP</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#ModalDetallePagar"><i class="far fa-eye"></i></button></td>
                                <td>Maquinarias Sur Ltda.</td>
                                <td>0</td>
                                <td>496,145,245.00</td>
                                <td>664,384.00</td>
                                <td>0</td>
                                <td>0</td>
                                <td>5,950,000.00</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>1,000,000.00</td>
                                <td>503,759,629.00</td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#ModalDetallePagar"><i class="far fa-eye"></i></button></td>
                                <td>Biomasa S.A.</td>
                                <td>713,391,062.00</td>
                                <td>0</td>
                                <td>17,740,025.00</td>
                                <td>54,442,500.00</td>
                                <td>0</td>
                                <td>0</td>
                                <td>9,663,444.00</td>
                                <td>0</td>
                                <td>314,845,415.00</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>1,110,082,446.00</td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#ModalDetallePagar"><i class="far fa-eye"></i></button></td>
                                <td>Biosub</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#ModalDetallePagar"><i class="far fa-eye"></i></button></td>
                                <td>Maqsur Maquinarias S.A.</td>
                                <td>494,655,128.00</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>494,655,128.00</td>
                            </tr>
                            
                            <tr>
                                <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#ModalDetallePagar"><i class="far fa-eye"></i></button></td>
                                <td>Maqsur Naviera S.A.</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#ModalDetallePagar"><i class="far fa-eye"></i></button></td>
                                <td>Astilleros Chiloe</td>
                                <td>8,364,281.00</td>
                                <td>0</td>
                                <td>68,632,263.00</td>
                                <td>0</td>
                                <td>0</td>
                                <td>37,594,278.00</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>114,590,822.00</td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#ModalDetallePagar"><i class="far fa-eye"></i></button></td>
                                <td>Tecsur S.A.</td>
                                <td>460,874,749.00</td>
                                <td>0</td>
                                <td>4,365,668.00</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>210,600.00</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>465,451,017.00</td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#ModalDetallePagar"><i class="far fa-eye"></i></button></td>
                                <td>Nok S.A.</td>
                                <td>18,959,031.00</td>
                                <td>0</td>
                                <td>5,158,323.00</td>
                                <td>0</td>
                                <td>0</td>
                                <td>23,226,476.00</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>47,343,830.00</td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#ModalDetallePagar"><i class="far fa-eye"></i></button></td>
                                <td>Pronet SpA</td>
                                <td>14,265,933.00</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>14,265,933.00</td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#ModalDetallePagar"><i class="far fa-eye"></i></button></td>
                                <td>Biomasa Fish Service</td>
                                <td>708,618,354.00</td>
                                <td>158,497,621.00</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>867,115,975.00</td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#ModalDetallePagar"><i class="far fa-eye"></i></button></td>
                                <td>Inmobiliaria del sur</td>
                                <td>26,374,403.67</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>26,374,403.67</td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#ModalDetallePagar"><i class="far fa-eye"></i></button></td>
                                <td>Paso Andino</td>
                                <td>6,938,561.00</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>6,938,561.00</td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#ModalDetallePagar"><i class="far fa-eye"></i></button></td>
                                <td>Asesur</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="ModalDetalleCobrar" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="modal-crearLabel" aria-hidden="true">

</div>
<div class="modal fade" id="ModalDetallePagar" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="modal-crearLabel" aria-hidden="true">

</div>

<script>
    $(document).ready(function () {
        AbrirMenu("PrestamoRelacionadas");
    });
</script>
@*
    <script>
        $(document).ready(function () {
            $('#grillaProductos').DataTable({
                "searching": false,
                buttons: [],
            });
            AbrirMenu('ContratoBuscar');
            $("#stockMaterial").hide();
            $('#selectMaterial').select2({
                placeholder: 'Busque Material',
                language: "es",
                minimumInputLength: 3,
                data: data
                /*ajax: {
                    url: '/Producto/Productos_Read/',
                    dataType: 'json'
                    // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
                }*/
            });
            $('#selectMaterial').on('select2:select', function (e) {
                var data = e.params.data;
                $("#stockMaterial").show();
                $('#selectMaterial').val(null).trigger('change');
            });
        })

        function abreMaterial() {
            $("#datosBuscar").empty();
            $('#crear-material').modal('show');
            tmpUrl = "/Home/SolicitudCreaMaterial";
            $.ajax({
                url: tmpUrl,
                type: "Get",
                data: {},
                success: function (data) {
                    $("#datosBuscar").empty();
                    $("#datosBuscar").html(data);
                    esconderCargando();
                }
            });
        }

    </script>
*@